{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load scribbler_tags %}

{% block content %}
{% include "messages_include.html" %}

{% include "company_admin/invoices.html" %}

{% if payments.count > 0 %}
<h2>{% trans "Vystavit novou fakturu" %}</h2>
<p>
   {% scribble 'before_invoice' %}
   {% load i18n %}
   {% blocktrans %}
   Do práce na kole pořádá pátým rokem nezisková organizace <a title="Auto-Mat" href="http://www.auto-mat.cz/" target="_blank">Auto*Mat</a>, která se již více než 10 let snaží o zlepšení kvality života v našich městech.
   Protože věříme, že jedním ze zásadních faktorů ovliňujících kvalitu života ve městě je organizace a plánování dopravy, snažíme se naše město a život v něm měnit právě skrze tuto sféru.
   <br/>
   <strong>Nabízíme všem firmám, které se zapojují do soutěže, možnost zaplatit benefiční startovné</strong>, kterým podpoří přímo činnost Auto*Matu.
   Zejména tím podpoříte naši činnost v oblasti “cyklo-advokacie”, kde se snažíme různými způsoby prosazovat chytrá koncepční opatření pro zlepšení cyklo-infastruktury a související dopravní infrastruktury ve městě.
   <br/>
   <strong>Pokud si přejete podpořit Auto*Mat benefičním startovným, zvolte možnost níže.</strong>
   {% endblocktrans %}
   {% endscribble %}
</p>
<p>
{% blocktrans count competitors_count=payments.count %}
Vytvořit fakturu pro následujícho soutěžícího:
{% plural %}
Vytvořit fakturu pro následujících {{ competitors_count }} soutěžících:
{% endblocktrans %}
</p>
<table id="pay_for" class="table table-bordered table-hover table-condensed">
   <thead>
      <tr>
         <th>{% trans "Účastník" %}</th>
         <th>{% trans "Částka" %}</th>
      </tr>
   </thead>
   {% for payment in payments %}
   <tr>
      <td>{{ payment.user_attendance.name_for_trusted }}</td>
      <td>{{ payment.amount }} Kč</td>
   </tr>
   {% endfor %}
</table>
<br/>
{{ company }}
<br/>
{{ company.address.street }}
{{ company.address.street_number }}
<br/>
{{ company.address.psc }} {{ company.address.city }}
<br/>
{% trans "IČO: " %}{{ company.ico }}
<br/>
{% trans "DIČ: " %}{{ company.dic }}
<br/>
<a class="btn btn-primary" href="{% url 'edit_company' %}">{% trans "Změnit adresu organizace" %}</a>
<hr/>
{{ block.super }}
{% else %}
<div class="alert alert-info">{% trans "Nemáte žádné další soutěžící, pro které by bylo možné vytvořit fakturu" %}</div>
{% endif %}

{% endblock %}
