{% load dpnk_tags %}
{% load i18n %}
   <p>
   Při placení startovného postupujte následovně:
   <ol>
      <li>Pro každou fakturu vytvořte samostatný převod.</li>
      <li>Pečlivě z faktury opište <b>číslo účtu</b>.</li>
      <li>Zadejte <b>variabilní symbol</b>. V opačném případě neručíme za její úspěšné přijetí.</li>
   </ol>
   </p>
   <table class="table table-bordered" id="company_competition_table">
   <tr>
   <th>{% trans "Den vystavení daňového dokladu" %}</th>
   <th>{% trans "Soubor s fakturou" %}</th>
   <th>{% trans "Počet plateb" %}</th>
   <th>{% trans "Povinný variabilní symbol" %}</th>
   <th>{% trans "Částka včetně DPH" %}</th>
   <th>{% trans "Datum potvrzení zaplacení" %}</th>
   </tr>
   {% for invoice in invoices %}
      <tr>
      <td>{{ invoice.exposure_date }}</td>
      <td>
         <a href="{{ invoice.invoice_pdf.url }}">{% trans "PDF soubor" %}</a>
         <br/>
         (<a href="{{ invoice.invoice_xml.url }}" download="faktura_{{invoice.campaign.slug_identifier}}_{{invoice.id}}_pohoda.xml">{% trans "Pohoda&nbsp;XML" %}</a>)
      </td>
      <td>{{ invoice.payment_set.count }}</td>
      <td>{{ invoice.variable_symbol }}</td>
      <td>{{ invoice.total_amount }}</td>
      {% if invoice.paid %}
      <td>{{ invoice.paid_date }}</td>
      {% else %}
      <td>{% trans "Zaplacení nepotvrzeno" %}</td>
      {% endif %}
      </tr>
   {% endfor %}
   </table>
