{% extends "base_generic.html" %}
{% load dpnk_tags %}
{% load i18n %}

{% block content %}
<table class="table table-bordered" id="company_competition_table">
<tr>
<th>{% trans "Jméno soutěže" %}</th>
<th>{% trans "Města" %}</th>
<th>{% trans "Typ soutěže" %}</th>
<th>{% trans "Výsledky" %}</th>
</tr>
{% for competition in competitions %}
   <tr>
      <td>
         {% if competition.url %}<a href="{{ competition.url}}">{% endif %}
            {{ competition.name }}
         {% if competition.url %}</a>{% endif %}
      </td>
   <td>{{ competition.city_list }}</td>
   <td>{{ competition.type_string }}</td>
   <td><a href="{% url 'competition_results' competition_slug=competition.slug %}#search_company={{user_attendance.related_company_admin.administrated_company}}">{% trans "výsledky za mojí organizaci" %}</a>&nbsp;(<i class="fa fa-download"></i>&nbsp;<a href="{% url 'export_competition_results' competition_slug=competition.slug extension="csv" organization=user_attendance.related_company_admin.administrated_company.pk %}">csv</a>, <a href="{% url 'export_competition_results' competition_slug=competition.slug extension="xls" organization=user_attendance.related_company_admin.administrated_company.pk %}">xls</a>, <a href="{% url 'export_competition_results' competition_slug=competition.slug extension="ods"  organization=user_attendance.related_company_admin.administrated_company.pk %}">ods</a>)</td>
   </tr>
{% endfor %}
</table>
{% endblock %}
