{% extends "base_generic_form.html" %}
{% load dpnk_tags %}
{% load i18n %}

{% block form %}
<b>{{ company }}</b><br/>
{{ company_address }}
<div class="_subsidiary">
   {% for subsidiary in subsidiaries.all %}
      <div>
         {{ subsidiary }}
      </div>
      <a class="btn btn-default btn-sm" href="{% url 'edit_subsidiary' subsidiary.pk %}">
         {% trans "upravit" %}
      </a>
      <div>
         {% for team in subsidiary.teams.all %}
            <div class="_team">
               {% if team.campaign == campaign %}
                  <h5>
                     {{ team.name }}
                  </h5>
                  <div>
                  {% for team_member in team.users.all %}
                     {% include "registration/team_member_card.html" with include_payment_state=True%}
                  {% endfor %}
               {% endif %}
            </div>
         {% endfor %}
      </div>
   {% endfor %}
</div>
{% trans "Exportovat účastníky za mojí společnost" %}: <br>
<a class="btn btn-default btn-sm" href="{% url "company_export" extension="csv" %}">CSV</a>
<a class="btn btn-default btn-sm" href="{% url "company_export" extension="ods" %}">ODS</a>
<a class="btn btn-default btn-sm" href="{% url "company_export" extension="xls" %}">XLS</a>
{% endblock %}
