{% extends "admin/base_site.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<style>
 .zoomed {
     font-size: 40px;
     position: absolute;
     top: 40vh;
 }
 #id_dispatch_id, #submit-id-submit {
     font-size: 40px !important;
 }
 li {
     font-size: 40px !important;
     line-height: 45px !important;
 }
</style>
<div class="zoomed">
{% crispy form %}
<br/>
   {% if package_message %}
      <div>
         <strong style="color:{{ package_message_color }}">
            {{ package_message }}
         </strong>
      </div>
   {% endif %}
   {% if box %}
      <div>
         <strong style="color:{% if box.all_packages_dispatched %}green{% else %}red{% endif %}">
               Z krabice {{ box.identifier }} bylo sestaveno {{ box.dispatched_packages_count }} z {{ box.packages_count }} balíčků.
         </strong>
      </div>
   {% endif %}
      {% if package %}
      <p>
          {% trans "Balík obsahuje:" %}
      </p>
      <list>
          {% for item in package.packagetransaction_set.all %}
          <li>{{item.t_shirt_size.name}}: <b>{{item.t_shirt_size.code}}</b></li>
          {% endfor %}
      </list>
      {% endif %}
</div>
{% endblock %}
