{% extends "admin/base_site.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
{% crispy form %}

{% if messages %}
    {% for message in messages %}
       {% if not required_tag and not message.extra_tags or required_tag in message.extra_tags %}
          <div class="alert alert-{{ message.level_tag }}">{{ message }}</div>
       {% endif %}
    {% endfor %}
{% endif %}
<br/>
   {% if package_message %}
      <div>
         <strong style="color:{{ package_message_color }}">
            {{ package_message }}
         </strong>
      </div>
   {% endif %}
   {% if box %}
      <div>
         <strong style="color:{% if box.all_packages_dispatched %}green{% else %}red{% endif %}">
               Z krabice {{ box.identifier }} bylo sestaveno {{ box.dispatched_packages_count }} z {{ box.packages_count }} balíčků.
         </strong>
      </div>
   {% endif %}
{% endblock %}
