{% extends "base_generic_form.html" %}
{% load i18n %}
{% load static %}

{% block messages %}
<div  class="card card-block card-outline-primary">
<p class="card-text">
{% if account %}
    {% trans "Jste propojené s účtem " %}{{account.first_name}} {{account.last_name}} ({{account.username}}).
    <br/>
    <br/>
    {% if sync_outcome %}
        Synchronizace proběhla uspěšně.<br/>
        Bylo přidano {{sync_outcome.new_trips}}
        z celkém {{sync_outcome.synced_trips}} cest.
        {% if not sync_outcome.synced_trips %}
        {% trans "Mate ve Stravě " %}{{sync_outcome.synced_activities}} {% trans "activites ale žadné nejsou označené s haštagem. Davejte haštagy " %}{{campaign_slug}}{% trans "tam nebo #" %}{{campaign_slug}}{% trans "zpet do názvy activity aby se počitali jako jizdy do praci a domu." %}
        {% endif %}
    {% elif sync_failed %}
        Synchronizaze selhalo {{sync_failed}}
    {% else %}
        {% if account.last_sync_time %}
            {% trans "Poslední synchronizace proběhlo " %}{{account.last_sync_time}}.<br/>
        {% else %}
            {% trans "Synchronizace neproběhlo. Tohle je chyba." %}
        {% endif %}
    {% endif %}
    <br/>
    <br/>
    {% if account.user_sync_count > warn_user_sync_count %}
    {% blocktrans %}
    Zlobí Vám synchronizace? Pokud potřebujete pomoc <a href="https://www.dopracenakole.cz/kontakt">volejte na helpdesk</a>.
    {% endblocktrans %}
    {% endif %}
    {% if account.user_sync_count < max_user_sync_count %}
    <form action="." method="post">
        {% csrf_token %}
        <input name="sync" value=1 hidden=1/>
        <input type="submit" class="btn btn-default float-right" value="{% trans "Synchronizovat" %}" />
    </form>
    {% endif %}
    <br/>
    <form action="{% url "strava_deauth" %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-default float-right" value="{% trans "Odpojit" %}" />
    </form>
{% else %}
    {% trans "Ještě nejste propojené se Stravou " %}
    <a href="{{authorize_href}}"  class="btn btn-default float-right">
    <img src="{% static "img/connect_with_strava.png" %}" alt="{% trans "Propojit se Stravou" %}" /></a></p>
{% endif %}
</div>
<h2>{% trans "Jak to funguje" %}</h2>
{% trans "V aplikace stravě, napíšte do nazvé svých aktivit haštag #" %}{{campaign_slug}}{% trans "tam nebo #" %}{{campaign_slug}}{% trans "zpet. Automatické se bude poté synchronizovat." %}
{% endblock %}

