{% load dpnk_tags %}
{% load i18n %}
<table class="table table-hover table-condensed">
   <thead>
      <tr><th>{% trans "Po" %}</th><th>{% trans "Út" %}</th><th>{% trans "St" %}</th><th>{% trans "Čt" %}</th><th>{% trans "Pá" %}</th><th>{% trans "So" %}</th><th>{% trans "Ne" context "day name" %}</th></tr>
   </thead>
   <tbody>
      <tr>
      {% for i in padding_days_before|times %}
      <td></td>
      {% endfor %}
      {% for trip in trips %}
         <td class="{% if not trip.working_day %}non-{% endif %}working-day">
            {{ trip.date|date:"SHORT_DATE_FORMAT" }}
            <br>
            <input type="checkbox" name="working-ride-to-{{ trip.date| date:"Ymd" }}" class="working-ride" id="working-ride-to-{{ trip.date| date:"Ymd" }}"
            {% if trip.is_working_ride_to %}checked="checked"{% endif %}
            {% if not trip.can_edit %}disabled="disabled"{% endif %}
            ><label for="working-ride-to-{{ trip.date| date:"Ymd" }}">{% trans "Tam" %}</label></input>
            <br>
            <input type="checkbox" name="working-ride-from-{{ trip.date| date:"Ymd" }}" class="working-ride" id="working-ride-from-{{ trip.date| date:"Ymd" }}"
            {% if trip.is_working_ride_from %}checked="checked"{% endif %}
            {% if not trip.can_edit %}disabled="disabled"{% endif %}
            ><label for="working-ride-from-{{ trip.date| date:"Ymd" }}">{% trans "Zpět" %}</label></input>
         </td>
         {% if trip.date.weekday == 6 %}
            </tr>
            <tr>
         {% endif %}
      {% endfor %}
      {% for i in padding_days_after|times %}
      <td></td>
      {% endfor %}
      </tr>
   </tbody>
</table>
<strong>
{% trans "Počet plánovaných pracovních jízd celkem:" %} <span id="rides-count"></span>
<br/>
{% trans "Minimální počet jízd, splňující podmínky soutěže:" %} <span id="minimum-rides"></span>
<br/>
<span id="not-enough-rides-warning" class="text-danger" style="display:none">{% trans "Není možné dosáhnout minimálního počtu jízd, pro splnění kritérií soutěže je nutné si zapsat více pracovních dní." %}</span>
</strong>
<script>
minimum_percentage = {{ trips.0.user_attendance.campaign.minimum_percentage }}
minimum_rides_base = {{ trips.0.user_attendance.campaign.minimum_rides_base }}
</script>
