{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h4>Odsouhlasení členství uživatle v týmu</h4>
Uživatel: {{ user.userprofile }}
Tým: {{ user.userprofile.team }}

{% if approved_state == 'unapproved' or approved_state == 'no_message' %}
   {% if approved_state == 'no_message' %}
      <div class="errorlist">Při zamítnutí člena týmu musíte vyplnit zprávu.</div>
   {% endif %}
   <form method="post">{% csrf_token %}
      <input type="submit" id="approve" name="approve" value="Ověřit"/>
      <br/>
      <label for="deny_reason">Důvod odmítnutí</label>
      <input id="deny_reason" name="deny_reason" type="text"/>
      <input type="submit" id="deny" name="deny" value="Zamítnout"/>
   </form>
{% else %}
   {% if action %}
      {% if state == 'approved' %}
         Členství bylo právě potvrzeno.
      {% elif state == 'denied' %}
         Členství bylo právě zamítnuto z důvodu: {{ reason }}
      {% endif %}
   {% else %}
      {% if state == 'approved' %}
         Členství uživatele již bylo potvrzeno. Nebude provedena žádná akce.
      {% elif state == 'denied' %}
         Členství uživatele již bylo zamítnuto. Nebude provedena žádná akce.
      {% endif %}
   {% endif %}
{% endif %}

{% endblock %}

