{% extends "base.html" %}
{% load url from future %}

{% block content %}
{% if action %}
   {% if state == 'approved' %}
      Členství uživatele "{{ user.userprofile }}" v týmu "{{ user.userprofile.team }}" bylo právě potvrzeno.
   {% elif state == 'denied' %}
      Členství uživatele "{{ user.userprofile }}" v týmu "{{ user.userprofile.team }}" bylo právě zamítnuto.
   {% endif %}
{% else %}
   {% if state == 'approved' %}
      Členství uživatele "{{ user.userprofile }}" v týmu "{{ user.userprofile.team}}" již bylo potvrzeno. Nebyla provedena žádná akce.
   {% elif state == 'denied' %}
      Členství uživatele "{{ user.userprofile }}" v týmu "{{ user.userprofile.team}}" již bylo zamítnuto. Nebyla provedena žádná akce.
   {% endif %}
{% endif %}

{% endblock %}

