{% extends "submenu_team.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block messages %}
{% blocktrans %}
Na této stránce zvolte váš tým.
Každý tým musí být registrovaný pod nějakou organizací a její pobočkou.
Do pole organizace napište několik začátečních písmen názvu vaší organizace a pokud již existuje, nabídne se vám k výběru.
{% endblocktrans %}
<br/>
<br/>
   {% trans "Pokud název organizace, nebo adresa pobočky v senamu je, ale je chybná, nezakládejte novou, ale žádejte opravu:" %}
   {% include "registration/request_change_company_coordinator_part.html" %}
{{ block.super }}
{% endblock %}

{% block container_header %}
<style>
   #id_company_div:disabled,
   #id_company:disabled,
   #id_subsidiary:disabled,
   #id_team:disabled {
      visibility: hidden;
   }
</style>

<script>
   function activateOnclick(){
      eval($("#id_team_selected").attr("onClick"));
      eval($("#id_subsidiary_selected").attr("onClick"));
      eval($("#id_company_selected").attr("onClick"));
   }

   function switchCompanyForm(){
      if ($('#id_company_selected').is(':checked')) {
         $("#id_team_selected").prop("checked", true);
         $("#id_subsidiary_selected").prop("checked", true);
      }
      activateOnclick();
   }

   function switchSubsidiaryForm(){
      if ($('#id_subsidiary_selected').is(':checked')) {
         $("#id_team_selected").prop("checked", true);
      } else {
         $("#id_company_selected").prop("checked", false);
      } 
      activateOnclick();
   }

   function switchTeamForm(){
      if (! $('#id_team_selected').is(':checked')) {
         $("#id_subsidiary_selected").prop("checked", false);
         $("#id_company_selected").prop("checked", false);
      }
      activateOnclick();
   }

   $(function() {
      $("#id_company_selected").on("click", switchCompanyForm);
      $("#id_subsidiary_selected").on("click", switchSubsidiaryForm);
      $("#id_team_selected").on("click", switchTeamForm);
   });
</script>
{{ block.super }}
{% endblock %}
