{% extends "submenu_team.html" %}
{% load i18n %}
{% load static %}

{% block messages %}
<br/>
   {% trans "Pokud název organizace nebo adresa pobočky v seznamu je, ale údaje jsou chybné, nezakládejte novou pobočku. Žádejte o opravu:" %}
   {% include "registration/request_change_company_coordinator_part.html" %}
{{ block.super }}
{% endblock %}

{% block container_header %}
{% include "fm/modal.html" %}
<script type="text/javascript">
    $(function() {
        updateSubsidiary = function(event, ui) {
           $("#fm-create-subsidiary").attr('href', "{% url 'register_subsidiary' "" %}" + $('#id_company_1').val());
           $("#fm-create-subsidiary").prop('disabled', $('#id_company_1').val() == "");
        }
        $.fm({
            debug: true,
            custom_callbacks: {
                "createCompanyCallback": function(data, options) {
                    $('#id_company_0').attr('value', data.name);
                    $('#id_company_1').attr('value', data.id);
                    updateSubsidiary();
                },
                "createSubsidiaryCallback": function(data, options) {
                    $('#id_company_1').change();
                    $('#id_subsidiary').one('change', function(event, ui) {
                       $('#id_subsidiary').val(data.id);
                       $('#id_subsidiary').change();
                    });
                },
                "createTeamCallback": function(data, options) {
                    $('#id_subsidiary').change();
                    $('#id_team').one('change', function(event, ui) {
                       $('#id_team').val(data.id);
                    });
                }
            }
        });
        $('#id_company_0').on('djselectablechange', updateSubsidiary);
        $('#id_company_1').change(updateSubsidiary);
        $('#id_subsidiary').change(function(event, ui) {
           $("#fm-create-team").attr('href', "{% url 'register_team' "" %}" + $('#id_subsidiary').val());
           $("#fm-create-team").prop('disabled', $('#id_subsidiary').val() == "");
        });
    });
</script>
{{ block.super }}
{% endblock %}
