{% extends "base_generic.html" %}
{% load i18n %}
{% load l10n %}
{% load cache %}
{% load humanize %}
{% load dpnk_tags %}
{% load static %}

{% block extrahead %}
{% include "datatables_header.html" %}
{{ block.super }}
{% endblock %}

{% block content %}
<script>
$(document).ready(function() {
   $('.table-ordered').DataTable( {
      "order": [[ 3, "desc" ]],
      "paging": false,
      "language": {
          "url": "{% static "js/datatables-plugins/i18n/" %}{{ current_language_code }}.json",
          "decimal": ",",
          "thousands": " "
      },
      "columns": [
          { "type": "html" },
          { "type": "num-fmt", render: $.fn.dataTable.render.number( '{% thousand_separator %}', '{% decimal_separator %}', 0, '' ) },
          { "type": "num-fmt", render: $.fn.dataTable.render.number( '{% thousand_separator %}', '{% decimal_separator %}', 1, '' ) },
          { "type": "num-fmt", render: $.fn.dataTable.render.number( '{% thousand_separator %}', '{% decimal_separator %}', 1, '' ) },
          { "type": "num-fmt", render: $.fn.dataTable.render.number( '{% thousand_separator %}', '{% decimal_separator %}', 1, '' ) },
          { "type": "num-fmt", render: $.fn.dataTable.render.number( '{% thousand_separator %}', '{% decimal_separator %}', 1, '' ) },
          { "type": "num-fmt", render: $.fn.dataTable.render.number( '{% thousand_separator %}', '{% decimal_separator %}', 1, '' ) },
          { "type": "num-fmt", render: $.fn.dataTable.render.number( '{% thousand_separator %}', '{% decimal_separator %}', 1, '' ) },
        ],
   } );
} );
</script>
{% cache 3600 "competitor_count2" campaign_slug %}
<table class="table table-striped table-bordered table-ordered table-hover">
<thead>
<tr>
   <th>{% trans "Město" %}</th>
   <th>{% trans "Počet soutěžících" %}</th>
   <th>{% trans "Vzdálenost na kole (km)" %}</th>
   <th>{% trans "Vzdálenost pěšky (km)" %}</th>
   <th>{% trans "Celková vzdálenost (km)" %}</th>
   <th>{% trans "Počet cest na kole" %}</th>
   <th>{% trans "Počet cest pěšky" %}</th>
   <th>{% trans "Ušetřené emise CO<sub>2</sub> (g)" %}</th>
</tr>
</thead>
<tbody>
{% for city in cities %}
<tr>
   <td>{{ city.name }}</td>
   <td>{{ city.competitor_count|default:0|unlocalize }}</td>
   <td>{{ city.distances.distance_bicycle|default:0|unlocalize }}</td>
   <td>{{ city.distances.distance_foot|default:0|unlocalize }}</td>
   <td>{{ city.distances.distance__sum|default:0|unlocalize }}</td>
   <td>{{ city.distances.count_bicycle|default:0|unlocalize }}</td>
   <td>{{ city.distances.count_foot|default:0|unlocalize }}</td>
   <td>{{ city.emissions.co2|default:0|unlocalize }}</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
   <td>{% trans "bez vybraného města" %}</td>
   <td>{{ without_city.count }}</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
</tr>
<tr>
   <th>{% trans "celkem" %}</th>
   <th>{{ total.count }}</th>
   <th>{{ total_distances.distance_bicycle|round_number|intcomma }}</th>
   <th>{{ total_distances.distance_foot|round_number|intcomma }}</th>
   <th>{{ total_distances.distance__sum|round_number|intcomma }}</th>
   <th>{{ total_distances.count_bicycle|round_number|intcomma }}</th>
   <th>{{ total_distances.count_foot|round_number|intcomma }}</th>
   <th>{{ total_emissions.co2|intcomma }}</th>
</tr>
</tfoot>
</table>
{% endcache %}
{% endblock %}
