{% extends "base_generic_form.html" %}
{% load i18n %}
{% load l10n %}
{% load humanize %}

{% block form %}
<table class="table table-hover">
   <tr>
      <th>{% trans "Kampaň" %}</th>
      <th>{% trans "Pravidenost" %}</th>
      <th>{% trans "Ujetých kilometrů" %}</th>
      <th>{% trans "Diplom" %}</th>
   </tr>
   {% for ua in user_attendances %}
   <tr>
      <td>{{ ua.campaign }}</td>
      <td>{{ ua.get_frequency_percentage|floatformat|intcomma }} %</td>
      <td>{{ ua.trip_length_total_rounded }} km</td>
      <td>
         {% if ua.diploma %}
         <a href="{{ ua.diploma.pdf.url }}">
             <i class="fa fa-download"></i>{% trans "PDF s diplomem" %}
         </a>
         {% endif %}
      </td>
   </tr>
   {% endfor %}
</table>
{% endblock %}
