{% extends "base_generic.html" %}
{% load humanize %}
{% load i18n %}
{% load scribbler_tags %}
{% load leaflet_tags %}
{% block extrahead %}
{% include "registration/leaflet_include.html" %}
{% endblock %}

{% block content %}
<div class="section" id="change-default-track" >
  <h1>{% trans "Změnít vychozí trasu" %}</h1>
  {% blocktrans %}
  Můžete změnit vyhozí trasu kliknutí na "Můj profil" a poté "Typická trasa". Anebo kliknutí na odkáz zde:
  {% endblocktrans %} <a href="{% url "upravit_trasu" %}">Změnit typickou trasu.</a>
</div>
<div class="section" id="edit-tracks">
  <h1>{% trans "Editace tras" %}</h1>
  {% blocktrans %}
  <ul>
   <li><strong>Zadávání trasy zahájíte kliknutím na tlačítko <span style="display: inline-block;" class="leaflet-draw-toolbar leaflet-bar leaflet-draw-toolbar-top"><a class="leaflet-draw-draw-polyline" href="#"></a></span>.</strong></li>
   <li>Další body zadáváte kliknutím do mapy, <strong>cílový bod zadáte dvouklikem nebo kliknutí na tlačitko "Finish".</strong></li>
   <video width="640" height="480" controls>
    <source src="http://thobbs.cz/create.webm" type="video/webm">
   </video>
   <li>Změnu trasy provedete po přepnutí do režimu úprav (<span style="display: inline-block;" class="leaflet-draw-toolbar leaflet-bar"><a class="leaflet-draw-edit-edit" href="#"></a></span>) a kliknutím na trasu.</li>
   <video width="640" height="480" controls>
    <source src="http://thobbs.cz/edit.webm" type="video/webm">
   </video>
   <li>Trasa se dá taky smazat.</li>
   <video width="640" height="480" controls>
    <source src="http://thobbs.cz/delete.webm" type="video/webm">
   </video>
   <li>Trasu stačí zadat tak, že bude zřejmé, kterými ulicemi vede.
   (Zadání přesnějšího průběhu nám však může pomoci lépe zjistit, jak se lidé na kole pohybují.)</li>
   <li>Trasu bude možné změnit nebo upřesnit i později v průběhu soutěže.
   (Trasy za jednotlivé dny však jen 7 dní nazpět.)</li>
   <li>Polohu začátku a konce trasy stačí zadávat se 100m přesností.</li>
  </ul>
  Trasa slouží k výpočtu vzdálenosti a pomůže nám lépe určit potřeby lidí pohybuících se ve městě na kole.
  <br/>Trasy všech účastníků budou v anonymizované podobě zobrazené na <a href="https://mapa.prahounakole.cz/?zoom=13&lat=50.08741&lon=14.4211&layers=_Wgt">mapě Prahou na kole</a>.

  {% endblocktrans %}
</div>
<div class="section" id="helpdesk">
  <h1>{% trans "Další pomoc" %}</h1>
  {% blocktrans %}
  Chcete mluvít s člověkem? <a href="https://www.dopracenakole.cz/kontakt">volejte na helpdesk</a>.
  {% endblocktrans %}
</div>
{% endblock %}
