{% load leaflet_tags %}
{% leaflet_js plugins="ALL" %}
{% leaflet_css plugins="ALL" %}
<style type="text/css">
   .leaflet-interactive {
       stroke:red;
       stroke-opacity: 1;
       stroke-width: 4;
   }
</style>
<script>
   // Hack to fix Leaflet Draw behaviour, which added point when moving map.
   (function() {
      var originalOnTouch = L.Draw.Polyline.prototype._onTouch;
      L.Draw.Polyline.prototype._onTouch = function( e ) {
         if( e.originalEvent.pointerType != 'mouse' ) {
            return originalOnTouch.call(this, e);
         }
      }
   })();
</script>
