{% extends "base_generic_registration_form.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load scribbler_tags %}
{% load i18n %}

{% block extrahead %}
{% get_available_languages as languages %}
{% get_current_language as current_language_code %}
<script language='javascript' type='text/javascript' src='https://secure.payu.com/paygw/UTF/js/{{ PAYU_POS_ID }}/{{ PAYU_KEY_1|slice:":2" }}/template:3/ext_calc:0/paytype.js'></script>
<script type="text/javascript" src="{% static "bow/jquery-form/jquery.form.js"%}"></script>
{{ block.super }}
{% endblock %}

{% block messages %}
{% trans "Vyberte způsob platby a můžete vyrazit." %}
{{ block.super }}
{% endblock %}

{% block container_footer %}
<script>
function selected_value(){
   return $('input[name=payment_type]:checked', '#div_id_payment_type').val();
};

function switch_description(){
   $(".description_switcher_div").hide();
   sel_val = selected_value();
   $("." + sel_val + "_description").show()
   if(sel_val == 'pay' || sel_val == 'pay_beneficiary' || sel_val == 'member_wannabe')
      $(".form-actions").hide();
   else
      $(".form-actions").show();

   if(sel_val == 'pay_beneficiary') {
      $(".beneficiary-show").show()
   } else {
      $(".beneficiary-show").hide()
   }
};
$("#div_id_payment_type").change(function() {
   switch_description();
});

$(function(){
   switch_description();
   $("#div_id_payment_type").append($("#description_switcher"));

   $.get("{{AKLUB_URL}}/{{ current_language_code }}/regular-dpnk/?firstname={{firstname}}&amp;surname={{surname}}&amp;email={{email}}&amp;telephone={{user_attendance.userprofile.telephone}}", function(data) {
      $("#aklub-form-container").append(data);
      $("#aklub-form").ajaxForm({replaceTarget: false, target: "#aklub-form", success: function(){
         window.scrollTo(0, 0);
      }});
   });

   $(".pay_description form").submit(function(){

      if(selected_value() == 'pay_beneficiary') {
         var payment_url = '{% url "payment_beneficiary" %}';
      } else {
         var payment_url = '{% url "payment" %}';
      }
      if($("#payu-hidden-values input").length == 0) {
         $.get(payment_url, function(data) {
            $("#payu-hidden-values").html(data);
            $(".pay_description form").submit();
         });
         return false;
      }
   });
});
</script>
<div id="description_switcher">
   <div class="description_switcher_div description company_description" style="display:none">
      <h3>{% trans "Platba startovného zaměstnavatelem" %}</h3>
      {% for company_admin in user_attendance.get_asociated_company_admin_with_payments %}
         {% if forloop.first %}
            {% trans "Startovné za mě platí: " %} {{ user_attendance.team.subsidiary.company }}<br/>
         {% endif %}
         <br/>
         {% trans "Můj firemní koordinátor: " %} {{ company_admin|default:"Není" }}<br/>
         {% trans "E-mail na koordinátora: " %}<a href='mailto:{{ company_admin.userprofile.user.email|default:"Není" }}'>{{ company_admin.userprofile.user.email|default:"Není" }}</a><br/>
      {% empty %}
         <br/>
         {% trans "Je nám líto. Váš zaměstnavatel buď nemá zvoleného firemního koordinátora nebo neumožňuje platbu startovného." %}
         <a href='{% url "company_admin_application" %}'>{% trans "Chci se sám stát koordinátorem své organizace." %}</a>
      {% endfor %}
   </div>
   <div class="description_switcher_div description coupon_description" style="display:none">
      <h3>{% trans "Platba startovného pomocí voucheru" %}</h3>
      {% trans "Uplatněte slevu z startovného." %}
   </div>
   <div class="description_switcher_div description member_wannabe_description" style="display:none">
      <h3>{% trans "Vstupte do Klubu přátel" %}</h3>
      <div id="aklub-form-container"></div>
   </div>
</div>
<span class="description_switcher_div description pay_description">
   <h3>{% trans "Platba startovného" %}</h3>
</span>
<span class="description_switcher_div description pay_beneficiary_description">
   <h3>{% trans "Platba benefičního startovného" %}</h3>
</span>
<div class="description_switcher_div description pay_description pay_beneficiary_description">
   <div id="beneficiary-motivation" class="beneficiary-show" style="display:none">
   {% scribble 'beneficiary_payment' %}
   {% load i18n %}
   {% trans "Děkujeme, že nám pomáháte zlepšovat cyklistické podmínky ve městech." %}
   {% endscribble %}
   </div>
   <form action="https://secure.payu.com/paygw/UTF/NewPayment" method="POST" name="payform" class="submit-once-form">
   <div id="payu-hidden-values"></div>
   <script language="JavaScript" type="text/javascript">
   PlnPrintTemplate();
   </script>
   <input type="button" name="prev" value="{% trans "Předchozí" %}" class="btn btn-default" id="button-id-prev" onclick="window.location.href='{% url prev_url %}'">
   <input type="submit" class="btn btn-primary" value="{% trans "Zaplatit" %}"/>
</form>
</div>
{% endblock %}
