{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% if active %}
{% if own_city %}
<h3>Základní údaje</h3>
<table>
<tr><th scope="row">Jméno</th><td>{{ profile.firstname }} {{ profile.surname }}</td></tr>
<tr><th scope="row">Tým:</th><td>{{ team.name }}</td></tr>
<tr><th scope="row">Město:</th><td>{{ team.subsidiary.city.name }}</td></tr>
<tr><th scope="row">Pobočka:</th><td>{{ team.subsidiary }}</td></tr>
<tr><th scope="row">Firma:</th><td>{{ team.subsidiary.company.name }}</td></tr>
<tr><th scope="row">Členové týmu:</th><td>{{ team_members }}</td></tr>
<tr><th scope="row">Startovné:</th><td>
{% if payment_status == 'done' %} Zaplaceno (slevový kód na <a href="http://www.coromoro.com/designova_trika/detail/139-do-prace-na-kole-2012" target="_top">triko</a>: {{ voucher }}){% endif %}
{% if payment_status == 'waiting' %} Čeká se na potvrzení platby (<a href="/registrace/platba/">Zadat jinou platbu</a>){% endif %}
{% if payment_status == None %} Příspěvek dosud nezaplacen. <a href="/registrace/platba/">Zaplatit</a> {% endif %}
</td></tr>
</table>
<a href="/registrace/upravit_profil/">Upravit údaje</a> | 
{% if team.coordinator == profile %}
<a href="/registrace/team_admin/">Upravit tým</a> | 
{% endif %}
<a href="/registrace/zmena_hesla/">Změnit heslo</a> | 
<a href="/registrace/logout/">Odhlásit</a>

<h3>Moje jízdy</h3>

<!-- <p>Tip: Před vyplněním jízd nejprve zodpovězte anketní otázku</p> -->

<center>
<p><strong style="color:#FF6E00; font-size: 10pt;">Soutěžní skončila, již není možné doplňovat další údaje.</strong></p>
<p>Výherci jednotlivých soutěžních kategorií a další výstupy kampaně budou zveřejněny 7.6. Jste zváni na slavnostní zakončení a vyhlášení výsledků.</p>
<p>Sledujte aktuality!</p>
</center>

<table id="rides">
<tr>
<th scope="column">Den</th>
<th scope="column">Anketa</th>
<th scope="column">Do práce</th>
<th scope="column">Z práce</th>
<th scope="column">Pravidelnost</th>
<th scope="column">Vzdálenost celkem</th>
</tr>
{% for day in calendar %}
<tr>
<form name="calendar-{{ forloop.counter }}" action="/registrace/profil/" method="POST">
<th scope="row" class="date">{{ day.name }}</th>
<td>{% if day.question_active %}<a href="/registrace/otazka/?questionaire=player&day={{ day.iso }}" onclick="window.parent.scroll(0,200);">Otázka</a>{% else %} ? {% endif %}</td>
<td><input type="checkbox" name="trip_to"  disabled="disabled"  {% if day.default_trip_to %}checked="checked"{% endif %}/></td>
<td><input type="checkbox" name="trip_from"  disabled="disabled"  {% if day.default_trip_from %}checked="checked"{% endif %}/></td>
<td {% if day.percentage > 66 %} class="green" {% else %} class="red" {% endif %}>{% if day.trips_active %}{{ day.percentage|floatformat:1 }}%{% endif %}</td>
<td>{% if day.trips_active %}{{ day.distance }} km{% endif %}</td>
</form>
</tr>
{% endfor %}
</table>

<h3>Váš přehled</h3>

<ul>
<li>Aktuálně {{ user_position }}. místo v soutěži jednotlivců</li>
<li>Aktuálně {{ team_position }}. místo v soutěži týmů</li>
<li>Překonaná vzdálenost v týmu: {{ team_distance }} km</li>
<li>Pravidelnost v týmu během kampaně: <span {% if team_percentage > 65 %} class="green" {% else %} class="red" {% endif %}>{{ team_percentage|floatformat:1 }}% </span></li>
</ul>

<table>
<tr>
<th scope="column">Jméno</th>
<th scope="column">Cest</th>
<th scope="column">Pravidelnost</th>
<th scope="column">Vzdálenost</th>
</tr>
{% for member in member_counts %}
<tr>
<td>{{ member.name }}</td>
<td>{{ member.trips }}</td>
<td>{{ member.percentage|floatformat:1 }}%</td>
<td>{{ member.distance }} km</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if own_city %}
<p><a href="/registrace/vysledky?mesto={{team.city}}" onclick="window.parent.scroll(0,200);">Průběžné výsledky</a></p>

<h3>Soutěž Cyklozaměstnavatel roku</h3>
{% if not company_survey_by %}
<p><a href="/registrace/cyklozamestnavatel_roku/?questionaire=company" onclick="window.parent.scroll(0,200);">Vyplnit dotazník</a></p>
{% else %}
{% if company_survey_by == 'me' %}
<p><strong>Děkujeme za vyplnění dotazníku.</strong><br/>
<a href="/registrace/cyklozamestnavatel_roku/?questionaire=company" onclick="window.parent.scroll(0,200);">Prohlédnout dotazník</a></p>
{% else %}
<p>Dotazník cyklozaměstnavatel roku za vaši firmu již vyplnil {{company_survey_by.firstname}} {{company_survey_by.surname}}.</p>
{% endif %}
{% endif %}

<p><br/><br/></p>
<p>ENGLISH INFO: To fill out your trips, answer the question first, ask your czech colegue for a help. Little dictionary: startovné = registration fee; upravit údaje = change profile; změnit heslo = change password; odhlásit = log out; anketa = poll; otázka = question; do/z práce = to/from work; odeslat = send; pravidelnost = regularity; vzdálenost = distance; </p>
<p>S dotazy a nejasnostmi se obracejte na kontakt@dopracenakole.net</p>
{% endif %}

{% else %}
Tento profil byl zneaktivněn.</br>
<a href="/registrace/logout/">Odhlásit</a>
{% endif %}

<p>&nbsp;</p>

{% endblock %}
