{% extends "base_generic_form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block form %}
<h2>{{ questionaire.name }}</h2>
{{ questionaire.rules|safe }}
<a class="btn btn-block btn-info" href="{{ questionaire.url }}" target="_blank">{% trans "Další informace o soutěži" %}</a>
<br/>
{% if invalid_count > 0 %}
<div class="alert alert-danger">
   {% blocktrans count invalid_count as invalid_count %}
   Odpověď na jednu otázku obsahuje chybu. Prosím opravte tuto chybu a znovu stiskněte tlačítko Odeslat.
   {% plural %}
   Odpovědi na {{ invalid_count }} otázky obsahují chybu. Prosím opravte tyto chyby a znovu stiskněte tlačítko Odeslat.
   {% endblocktrans %}
</div>
{% endif %}
<div id="questionaire-{{ questionaire.slug }}" class="questionnaire" >
<form name="question" method="POST" enctype="multipart/form-data">
{% for form in formset %}
{% crispy form %}
{% endfor %}
{% for question in questions %}
{% if question.name %}
   <h3>{{ question.name }}{% if question.required %}<span class="asteriskField">*</span>{% endif %}</h3>
{% endif %}
<p class="question-text">{{ question.text|safe }}</p>
{% crispy question.form %}
{% if show_points %}
   {% if question.points_given %}
   ({{question.points_given}} {% trans "b" %})
   {% endif %}
   {% if question.comment_given %}
   <br/>
   <strong>{% trans "Komentář hodnotitele" %}</strong>
   <p>
   {{ question.comment_given|linebreaks }}
   </p>
   {% endif %}
{% endif %}
{% endfor %}
{% if show_submit %}
<button class="submit submit_once btn btn-block btn-primary" type="submit">{% trans "Odeslat" %}</button>
{% endif %}
</form>
</div>
{% endblock %}
