{% extends "base_generic.html" %}
{% load dpnk_tags %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
{{ block.super }}
<h2>{{ competition.name }}</h2>
<i> {{ competition.type_string|safe }} </i>
<div>
{{ competition.rules|safe }}
</div>
{% for competitor in competitors %}
   <h3 id="comp_res_{{competitor.pk}}">{{ competitor }} {% if competitor.user_attendance %}- {{ competitor.user_attendance.team.subsidiary.city }}{% endif %}{% if show_points %} ({{ competitor.result }} b.){% endif %}</h3>
   {% for answer in competitor.answers %}
      {% if answer.comment %}
         {{ answer.comment|linebreaksbr|urlize}}
      {% endif %}
      <br/>
      <div class="questionnaire-image">
      {% if answer.question.with_attachment %}
      {% thumbnail answer.attachment "250x250" as foto_thumb %}
         <a data-lightbox="image" href="{{ answer.attachment.url }}" title="Fotka v plném rozlišení" target="_blank">
         <img src="{{ foto_thumb.url }}" width="{{ foto_thumb.width }}" height="{{ foto_thumb.height }}"></a>
      {% empty %}
         {% if answer.attachment %}
            <a href="{{ answer.attachment.url }}" target="_blank">{{ answer.attachment }}</a>
         {% else %}
            {% trans "Bez přílohy" %}
         {% endif %}
      {% endthumbnail %}
      {% endif %}
      {% if answer.comment_given and show_points %}
         <br/>
         <strong>{% trans "Komentář hodnotitele" %}</strong>
         <p>
         {{ answer.comment_given|linebreaks }}
         </p>
      {% endif %}
      </div>
   {% endfor %}
{% endfor %}
{% endblock %}
