{% extends "base_generic_form.html" %}
{% load i18n %}
{% load l10n %}

{% block form %}
<script type="text/javascript">
   $(function () {
      $('[data-toggle="tooltip"]').tooltip()
   })
</script>

<table class="table table-hover">
   <tr><th colspan="5">{% trans "Soutěžní jízdy" %}</th></tr>
   {% for trip in trips %}
   <tr>
      {% if trip.date %}
      <td>{{ trip.date }}</td>
      <td>{{ trip.get_direction_display }}</td>
      <td>{{ trip.commute_mode }}</td>
      {% if trip.distance %}
      <td>
      {% if trip.distance %}{{ trip.distance|floatformat:1 }}&nbsp;{% trans 'km' %}{% endif %}
      </td>
      {% else %}
      <td colspan="3"> {% trans "Nezadáno" %}</td>
      {% endif %}
      <td>
         <a href="{% url "trip" date=trip.date direction=trip.direction %}">
            {% if trip.active %}
                <i class="fa fa-edit"></i>
            {% else %}
                <i class="fa fa-eye"></i>
            {% endif %}
         </a>
      </td>
      {% else %}
      <td>{{ trip.0 }}</td>
      <td>{{ trip.1 }}</td>
      <td>{{ trip.2 }}</td>
      <td></td>
      <td>
         {% if trip.4 %}
         <a href="{% url "trip" date=trip.0 direction=trip.3 %}">
            <i class="fa fa-edit"></i>
         </a>
         {% endif %}
      </td>
      {% endif %}
   </tr>
   {% endfor %}
{% if other_trips %}
   <tr><th colspan="5">{% trans "Další nahrané jízdy" %}</th></tr>
   {% for trip in other_trips %}
      <tr>
         <td>{{ trip.date }}</td>
         <td>{{ trip.get_direction_display }}</td>
         <td>{{ trip.commute_mode }}</td>
         <td>{% if trip.distance %}{{ trip.distance|floatformat:1 }}&nbsp;{% trans 'km' %}{% endif %}</td>
         <td>
         <a href="{% url "trip" date=trip.date direction=trip.direction %}">
            <i class="fa fa-eye"></i>
         </a>
         </td>
      </tr>
   {% endfor %}
{% endif %}
</table>
{% endblock %}
