{% load i18n %}
{% load l10n %}
{% load dpnk_tags %}
{% load humanize %}
{% load bootstrap3 %}
{% load scribbler_tags %}

<script type="text/javascript">
   $(function () {
      {% for commute_mode in commute_modes %}
      $('input[value={{ commute_mode.slug }}]').parent().attr('title', '{{ commute_mode.tooltip|escapejs }}').attr('data-toggle', 'tooltip').attr('data-placement', 'top').tooltip();
      {% endfor %}
      $('[data-toggle="tooltip"]').tooltip();
   })
</script>
<table class="table table-condensed table-bordered">
<tr class="info">
   <th>
      {% trans "Celkem" %}
      {% if competition_phase.date_from %}{% trans "od" %} {{ competition_phase.date_from }}{% endif %}
      {% if competition_phase.date_to %}{% trans "do" %} {{ competition_phase.date_to }}{% endif %}
   </th>
</tr>
<tr class="info">
   <td>
      {% trans "Ujetá započítaná vzdálenost" %}: {{ user_attendance.trip_length_total }}&nbsp;km (<a href="{% url "rides_details" %}">{% trans "Podrobný přehled jízd" %}</a>)
   </td>
</tr>
<tr class="info">
   <td>
      {% trans "Pravidelnost" %}: {{ user_attendance.get_frequency_percentage|floatformat|intcomma }}&nbsp;%
   </td>
</tr>
<tr class="info">
   <td>
      {% trans "Pravidelnost vašeho týmu" %}: {{ user_attendance.team.get_frequency_percentage|floatformat|intcomma }}&nbsp;% (<a href="{% url "other_team_members_results" %}">{% trans "Přehled o vašem týmu" %}</a>)
   </td>
</tr>
<tr class="info">
   <td>
      {% trans "Ušetřené množství oxidu uhličitého" %}: {{ user_attendance.get_emissions.co2|intcomma }}&nbsp;g  (<a href="{% url 'emission_calculator' %}">{% trans "Emisní kalkulačka" %}</a>)
   </td>
</tr>
<tr class="info">
   <th>
      {% scribble 'rides_info_table_end' %}
      {% load i18n %}
      {% trans "Podrobné výsledky naleznete na stránce" %}
      <a href="{% url "competitions" %}">{% trans "výsledků jednotlivých soutěží" %}</a>.
      {% endscribble %}
   </th>
</tr>
</table>
<form id="rides-form" name="calendar" method="POST" class="dirty-check submit-once-form">
{% csrf_token %}
{{ formset.management_form }}
{% if formset.0 %}
<input type="submit" name="submit" value="{% trans "Odeslat jízdy" %}" class="btn btn-primary btn-block" id="submit-id-submit-top">
<table id="rides" class="table table-condensed">
<thead>
   <tr class="info">
      <th scope="col">{% trans "Do práce" %}</th>
      <th scope="col">{% trans "Z práce" %}</th>
   </tr>
</thead>
{% for trip_form in formset %}
   {% if forloop.counter0|divisibleby:2 %}
      <tr class="info">
         <th colspan="2" scope="row" class="date">
            {{ trip_form.initial.date|naturalday:"D j. n. \<\s\p\a\n\>Y\<\/\s\p\a\n\>"|safe }}
         </th>
      </tr>
      <tr>
   {% endif %}
      <td>
         {% bootstrap_form trip_form %}
         {% if trip_form.instance.has_gpxfile %}
            <a class="pin" href="{% url "gpx_file" id=trip_form.instance.gpxfile.id %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Zobrazit trasu nebo zadat novou' %}">
               <span class="glyphicon glyphicon-edit"></span>
            </a>
         {% else %}
            <a class="pin" href="{% url "gpx_file_create" date=trip_form.get_date direction=trip_form.get_direction %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Zadat trasu v mapě nebo nahrát GPX soubor' %}">
               <span class="glyphicon glyphicon-map-marker"></span>
            </a>
         {% endif %}
      </td>
   {% if forloop.counter|divisibleby:2 %}
   </tr>
   {% endif %}
{% endfor %}
<tr><td colspan="2">
<input type="submit" name="submit" value="{% trans "Odeslat jízdy" %}" class="btn btn-primary btn-block" id="submit-id-submit-bottom">
</td></tr>
</table>
{% else %}
<div class="alert alert-info">
{% trans "Zde budete zadávat vaše jízdy" %}
</div>
{% endif %}
</form>
<div></div>
