{% extends "base_generic_form.html" %}
{% load dpnk_tags %}
{% load i18n %}
{% load avatar_tags %}
{% load static %}
{% load photologue_tags %}

{% block form_intro %}
<div style="width:80%">
<a href="{% url "edit_team" %}" class="btn primary float-right"><i class="fa fa-pencil"></i></a>
{% if team.lead_photo %}
<a href="{{team.lead_photo.image.url}}"target="_blank" rel="noopener noreferrer">
    <img src="{{team.lead_photo.get_display_url}}"/>
</a>
{% else %}
<div style="background-color: lightgrey">
<img src="{% static "img/dpnk_logo.svg" %}"/>
</div>
{% endif %}
</div>

<br/>
<a class="btn btn-default" href="{% url "other_team_members_results" %}">{% trans "Výsledky členů týmu" %}</a>
{% endblock %}

{% block form %}
<form method="post" class="submit-once-form form-inline" id="members-form" action="{% url 'team_members' %}" class="row">
   {% csrf_token %}
   {% for user in unapproved_users %}
      <div id="id-{{ user.4.2 }}-team-member" class="col-12 col-md-4 member-item">
         <div class="avatar_holder" id="_{{ user_attendance.id }}">
            <span>
               {% avatar user.4.2 200 %}
            </span>
         </div>
         <style>
            .avatar_holder#_{{ user_attendance.id }} span{
               background: conic-gradient(#FF6F61 0% {{ user_attendance.frequency|floatformat:"0" }}%, #fff {{ user_attendance.frequency|floatformat:"0"  }}% 100%);
            }
         </style>
         <h2>
            {{ user.3.2 }}
         </h2>
         {% include "messages_include.html" with required_tag="user_attendance_"|add:user.1.2 %}
         <div class="userdata">
            {% for field in user %}
               <div 
               {% if field.0 == 'state_name' %}
                  {% if user.0.2 == 'undecided' %}
                     class="warning"
                  {% elif user.0.2 == 'denied' %}
                     class="error"
                  {% else %}
                     class="success"
                  {% endif %}
               {% elif field.0 == 'payment_description' %}
                  class="{{ user.2.2 }}"
               {% else %}
               {% endif %}
                id="id-{{ user.4.2 }}-{{ field.0 }}">
                  <div>
                     {% if field.1 != None %}<b>{{ field.1 }}</b>: {{ field.2 }}{% endif %}
                  </div>
               </div>
            {% endfor %}

            {% if user.4.2 == request.user.email %}
               <div class="col-12">
                     <a href="{% url 'company_admin_application' %}">Chci se stát firemním koordinátorem</a>
               </div>
            {% endif %}
         </div>

         {% if user.0.2 == 'undecided' or user.0.2 == 'denied' %}
            <div class="actions">
               <button class="submit submit_once btn btn-sm btn-primary" type="submit" id="approve-{{user.1.2}}" name="approve" value="approve-{{user.1.2}}">{% trans "Přijmout do týmu" %}</button>
               {% if user.0.2 == 'undecided' %}
                  <br/>
                  <label for="reason-{{user.1.2}}">{% trans "Důvod odmítnutí" %}</label>
                  <input id="reason-{{user.1.2}}" name="reason-{{user.1.2}}" type="text"/>
                  <button class="submit submit_once btn btn-sm btn-primary" type="submit" id="deny-{{user.1.2}}" name="approve" value="deny-{{user.1.2}}">{% trans "Zamítnout" %}</button>
               {% endif %}
            </div>
         {% endif %}
      </div>
   {% endfor %}
</form>

<a class="btn btn-default" href="{% url "pozvanky" %}">{% trans "Pozvat nové členy" %}</a>
{% endblock %}
