{% extends "base.html" %}
{% load url from future %}

{% block body_id %}update_profile{% endblock %}
{% block content %}
<form action="/registrace/upravit_profil/" method="post">{% csrf_token %}
{% for field in form %}
   {% if field.name == "team" %}
      <div class="warning">Upozornění: Změna týmu vyžaduje, aby koordinátor nového týmu schválil vaše členství. V případě návratu do původního týmu je taktéž vyžadováno schválení týmem.</div>
   {% endif %}
   <div id="{{field.name}}_div">
       {{ field.errors }}
       {{ field.label_tag }}
       {{ field }}
   </div>
{% endfor %}
<input type="submit" value="Upravit" />
<a href="/registrace/profil">Zpět</a>
</form>
{% endblock %}

