{% extends "base_generic_form.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}


{% block extrahead %}
<link rel='stylesheet' href='{% static "bow/fullcalendar/dist/fullcalendar.css"%}' />
<script src='{% static "bow/moment/moment.js"%}'></script>
<script src='{% static "bow/fullcalendar/dist/fullcalendar.js"%}'></script>
<script src='{% static "bow/fullcalendar/dist/locale-all.js"%}'></script>
{{ block.super }}
{% endblock %}
{% block form %}
{% url "profil" as profile %}
{% blocktrans %}
Označte dovolenou kliknutím na datum. Tento kalendář slouží k označování dovolené do budoucna, chcete-li zaznamenat dovolenou zpětně, označte <a href="{{profile}}">dané jízdy</a> jako "žádná cesta."
{% endblocktrans %}
<br/>
{% get_current_language as LANGUAGE_CODE %}
<div id='calendar'></div>
<script>
var possible_vacation_days = {{possible_vacation_days|safe}};
var vid = {{first_vid}};

function events_overlap(event1, event2) {
     if(event1.end && event2.end) {
         return ((event1.start >= event2.start && event1.start < event2.end) ||
                    (event1.end > event2.start && event1.end <= event2.end));
     } else {
         return false;
     }
}

function add_vacation(startDate, endDate) {
    startDateString = startDate.format('YYYY-MM-DD')
    endDateString = moment(endDate, "DD-MM-YYYY").subtract(1, 'days').format('YYYY-MM-DD')
    if(possible_vacation_days.indexOf(startDateString) >= 0 && possible_vacation_days.indexOf(endDateString) >= 0){
        new_event = {
            title: "{% trans "Dovolená" %}",
            start: startDate,
            end: endDate,
            allDay: true,
            id: vid++,
        }
        events = $('#calendar').fullCalendar( 'clientEvents');
        for (eid in events) {
            if (events[eid].id) {
                if (events_overlap(new_event, events[eid])) {
                    e2 = events[eid]
                    return;
                }
            }
        }
        $('#calendar').fullCalendar('renderEvent', new_event);
        $.post('{% url "vacations" %}', {
            on_vacation: true,
            start_date: startDateString,
            end_date: endDateString,
            csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            function(returnedData){
            }
        ).fail(function(jqXHR, textStatus, errorThrown) {
            window.alert('{% trans "Propojení selhalo" %}');
        });
    }
}

function remove_vacation(event) {
    $('#calendar').fullCalendar( 'removeEvents', event.id );
    startDateString = event.start.format('YYYY-MM-DD')
    endDateString = moment(event.end, "DD-MM-YYYY").subtract(1, 'days').format('YYYY-MM-DD')
    $.post("{% url 'vacations' %}", {
        on_vacation: false,
        start_date: startDateString,
        end_date: endDateString,
        csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        function(returnedData){
        }
    ).fail(function(jqXHR, textStatus, errorThrown) {
        window.alert('{% trans "Propojení selhalo" %}');
    });
}

$(function() {
  var calendar = $('#calendar').fullCalendar({
      events: {{events|safe}},
      eventOrder: 'order',
      selectable: true,
      lang: '{{ LANGUAGE_CODE }}',
      locale: '{{ LANGUAGE_CODE }}',
      height: 'auto',
      firstDay: 1,
      select: function(startDate, endDate) {
          if (moment(startDate, "DD-MM-YYYY").add(1, 'days').format('YYYY-MM-DD') != endDate.format('YYYY-MM-DD')) {
              add_vacation(startDate, endDate);
          }
      },
      dayClick: function(date) {
          add_vacation(date, moment(date, "DD-MM-YYYY").add(1, 'days'));
      },
      eventRender: function(event, element) {
          var direction_icon = null;
          if (event.direction == 'trip_to'){
              direction_icon = document.createElement("i");
              direction_icon.className='fa fa-industry';
          } else if (event.direction == 'trip_from') {
              direction_icon = document.createElement("i");
              direction_icon.className='fa fa-home';
          }
          if (direction_icon) {
              element.children(1).prepend(direction_icon);
          }
          var mode_icon = null;
          if (event.commute_mode == 'bicycle'){
              mode_icon = document.createElement("i");
              mode_icon.className='fa fa-bicycle';
          } else if (event.commute_mode == 'by_foot') {
              mode_icon = document.createElement("i");
              mode_icon.className='fa fa-child';
          }
          if (mode_icon) {
              element.children(1).prepend("→");
              element.children(1).prepend(mode_icon);
          }
          if (event.id) { // https://stackoverflow.com/questions/26530076/fullcalendar-js-deleting-event-on-button-click#26530819
              if (moment(event.start, "DD-MM-YYYY").add(1, 'days').format('YYYY-MM-DD') == event.end.format('YYYY-MM-DD')) {
                  setTimeout(function(){ // Without this, the button gets clicked by the same event that created the event on mobile.
                      element.append('<button class="btn btn-default btn-xs closeon" ><i class="fa fa-trash"></i></button>');
                      element.find(".closeon").click(function(){remove_vacation(event)});
                  }, 10);
              } else {
                  element.append('<div style="position:absolute;bottom:3px;right:4px; z-index:200;" class="fc-transparent"><button class="btn btn-default btn-xs closeon" ><i class="fa fa-trash"></i></button></div>');
                  element.find(".closeon").click(function(){remove_vacation(event)});
                  element.append("<br/>");
              }
          }
      },
      dayRender: function (date, cell) {
         if (possible_vacation_days.indexOf(date.format('YYYY-MM-DD')) <= -1) {
             cell.css("background-color", "lightGrey");
         }
      },
  });
});
</script>
{% endblock %}
