[run]
source =
   dpnk,
   t_shirt_delivery,
   psc,
   project,
   coupons
omit =
   dpnk/migrations*,
   t_shirt_delivery/migrations*,
   psc/migrations*,
   coupons/migrations*
plugins =
    django_coverage_plugin
branch = True
