[run]
source =
   dpnk,
   t_shirt_delivery,
   psc,
   project,
   coupons
omit =
   apps/dpnk/migrations*,
   apps/t_shirt_delivery/migrations*,
   apps/psc/migrations*,
   apps/coupons/migrations*,
   project/settings_dev.py,
   project/non_html_debug.py
plugins =
    django_coverage_plugin
branch = True
