/#*#
*.mo
*.pyc
*.swp
*~
*.orig
*__pycache__
.git
env*
db_backup
media
static
scripts
!scripts/batch_generation/download_dispatched_subsidiary_boxes.sh
!scripts/batch_generation/split_csv.sh
!scripts/batch_generation/generate_delivery_batch_pdf.sh
htmlcov
htmlcov-max
sql
db
run
dpnk.log*
project/settings/local.py
amazon_script.sh
make_graph.sh
fabfile.py
cookies.txt
docker.env
third_party/
