!.gitkeep
/#*#
*.mo
*.pyc
*.swp
*~
*.orig
/apps/dpnk/static/bow
/sql/
/dpnk.log
/dpnk-timelog.log
/dpnk-devel.log
.DS_Store
env
/env*/
/project/settings_local.py
/static/
/db_backup/
/run
htmlcov/
.coverage
run.sh
apps/dpnk/static/css/style.css
