!.gitkeep
third_party
third-party
/#*#
*.mo
*.pyc
*.swp
*.swo
*~
*.orig
*__pycache__
/apps/dpnk/static/CACHE
/sql/
/dpnk.log*
/dpnk-timelog.log
/dpnk-devel.log
.DS_Store
/env*/
/project/settings_local.py
/static/
/db_backup/
/run
/htmlcov/
/htmlcov-max/
.coverage
/run.sh
/apps/dpnk/static/css/*
/response.html
/apps/dpnk/test_files/DSC00002.JPG.*_*.jpg
/apps/dpnk/test_files/cache
/apps/dpnk/test_files/csv_delivery
/apps/dpnk/test_files/gpx_tracks
/apps/dpnk/test_files/coupons
apps/dpnk/test_files/customer_sheets/
apps/dpnk/test_files/invoices/
apps/dpnk/test_files/t_shirt_preview/
apps/dpnk/test_files/media/pdfsandwichs/
apps/dpnk/test_files/media/photologue/
.pytest_cache
/media/
docker.env
graph.png
graph.pdf
.noseids
src/
graph
project/media/
project/settings/local.py
profiles/
.req_checker_cache
.config/
celerybeat-schedule
celerybeat.pid
pipenv/
pyenv/
.#*
test-dpnk.log
scripts/ansible-playbooks/get_containers.retry
scripts/output.sql
node_modules/
