DPNK_DB_NAME=dpnk
DPNK_DB_USER=dpnk
DPNK_DB_PASSWORD=CHANGE_ME
DPNK_DB_HOST=postgres
GUNICORN_NUM_WORKERS=1
DJANGO_SETTINGS_MODULE=project.settings.dev
DPNK_ALLOWED_HOSTS=.localhost
DPNK_DEBUG=True
DPNK_SECURE_SSL_REDIRECT=False
DPNK_CSRF_COOKIE_SECURE=False
DPNK_SECURE_SSL_REDIRECT=False
DPNK_SESSION_COOKIE_SECURE=False
DPNK_SITE_ID=1
DPNK_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DPNK_BROKER_URL=redis://redis
DPNK_CACHE_REDIS_LOCATION=redis://redis
DPNK_SECRET_KEY=CHANGE_ME
STRAVA_CLIENT_ID=CHANGE_ME
STRAVA_CLIENT_SECRET=CHANGE_ME
