DPNK_DB_NAME=dpnk
DPNK_DB_USER=dpnk
POSTGRES_USER=dpnk
DPNK_DB_PASSWORD=change_me
POSTGRES_PASSWORD=change_me
DPNK_DB_HOST=postgres
GUNICORN_NUM_WORKERS=1
DJANGO_SETTINGS_MODULE=project.settings.rtwbb_dev
DPNK_ALLOWED_HOSTS=.localhost
DPNK_DEBUG=True
DPNK_SECURE_SSL_REDIRECT=False
DPNK_CSRF_COOKIE_SECURE=False
DPNK_SECURE_SSL_REDIRECT=False
DPNK_SESSION_COOKIE_SECURE=False
DPNK_SITE_ID=1
DPNK_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DPNK_BROKER_URL=redis://redis
DPNK_CACHE_REDIS_LOCATION=redis://redis
DPNK_SECRET_KEY=CHANGE_ME
STRAVA_CLIENT_ID=CHANGE_ME
STRAVA_CLIENT_SECRET=CHANGE_ME
PGDATA=/var/lib/postgresql/data
METABASE_APP_DOMAIN=CHANGE_ME
METABASE_DPNK_MAY_CHALLENGE_DATA_REPORT_URL=CHANGE_ME
METABASE_DPNK_SEPTEMBER_JANUARY_CHALLENGE_DATA_REPORT_URL=CHANGE_ME
METABASE_DPNK_REGULARITY_RESULTS_DATA_REPORT_URL=CHANGE_ME
METABASE_DPNK_PERFORMANCE_ORGANIZATION_RESULTS_DATA_REPORT_URL=CHANGE_ME
METABASE_DPNK_PERFORMANCE_CITY_RESULTS_DATA_REPORT_URL=CHANGE_ME
METABASE_DPNK_ORGANIZATION_REVIEW_RESULTS_DATA_REPORT_URL=CHANGE_ME
METABASE_DPNK_ORGANIZATION_COORDINATOR_RESULTS_DATA_REPORT_URL=CHANGE_ME
METABASE_DPNK_CITY_COORDINATOR_RESULTS_DATA_REPORT_URL=CHANGE_ME
METABASE_DPNK_TACHOMETERS_RESULTS_DATA_REPORT_URL=CHANGE_ME
PAYU_TEST_REST_API_CLIENT_ID=CHANGE_ME
PAYU_TEST_REST_API_CLIENT_SECRET=CHANGE_ME
PAYU_TEST_REST_API_SECOND_KEY_MD5=CHANGE_ME
PAYU_PRODUCTION_REST_API_CLIENT_ID=CHANGE_ME
PAYU_PRODUCTION_REST_API_CLIENT_SECRET=CHANGE_ME
PAYU_PRODUCTION_REST_API_SECOND_KEY_MD5=CHANGE_ME
PAYU_TEST_REST_API_AUTH_URL="https://secure.snd.payu.com/pl/standard/user/oauth/authorize"
PAYU_TEST_REST_API_CREATE_ORDER_URL="https://secure.snd.payu.com/api/v2_1/orders"
PAYU_TEST_REST_API_CREATE_ORDER_CURRENCY_CODE="PLN"
PAYU_PRODUCTION_REST_API_AUTH_URL="https://secure.snd.payu.com/pl/standard/user/oauth/authorize"
PAYU_PRODUCTION_REST_API_CREATE_ORDER_URL="https://secure.snd.payu.com/api/v2_1/orders"
PAYU_PRODUCTION_REST_API_CREATE_ORDER_CURRENCY_CODE="PLN"
USE_PAYU_TEST_CONF="True"
FAKTUROID_INVOICE_NUMBER_WIDTH="4"
FAKTUROID_BASE_REST_API_URL="https://app.fakturoid.cz/api/v3"
FAKTUROID_DATE_FROM_CREATE_INVOICES="2022-04-29"
FAKTUROID_TEST_USER_ACCOUNT=CHANGE_ME
FAKTUROID_TEST_USER_EMAIL=CHANGE_ME
FAKTUROID_TEST_API_KEY=CHANGE_ME
FAKTUROID_TEST_USER_AGENT_HEADER=CHANGE_ME
FAKTUROID_TEST_CLIENT_ID=CHANGE_ME
FAKTUROID_TEST_CLIENT_SECRET=CHANGE_ME
FAKTUROID_PRODUCTION_USER_ACCOUNT=CHANGE_ME
FAKTUROID_PRODUCTION_USER_EMAIL=CHANGE_ME
FAKTUROID_PRODUCTION_API_KEY=CHANGE_ME
FAKTUROID_PRODUCTION_CLIENT_ID=CHANGE_ME
FAKTUROID_PRODUCTION_CLIENT_SECRET=CHANGE_ME
FAKTUROID_PRODUCTION_USER_AGENT_HEADER=CHANGE_ME
MYGLS_API_CLIENT_NUMBER=CHANGE_ME
MYGLS_API_USERNAME=CHANGE_ME
MYGLS_API_PASSWORD=CHANGE_ME
MYGLS_API_COUNTRY_CODE="CZ"
MYGLS_API_USE_TEST_ACCOUNT="False"
MYGLS_API_USE_API="True"
MYGLS_API_PICKUP_ADDRESS_CITY=CHANGE_ME
MYGLS_API_PICKUP_ADDRESS_CONTACT_EMAIL=CHANGE_ME
MYGLS_API_PICKUP_ADDRESS_CONTACT_NAME="Auto*Mat"
MYGLS_API_PICKUP_ADDRESS_CONTACT_PHONE=CHANGE_ME
MYGLS_API_PICKUP_ADDRESS_COUNTRY_ISO_CODE="CZ"
MYGLS_API_PICKUP_ADDRESS_HOUSE_NUMBER=CHANGE_ME
MYGLS_API_PICKUP_ADDRESS_NAME="Auto*Mat, Do práce na kole"
MYGLS_API_PICKUP_ADDRESS_STREET=CHANGE_ME
MYGLS_API_PICKUP_ADDRESS_ZIP_CODE=CHANGE_ME
MYGLS_API_PICKUP_ADDRESS_HOUSE_NUMBER_INFO=""
