[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
Django = "<2.1"
django-import-export = "*"
django-smart-selects = "==1.5.3"
psycopg2 = "*"
python-memcached = "*"
django-chart-tools = "*"
django-extensions = "*"
django-softhyphen = "*"
django-composite-field = "*"
django-registration-redux = "*"
django-nested-admin = "*"
django-su = "*"
createsend = "*"
ordereddict = "*"
django-author = "*"
django-fieldsignals = "*"
django-admin-sortable2 = "*"
reportlab = "*"
django-dbbackup = "*"
polyline = "*"
InvoiceGenerator = "*"
django-related-admin = "*"
newrelic = "*"
django-crispy-forms = "*"
django-class-based-auth-views = "*"
slumber = "*"
geopy = "*"
gunicorn = "*"
djcacheutils = "*"
django-settings-context-processor = "*"
django-rosetta = "*"
django-oauth-toolkit = "*"
djangorestframework = "*"
django-leaflet = "*"
gpxpy = "*"
lxml = "*"
django-gpxpy = "*"
django-cachalot = "*"
django-bulk-update = "*"
django-cors-headers = "*"
django-denorm = "*"
django-extra-views = "*"
raven = "*"
celery = "*"
flower = "*"
django-daterange-filter = "*"
django-smmapdfs = "*"
django-storages = "*"
django-model-utils = "*"
django-price-level = "*"
django-datatables-view = "*"
django-rank-query = "*"
django-adminactions = "*"
django-avatar = "*"
django-photologue = {git = "https://github.com/auto-mat/django-photologue.git", editable = true, ref = "s3links"}
boto = "*"
django-google-tag-manager = "*"
django-ses = "*"
whitenoise = "*"
django-favicon = "*"
django-mass-edit = "*"
fiobank = "*"
django-ipware = "*"
djangorestframework-gis = "*"
django-table-select-widget = "*"
redis = "*"
django-isnull-list-filter = "*"
django-redis = "*"
coreapi = "*"
django-celery-email = "*"
django-sitetree = "*"
django-admin-views = "*"
single-beat = "*"
vokativ = "*"
django-fm = "*"
django-initial-field = "*"
django-betterforms = "*"
django-adminfilters = "==1.0.0"
django-bleach = "*"
sqlparse = "*"
django-appconf = "*"
social-auth-app-django = "*"
django-admin-view-permission = {git = "https://github.com/auto-mat/django-admin-view-permission.git", editable = true, ref = "request-arg"} # Remove after https://github.com/ctxis/django-admin-view-permission/pull/62 is merged
svg2rlg = {git = "https://github.com/aquavitae/svg2rlg.git", editable = true}
django-subdomains = {git = "https://github.com/PetrDlouhy/django-subdomains", editable = true, ref = "django20"}
django-advanced-filters = {git = "https://github.com/PetrDlouhy/django-advanced-filters.git", editable = true, ref = "develop"}
stravalib = {git = "https://github.com/hozn/stravalib", editable = true, ref = "master"}
django-wysiwyg-redactor = {git = "https://github.com/adilkhash/django-wysiwyg-redactor", editable = true}
django-selectable = {git = "https://github.com/PetrDlouhy/django-selectable.git", editable = true, ref = "mergeup"}  # For the Django 2.0 fixes, for search splitted by whitespaces
django-likes = {git = "https://github.com/PetrDlouhy/django-likes.git", editable = true, ref = "develop"}
django-braces = {git = "https://github.com/PetrDlouhy/django-braces.git", editable = true, ref = "2.0"}
django-modeltranslation = {git = "https://github.com/abdolhosein/django-modeltranslation", editable = true, ref = "patch-the-issue-with-django2"}
django_polymorphic = "*"
Unidecode = "*"
Pillow = "*"
easy-thumbnails = "*"
SQLAlchemy = "*"
django_celery_beat = "*"
django-stdnumfield = {git = "https://github.com/PetrDlouhy/django-stdnumfield.git", editable = true, ref = "mergeup"}
"PyPDF2" = "*"
"django-scribbler-django2.0" = "*"
"django-bootstrap4" = "*"
"html2text" = "*"
tornado = "<6"
dj_anonymizer = "*"
faker = "*"

[requires]
python_version = "3.6"

[dev-packages]
coverage = "*"
freezegun = "*"
django-admin-smoke-tests = "*"
django-debug-toolbar = "*"
django-debug-toolbar-line-profiler = "*"
django-debug-toolbar-template-timings = "*"
django-debug-toolbar-request-history = "*"
django-nose = "*"
nose-parameterized = "*"
nose-timer = "*"
nose-exclude = "*"
"flake8" = "*"
"flake8-blind-except" = "*"
"flake8-comprehensions" = "*"
"flake8-import-order" = "*"
"flake8-tidy-imports" = "*"
"flake8-builtins" = "*"
pudb = "*"
coveralls = "*"
ddt = "*"
model_mommy = {git = "https://github.com/auto-mat/model_mommy.git", ref = "issue-377", editable = true} # Remove after https://github.com/vandersonmota/model_mommy/pull/378 is fixed
django_coverage_plugin = "*"
"flake8_strict" = "*"
django-livereload-server="*"
