coverage
freezegun
django-admin-smoke-tests
django-debug-toolbar
django-debug-toolbar-line-profiler
django-debug-toolbar-template-timings
django-debug-toolbar-request-history
model-mommy
django_coverage_plugin
django-nose
nose-parameterized
nose-timer
flake8
flake8-blind-except
flake8-comprehensions
flake8-import-order
flake8-tidy-imports
# flake8-class
flake8-builtins
flake8-strict
pudb
coveralls
ddt
