# flake8-class
coverage
coveralls==1.2.0
ddt==1.1.1
django-admin-smoke-tests==0.3.0
django-debug-toolbar-line-profiler==0.6.1
django-debug-toolbar-request-history==0.0.6
django-debug-toolbar-request-history==0.0.6
django-debug-toolbar-template-timings==0.7
django-debug-toolbar==1.9.1
django-nose==1.4.5
django_coverage_plugin==1.5.0
flake8-blind-except==0.1.1
flake8-builtins==1.0.post0
flake8-comprehensions==1.4.1
flake8-import-order==0.16
flake8-strict==0.1.9
flake8-tidy-imports==1.1.0
flake8==3.5.0
freezegun==0.3.9
model-mommy==1.5.1
nose-exclude==0.5.0
nose-parameterized==0.6.0
nose-timer==0.7.1
pudb==2017.1.4
