{% extends "registration/questionaire.html" %}

{% block intro %}
<p>Má–li vaše společnost více poboček, odpovídejte v následujícím dotazníku pouze za Vaši pobočku. Vaše pobočka bude hodnocena jako samostatná firma.</p>
{% endblock %}

{% block agreement %}
Prohlašuji, že všechny informace odpovídají skutečnosti.
{% endblock %}

{% block outro %}
<p>
Auto-mat, o.s. si vyhrazuje právo zkontrolovat kdykoli během soutěže
pomocí pověřené osoby, zda údaje uvedené v tomto dotazníku odpovídají
skutečnému stavu ve firmě.
</p>

{% endblock %}
