{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% if active %}
<h3>Základní údaje</h3>
<table>
<tr><th scope="row">Jméno</th><td>{{ profile.firstname }} {{ profile.surname }}</td></tr>
<tr><th scope="row">Tým:</th><td>{{ team.name }} (kód {{team.password}})</td></tr>
<tr><th scope="row">Město:</th><td>{{ team.city }}</td></tr>
<tr><th scope="row">Firma:</th><td>{{ team.company }}</td></tr>
<tr><th scope="row">Členové týmu:</th><td>{{ team_members }}</td></tr>
<tr><th scope="row">Startovné:</th><td>
{% if payment_status == 'done' %} Zaplaceno (slevový kód na <a href="http://www.coromoro.com/designova_trika/detail/139-do-prace-na-kole-2012" target="_top">triko</a>: {{ voucher }}){% endif %}
{% if payment_status == 'waiting' %} Čeká se na potvrzení platby (<a href="/registrace/platba/">Zadat jinou platbu</a>){% endif %}
{% if payment_status == None %} Příspěvek dosud nezaplacen. <a href="/registrace/platba/">Zaplatit</a> {% endif %}
</td></tr>
</table>
<a href="/registrace/upravit_profil/">Upravit údaje</a> | <a href="/registrace/zmena_hesla/">Změnit heslo</a> | <a href="/registrace/logout/">Odhlásit</a>

{% if superuser %}
<h3>Jízdy</h3>

<p>Tip: Pro vyplnění jízd musíte nejprve zodpovědět anketní otázku</p>

<table>
<tr>
<th scope="column">Den</th>
<th scope="column">Anketa</th>
<th scope="column">Do práce</th>
<th scope="column">Z práce</th>
<th scope="column">Odeslat</th>
<th scope="column">Pravidelnost</th>
<th scope="column">Najeto</th>
</tr>
{% for day in calendar %}
<tr>
<form name="calendar-{{ forloop.counter }}" action="/registrace/profil/" method="POST">
<th scope="row">{{ day.name }}</th>
<td>{% if day.question_active %}<a href="/registrace/otazka/?day={{ day.iso }}">Otázka</a>{% else %} ? {% endif %}</td>
<td><input type="checkbox" name="trip_to" {% if not day.trips_active %} readonly="readonly" {% endif %} {% if day.default_trip_to %}checked="checked"{% endif %}/></td>
<td><input type="checkbox" name="trip_from" {% if not day.trips_active %} readonly="readonly" {% endif %} {% if day.default_trip_from %}checked="checked"{% endif %}/></td>
<td><input type="hidden" name="day" value="{{ forloop.counter }}"/><input type="submit" value="OK" {% if day.trips_active %} {% else %} disabled="disabled" {% endif %}/></td>
<td>{% if day.trips_active %}{{ day.percentage }}%{% endif %}</td>
<td>{% if day.trips_active %}{{ day.distance }} km{% endif %}</td>
</form>
</tr>
{% endfor %}
</table>

<h3>Přehled týmu</h3>

<ul>
<li>Najeto v týmu: {{ team_distance }} km</li>
<li>Pravidelnost v týmu: {{ team_percentage }}%</li>
</ul>
{% endif %}


{% else %}
Tento profil byl zneaktivněn. S případnými dotazy se obracejte na kontakt@dopracenakole.net .</br>
<a href="/registrace/logout/">Odhlásit</a>
{% endif %}


<p>S dotazy a nejasnostmi se obracejte na kontakt@dopracenakole.net</p>

{% endblock %}
