{% extends "base.html" %}

{% block content %}
<p>Tým byl úspěšně registrován!</p>
<p class="team-password-info">Tajný kód vašeho týmu je: <span style="team-password">{{ team_password }}</span></p>

<p>Další postup:</p>
<ol>
<li>Sdělte kód týmu 1-4 svým kolegům, například následující zprávou:
<blockquote>
Založil jsem nám tým v soutěži Do práce na kole. Teď je potřeba, abyste se
k našemu týmu zaregistrovali jako soutěžící.<br/><br/>
Jméno našeho týmu: {{ team_name }}<br/>
Náš tajný kód: {{ team_password }}<br/>
<br/>
Adresa pro registraci:<br/>
   http://www.dopracenakole.net/home/chci-se-zucastnit/
</blockquote>
</li>
<li><a href="/registrace/registrace/?team={{ team_id }}&team_password={{ team_password }}">Zaregistrujte se také vy</a></li>
</ol>

<p>
<p>ENGLISH INFO: Your team is registered successfully, your secret team code is the word: {{ team_password }}. <a href="/registrace/registrace/?team={{ team_id }}&team_password={{ team_password }}">Continue with your registration.</a></p>

</p>

{% endblock %}

