{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %} - {% trans "Pozvánka odeslána" %}{% endblock %}

{% block regcontent %}
<p>{% trans "Pozvánka k dokončení registrace odeslána. Prosím, zkontrolujte svůj e-mail. Pokud jste ji nenašli, radši prozkoumejte i složku hromadné korespondence či spamu." %}</p>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
