{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %} - {% trans "Pozvánka odeslána" %}{% endblock %}

{% block regcontent %}
<p>{% trans "Pozvánka k dokončení registrace odeslána. Prosím, zkontrolujte svůj e-mail. Pokud jste ji nenašli, radši prozkoumejte i složku hromadné korespondence či spamu." %}</p>
<!-- Facebook Pixel Code -->
<script>
 !function(f,b,e,v,n,t,s)
 {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                                     n.callMethod.apply(n,arguments):n.queue.push(arguments)};
     if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
     n.queue=[];t=b.createElement(e);t.async=!0;
     t.src=v;s=b.getElementsByTagName(e)[0];
     s.parentNode.insertBefore(t,s)}(window, document,'script',
                                     'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '328619864298783');
 fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=328619864298783&ev=PageView&noscript=1"
          /></noscript>
<!-- End Facebook Pixel Code -->

{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
