{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %} - {% trans "Znovu poslat aktivační e-mail" %}{% endblock %}

{% block content %}
{% blocktrans %}
Pro znovuodeslání aktivačního e-mailu zadejte adresu.
{% endblocktrans %}
{% endblock %}

{% block form %}
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <input type="submit" class="btn btn-primary" name="{% trans 'Submit' %}"/>
    {% endbuttons %}
</form>
{% endblock %}
