{% load bleach_tags %}
<a href="http://www.cyklistesobe.cz/{{ cyklistesobe.features.0.properties.url }}"><h3>
{{ cyklistesobe.features.0.properties.title }}
</h3></a>
{% if cyklistesobe.features.0.properties.photo_thumb_url %}
<img src="http://www.cyklistesobe.cz/{{ cyklistesobe.features.0.properties.photo_thumb_url }}" ></img>
{% endif %}
{{ cyklistesobe.features.0.properties.description|bleach }}
{{ cyklistesobe.features.0.properties.vote_count }} Hlasů
<br/>
Vytvořil: {{ cyklistesobe.features.0.properties.created_by }}
