{% load i18n %}
{% load bleach_tags %}

<div class="wp_news">
{% for key, value in wp_feed.items %}
   <div class="item">
      <h4>
          <a href="{{ value.url }}" target="_blank">
                  {{ value.title }}
          </a>
      </h4>
      {% if unfold == "all" or forloop.first and unfold == "first" %}
         {% if value.image %}
            <span class="{% if not show_description %}bobble{% endif %}"><img src="{{ value.image }}" alt="Obrázek k podnětu"></img></span>
         {% endif %}
         {% if show_description %}
            {{ value.excerpt|bleach }}
         {% endif %}
      {% endif %}
   </div>
   {% empty %}
   {% blocktrans %}Žádná {{ post_type_string }} není.{% endblocktrans %}
{% endfor %}
</div>
