{% load i18n %}
{% load dpnk_tags %}
{% load bleach_tags %}

{% for value in wp_feed %}
{% if forloop.first %}
   {% if header %}
   <h3>{{ header }}{% if city %}{% trans " ve městě " %}<a href="{{ BASE_WP_URL }}/locations/{{ city.slug }}">{{ city }}</a>{% endif %}</h3>
   {% endif %}
   <div class="wp_news">
{% endif %}
   <div class="item">
      <h4>
          <a href="{{ value.url }}" target="_blank">
                  {{ value.title|unquote_html }}
          </a>
      </h4>
      {% if unfold == "all" or forloop.first and unfold == "first" %}
         {% if value.image %}
            <span class="{% if not show_description %}bobble{% endif %}"><img src="{{ value.image }}" alt="Obrázek k podnětu"></span>
         {% endif %}
         {% if show_description %}
            {{ value.excerpt|bleach }}
         {% endif %}
      {% endif %}
   </div>
{% if forloop.last %}
   </div>
{% endif %}
{% endfor %}
