{% extends "email/base.html" %}
{% load i18n %}
{% load get_var_value from dpnk_tags %}

{% block title %}
{% blocktrans %}Reset your password
{% endblocktrans %}
{% endblock %}

{% block content %}
{% blocktrans %}
<p>
You're receiving this e-mail because you or someone else has requested a password for your Bike to Work user account.
</p>
<p>
It can be safely ignored if you did not request a password reset.
</p>
<p>
Click the link below to reset your password.
</p>
{% endblocktrans %}

{% trans 'Reset your password' as btn_txt %}
{% get_var_value password_reset_url as button_link %}
{% include "email/button.html" with button_text=btn_txt %}

{% blocktrans %}
<p>In case you forgot, your e-mail is {{ email }}.</p>
{% endblocktrans %}
{% endblock %}
