{% load wp_url from dpnk_tags %}{% autoescape off %}

Zpráva pro soutěžící/ho {{ coordinator.userprofile }}, koordinátora/ku týmu {{user.userprofile.team}} v soutěži {{ user.campaign }}.

Dobrý den,

soutěžící {{ user.userprofile }} Vás žádá o zapojení do Vašeho týmu {{user.userprofile.team}}.

Vzhledem k otevřenému charakteru soutěže se další soutěžící z Vaší organizace mohou hlásit do Vašeho týmu. Rozhodnutí, zda s nimi budete společně po celý měsíc květen soutěžit v jízdě do práce na kole, je ale na Vás.

Členství kandidáta/ky ve Vašem týmu můžete potvrdit nebo zamítnout pomocí tohoto odkazu:
{% block approval_link %}
{{ SITE_URL }}{% wp_url  'team_admin' %}
{% endblock %}

Ujištění pro Vás: Zamítnutím kandidáta/ku nediskvalifikujete ze soutěže. Pokud si do konce dubna vytvoří vlastní tým nebo se připojí do jiného týmu, bude vše v pořádku.

Děkujeme Vám za založení týmu a přejeme Vám hodně radosti z jízdy na kole!
Váš organizační tým soutěže {{ user.campaign }}

---
{{ user.campaign.email_footer }}

{% endautoescape %}
