{% load i18n %}
{% autoescape off %}

{% language new_user.userprofile.language %}
A message for {{ team_member.userprofile }}, a member of the {{new_user.team.name}} team in the {{ new_user.campaign }} competition.

Hello,

participant {{ new_user.userprofile }} is asking you to join the {{new_user.team.name}} team.

Given the open character of the competition, other people from your company can apply for your team. However, it is up to you to decide if you want to challenge them in cycling to work in the whole month of May.


You can approve or decline the membership of a candidate in your team using this link:
{% block approval_link %}
http://{{ new_user.campaign.slug }}.{{ SITE_URL }}{% url 'team_members' %}
{% endblock %}

Just to make things clear: By declining somebody's membership you are not disqualifying them from the competition. If they set up their own team by the end of April or if they join another team, everything is OK.

Thank you for setting up a team and enjoy your cycling!

Your {{ new_user.campaign }} organization team

---
{{ new_user.campaign.email_footer }}
{% endlanguage %}
{% endautoescape %}
