{% extends "email/base.html" %}
{% load i18n %}
{% load get_app_base_url from dpnk_tags %}

{% block content %}
{% language lang_code %}
<p>
Dobrý den, {{ user_attendance.userprofile.first_name_vokativ }}
</p><p>
gratulujeme!
Nyní zastupujete společnost {{ company }} jako firemní koordinátor.
Nezapomeňte, s velkou mocí přichází velká zodpovědnost. Vaši lidé na Vás spoléhají.
</p>

{% get_app_base_url 'coordinator/attendance' as button_link %}
{% include "./button.html" with button_text="Chci se přihlásit jako firemní koordinátor" %}

<p>
Až se přihlásíte, čekají Vás hlavní dva úkoly:
</p>

<ul>
   <li>
      <a href="{% get_app_base_url 'coordinator/invoices' %}">Vyplnit fakturační údaje organizace.</a>
   </li><li>
      <a href="{% get_app_base_url 'coordinator/fees' %}">Schvalovat platby za soutěžící.</a>
   </li>
</ul>

{% endlanguage %}
{% endblock %}
