{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
{% language lang_code %}
<p>
Hello, brave {{ user_attendance.userprofile.first_name }}
</p><p>
thank you for applying. We wish your dream will come true and you will become the {{ company }} company coordinator.
</p><p>
First, we want to know you better. Maybe somebody from our team will contact you so keep the phone fully charged.
</p><p>
Please be patient. In the end of the process we will send you a resolution e-mail.
</p>
{% endlanguage %}
{% endblock %}
