{% load wp_url from dpnk_tags %}{% autoescape off %}

Zpráva pro kandidáta/ku {{ user.get_full_name }} na firemního správce ve společnosti {{ company }} v soutěži Do práce na kole 2013.

Dobrý den,
právě jste zažádal o funkci firemního správce společnosti {{ company }}. Pokud se tak stalo bez Vašeho vědomí, dejte nám prosím neprodleně vědět.
Vzhledem k otevřenému charakteru soutěže nám může podobná žádost přijít od kohokoli z Vašeho týmu, proto prosím vyčkejte na prověření Vaší žádosti. Pro účely ověření Vaší identity se Vám mohou ozvat zástupci hlavního organizátora, iniciativy Auto*Mat, zvlášť pokud se s nikým z nich neznáte osobně. Po schválení Vaší žádosti Vás budeme informovat e-mailem.
Děkujeme Vám za podporu Vašich kolegů v soutěži Do práce na kole 2013 a těšíme se na další spolupráci.
Váš organizační tým soutěže Do práce na kole 2013

---
Soutěž Do práce na kole 2013 pořádá Auto*Mat, o. s. ve spolupráci s Nadací Partnerství, sdruženími Centrum pro životní prostředí a zdraví, Cyklisté Liberecka, Kolomouc, Ostravou na kole, Ústím na kole, dále městy Jihlava, Pardubice a Uherské Hradiště a Centrem ekologického vzdělávání Žabka.
Za finanční i materiální podporu děkujeme generálnímu logistickému partnerovi TNT Express, společnostem O.P.Tiger a Kellys, Nadaci Vodafone, velvyslanectvím USA a Nizozemska, programu udržitelné mobility Evropské komise a mediálním partnerům Seznam.cz a TV Nova.

{% endautoescape %}
