{% load i18n %}
{% autoescape off %}

{% language company_admin.userprofile.language %}
A message for {{ company_admin.userprofile }}, a company coordinator in {{ company }} in the {{ company_admin.campaign }} competition.

Hello,

you've just become a {{ company }} company coordinator. 
You can sign in to the {{ company_admin.campaign }} registration system. The sign-in process differs if you participate in this competition or not.  

If you ARE a participant in the competition, i.e. you've registered as a regular team member, log in as before and use the "Go to company coordination" button in your profile (link http://{{ company_admin.campaign.slug }}.{{ SITE_URL }}{% url 'profil' %}).
If you ARE NOT a participant in the competition, i.e. you've registered through a company coordinator web page, please go back there (link http://{{ company_admin.campaign.slug }}.{{ SITE_URL }}{% url 'company_admin_application' %}).

Once you've signed in, please fill in the company billing details which will be used to send your company an invoice when the registration is completed. You don't need to do this multiple times, just once. 

You can also monitor the registration status and gradually approve "your" participants who you should include in the joint invoice. During the registration process, more and more participants will sign in so you will have to check the status several times. 

Thank you for your support of {{ company_admin.campaign }} and we look forward to further cooperation.

Your {{ company_admin.campaign }} organization team

---
{{ company_admin.campaign.email_footer }}
{% endlanguage %}
{% endautoescape %}
