{% autoescape off %}

Zpráva pro kandidáta/ku {{ user }} na koorkinátora organizace {{ company }} v soutěži {{ user.campaign }}.

Dobrý den,
právě jste zažádal/a o funkci koorkinátora organizace {{ company }}. Pokud se tak stalo bez Vašeho vědomí, dejte nám prosím neprodleně vědět.
Vzhledem k otevřenému charakteru soutěže nám může podobná žádost přijít od kohokoli z Vašeho týmu, proto prosím vyčkejte na prověření Vaší žádosti. Pro účely ověření Vaší identity se Vám mohou ozvat zástupci hlavního organizátora, iniciativy Auto*Mat, zvlášť pokud se s nikým z nich neznáte osobně. Po schválení Vaší žádosti Vás budeme informovat e-mailem.
Děkujeme Vám za podporu Vašich kolegů v soutěži {{ user.campaign }} a těšíme se na další spolupráci.
Váš organizační tým soutěže {{ user.campaign }}

---
{{ user.campaign.email_footer }}

{% endautoescape %}
