{% load wp_url from dpnk_tags %}{% autoescape off %}

Zpráva pro kandidáta/ku {{ company_admin.user }} na firemního správce ve společnosti {{ company_admin.administrated_company }} v soutěži {{ company_admin.campaign }}.

Dobrý den,
právě jste se registroval/a do systému Do práce na kole jako kandidát/ka na firemního správce společnosti {{ company }}. Pokud se tak stalo bez Vašeho vědomí, dejte nám prosím neprodleně vědět.
Vzhledem k otevřenému charakteru soutěže může o podobnou registraci zažádat kdokoli. Proto prosím vyčkejte na prověření Vaší žádosti. Pro účely ověření Vaší identity se Vám mohou ozvat zástupci hlavního organizátora, iniciativy Auto*Mat, zvlášť pokud se s nikým z nich neznáte osobně. Po schválení Vaší žádosti Vás budeme informovat e-mailem.
Děkujeme Vám za podporu Vašich kolegů v soutěži {{ company_admin.campaign }} a těšíme se na další spolupráci.
Váš organizační tým soutěže {{ company_admin.campaign }}

---
{{ company_admin.campaign.email_footer }}

{% endautoescape %}
