{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
{% language lang_code %}
<p>
Hello, brave {{ user_attendance.userprofile.first_name }}
</p><p>
thank You for applying. We wish Your dream will come true and You will become the {{ company }} company coordinator.
</p><p>
First, we want to know You better. Maybe somebody from our team will contact You so keep the phone fully charged.
</p><p>
Please be patient. In the end of the process we will send You a resolution e-mail.
</p>
{% endlanguage %}
{% endblock %}
