{% load wp_url from dpnk_tags %}{% autoescape off %}

Zpráva pro {{ user.get_full_name }} ze soutěže Do práce na kole 2013.

Dobrý den,
Vaše žádost o funkci firemního správce nebyla potvrzena. Pokud nevíte proč a nikdo Vás nekontaktoval, obraťte se prosím na nás s žádostí o vysvětlení.
Děkujeme Vám za podporu soutěže Do práce na kole 2013!
Váš organizační tým soutěže Do práce na kole 2013

---
Soutěž Do práce na kole 2013 pořádá Auto*Mat, o. s. ve spolupráci s Nadací Partnerství, sdruženími Centrum pro životní prostředí a zdraví, Cyklisté Liberecka, Kolomouc, Ostravou na kole, Ústím na kole, dále městy Jihlava, Pardubice a Uherské Hradiště a Centrem ekologického vzdělávání Žabka.
Za finanční i materiální podporu děkujeme generálnímu logistickému partnerovi TNT Express, společnostem O.P.Tiger a Kellys, Nadaci Vodafone, velvyslanectvím USA a Nizozemska, programu udržitelné mobility Evropské komise a mediálním partnerům Seznam.cz a TV Nova.
Pravidla soutěže: http://www.dopracenakole.net/chci-slapat/pravidla-souteze/
Uživatelská podpora: mailto:kontakt@dopracenakole.net

{% endautoescape %}
