{% load wp_url from dpnk_tags %}{% autoescape off %}

Dobrý den,

Váš kolega/kolegyně {{ user.userprofile }} chce šlapat s Vámi v týmu {{user.team.name}}. Víte proč? Zeptejte se ho/jí nebo se mrkněte spot "Nedělej Milušku a šlapej!" http://www.youtube.com/watch?v=8mn4Lr1tx1w

Jdete do toho? Tento odkaz vede k jednoduchému předvyplněnému formuláři.
{% block register_link %}
{{ SITE_URL }}{% wp_url 'registrace' %}?invitation_token={{ user.team.invitation_token }}&email={{ email }}
{% endblock %}
(Pokud Vám odkaz nefunguje, zkopírujte ho přes schránku do oblíbeného prohlížeče.)

Tak ať Vám to šlape!
Váš tým soutěže {{ user.campaign }}

---
{{ user.campaign.email_footer }}

{% endautoescape %}
