{% load i18n %}
{% autoescape off %}

{% language lang_code %}
{% if invited %}
Zpráva pro soutěžící/ho {{ invited.userprofile }} {% if invited.team %}z týmu {{invited.team.name}} {% endif %}v soutěži {{ invited.campaign }}.
{% endif %}

Dobrý den,

Váš kolega/kolegyně {{ inviting.userprofile }} chce jezdit s Vámi v týmu {{inviting.team.name}}. Víte proč? Zeptejte se ho/jí na mailu {{ inviting.userprofile.user.email }}.

Jdete do toho? Tento odkaz vede k jednoduchému předvyplněnému formuláři.
{% block register_link %}
{% if not invited %}
http://{{ inviting.campaign.slug }}.{{ SITE_URL }}{% url 'registrace' token=inviting.team.invitation_token initial_email=email %}
{% else %}
http://{{ invited.campaign.slug }}.{{ SITE_URL }}{% url 'zmenit_tym' token=inviting.team.invitation_token initial_email=email %}
{% endif %}
{% endblock %}
(Pokud Vám odkaz nefunguje, zkopírujte ho přes schránku do oblíbeného prohlížeče.)

Hodně šťastných kilometrů!
Váš tým soutěže {{ inviting.campaign }}

---
{{ inviting.campaign.email_footer }}
{% endlanguage %}

{% endautoescape %}
