{% load wp_url from dpnk_tags %}{% autoescape off %}

Zpráva pro soutěžící/ho {{ user_attendance.userprofile }} v soutěži {{ user_attendance.campaign }}.

Dobrý den,

právě jste se stal/a koordinátorem týmu {{ user_attendance.coordinated_team }}. Pro správu týmu navštivte stránku
{% block profile_link %}
{{ SITE_URL }}{% wp_url 'team_admin' %}
{% endblock %}

Děkujeme Vám za přízeň a těšíme se na viděnou v květnu!
Váš organizační tým soutěže {{ user.campaign }}

---
{{ user.campaign.email_footer }}


{% endautoescape %}
