{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
{% language lang_code %}
<p>
Dobrý den, {{ user_attendance.userprofile.first_name_vokativ }}
</p><p>
nastal čas na malé účetní kolečko.
Připravili jsme účastnickou fakturu pro Vaši společnost {{ user_attendance.team.subsidiary.company.name }} v soutěži {{ user_attendance.campaign.name }}.
</p>

{% url 'invoices' as button_link %}
{% include "./button.html" with button_text="Stáhnout fakturu" %}

<p>
Kompletní přehled faktur najdete ve svém <a href="{{ absolute_uri }}{% url 'invoices' %}">profilu</a>.
</p>
{% endlanguage %}
{% endblock %}
