{% autoescape off %}

A message for {{ user }} from the {{user.team.name}} team in the {{ user.campaign }}competition.

Dear {{ user.campaign }} participant, 

your start fee payment has been confirmed. Whether you paid yourself or are a member of the Friends Club, you can consider this sorted. You can now focus on preparations for the competition and so we have some tips for you:
- If it is your first time cycling in the city, please make use of our advice for urban cycling.
- If you are competitive, find some strong opponents and convince them to take part.
- Check out the competition categories in your city.

You can also look forward to our start pack with a T-shirt!

We really appreciate your decision to participate in the competition and we look forward to seeing you in the streets of your city with the competition T-shirt on!

Your {{ user.campaign }}organization team

---
{{ user.campaign.email_footer }}

{% endautoescape %}
