{% load wp_url from dpnk_tags %}{% autoescape off %}

Zpráva pro účastnici/účastníka soutěže {{ user.campaign }} {{ user.get_full_name }}.

Vážená/ý účastnice/íku soutěže {{ user.campaign }},

Vaše platba startovného byla potvrzena. Ať už jste hradil/a startovné sám/sama nebo jste členem/členkou Klubu přátel, považujte otázku startovného za vyřešenou.

Nyní se můžete soustředit na přípravu k soutěži, máme pro Vás proto pár tipů:
- Budete-li jezdit po městě poprvé, využijte našich rad pro jízdu na kole ve městě.
- Jste-li soutěživí, poohlédněte se po dobrých soupeřích a přesvědčte je k účasti v soutěži.
- Podívejte se do nabídky soutěžních kategorií ve Vašem městě.

Nyní se také můžete těšit na startovní balíček s designovým moderním trikem! Skvělé triko z bio-bavlny Vám certifikovaným netoxickým tiskem vyrobí O.P.Tiger a do místa Vašeho zaměstnání doručí TNT Express. Více informací o trikách naleznete na http://www.dopracenakole.net/registrace/tricka/

Vážíme si Vašeho rozhodnutí účastnit se soutěže a těšíme se na viděnou v ulicích města se soutěžním trikem!
Váš organizační tým soutěže {{ user.campaign }}

P.S. Už jste si zkusil/a vylepšit profilovku na Facebooku? Je to snadné, mkrněte na svůj profil http://www.dopracenakole.net/profil/

---
{{ user.campaign.email_footer }}

{% endautoescape %}
