{% extends "email/base.html" %}
{% block content %}
<p>
Dobrý den, {{ user_attendance.userprofile.first_name_vokativ }}
</p><p>
velmi oceňujeme vaše rozhodnutí podpořit darem navíc spolek AutoMat,
pořadatele výzvy Do práce na kole. Děkujeme, moc to pro nás znamená.
</p><p>
Váš dar použijeme na rozvoj naší snahy o propagaci udržitelné mobility
a zdravých měst. Našim snem je lepší prostředí pro kvalitní život ve městě.
Podporujeme veřejnou, pěší a cyklistickou dopravu i rozumné používání aut.
Přinášíme inspiraci z evropských metropolí a aktivizujeme lidi k pozitivní
proměně ulic a veřejného prostoru. Dohlížíme na politiky a efektivní využití
veřejných peněz. Společně s vámi tvoříme město, ve kterém chceme žít.
</p><p>
O tom, co všechno pro to děláme, se můžete dozvědět na
<a href="https://auto-mat.cz/">našich webovkách</a> nebo sociálních sítích.
</p>
{% endblock %}
