{% load wp_url from dpnk_tags %}{% autoescape off %}

Vážený účastníku soutěže Do práce na kole,

Vaše platba startovného v soutěži Do práce na kole byla potvrzena. Ať už jste hradil/a startovné sám/sama, nebo jej uhradil Váš zaměstnavatel nebo jste členem/členkou Klubu přátel, považujte otázku startovného za vyřešenou.

Nyní se můžete soustředit na přípravu k soutěži, máme pro Vás proto pár tipů:
Budete-li jezdit po městě poprvé, využijte našich rad pro jízdu na kole ve městě.
Jste-li soutěživí, poohlédněte se po dobrých soupeřích a přesvědčte je k účasti v soutěži.
Podívejte se do nabídky soutěžních kategorií. 

S pozdravem,
Auto*Mat

{% endautoescape %}
