{% load wp_url from dpnk_tags %}{% autoescape off %}

Zpráva pro účastnici/účastníka soutěže {{ user.campaign }} {{ user.get_full_name }} ze společnosti {{ company }}.

Dobrý den,
firemní správce společnosti {{ company }}, právě potvrdil/a uhrazení Vašeho účastnického poplatku v soutěži {{ user.campaign }}.
Od této chvíle se o účastnický poplatek nemusíte starat, protože jej společnost {{ company }} uhradí fakturou hromadně za několik účastníků naráz. I kdyby k úhradě faktury nedošlo do termínu oficiálního ukončení registrací, budeme s Vámi počítat jako s právoplatnou/ým soutěžící/m.
Můžete se také těšit na startovní balíček s designovým moderním trikem! Skvělé triko z bio-bavlny Vám certifikovaným netoxickým tiskem vyrobí O.P.Tiger a do místa Vašeho zaměstnání doručí TNT Express. Více informací o trikách naleznete na http://www.dopracenakole.net/registrace/tricka/
Děkujeme Vám za registraci do soutěže a držíme palce nejen v samotné soutěži, ale zejména při pravidelném a dlouhodobém využívání kola na cestách do práce a zpět. Ať Vám to šlape!
Váš organizační tým soutěže {{ user.campaign }}

---
{{ user.campaign.email_footer }}

{% endautoescape %}
