{% extends "email/base.html" %}
{% block content %}
<p>
Good news, {{ user_attendance.userprofile.first_name }}
</p><p>
your entry fee payment for the {{ user_attendance.campaign }} Bike to Work
Challenge is officially paid!
</p><p>
If you don't have a full team yet, go ahead - you'll find people around
you who might be interested in a sustainable commute. So who will you
invite to join your team?
</p><p>
We encourage you to move around the world sustainably - the environment
and people around you will be forever grateful.
</p>
{% endblock %}
