{% load wp_url from dpnk_tags %}{% autoescape off %}

Zpráva pro soutěžící/ho {{ user.userprofile }} v soutěži {{ user.campaign }}.

Vítejte v soutěži Do práce na kole!

Právě jste se registroval/a do kampaně {{ user.campaign }}. Než budete moct vyjet, projděte prosím ještě všechny kroky na adrese:
{% block profile_link %}
{{ SITE_URL }}{% wp_url 'profil' %}
{% endblock %}

Vaše uživatelské jméno je {{ user.userprofile.user.username }}. Vaše heslo zde kvůli bezpečnosti neuvádíme, ale můžete si ho kdykoli nechat zaslat znovu z webu {{ SITE_URL }}

Máte už soupeře? Soutěž bude pro Vás zábavnější, když se do ní zapojí i Vaši známí. Koho byste rádi vyzvali? Kolegy z Vašeho nebo jiného oddělení? Vaše dodavatele nebo zákazníky? Nebo změříte síly a vytrvalost s konkurencí?

Každý týden Vám zašleme zprávu s novinkami, ať už se budou týkat registrační fáze (do konce dubna) nebo soutěžní fáze (v květnu). Prosíme Vás, sledujte čas od času Váš osobní profil {{ SITE_URL }}{% wp_url 'profil' %}, který budete využívat až do konce soutěže jako Váš osobní rozcestník - můžete tam měnit Vaše osobní údaje, zvolíte si soutěžní kategorie a budete si zde evidovat jízdy na kole. Pokud si něčím nejste jistí, ozvěte se na kontakt@dopracenakole.net.

Děkujeme Vám za zájem a těšíme se na viděnou v květnu!
Váš organizační tým soutěže {{ user.campaign }}

---
{{ user.campaign.email_footer }}

{% endautoescape %}
