{% load i18n %}
{% autoescape off %}

{% language user.userprofile.language %}
A message for {{ user.userprofile }}, participating in the {{ user.campaign }} competition.

Welcome to the Bike to Work competition! You've just registered in the {{ user.campaign }} campaign. Before you head off, please check all the steps on: {% block profile_link %}
http://{{ user.campaign.slug }}.{{ SITE_URL }}{% url 'upravit_profil' %}
{% endblock %}

Your log-in email is {{ user.userprofile.user.email }}. We don't mention your password here for security reasons but it can be sent to you again anytime from http://{{ user.campaign.slug }}.{{ SITE_URL }}{% url 'password_change' %} Have you already got an opponent? The competition will be more interesting for you if people you know also join in. Who would you like to challenge? Colleagues from your or another team? Your suppliers or customers? Or will you challenge your business competitors?

We will send you an update on a weekly basis to inform you about the registration stage (by the end of April) as well as the competition stage (in May). Please, check your personal profile from time to time on 
http://{{ user.campaign.slug }}.{{ SITE_URL }}{% url 'profil' %}
, which will serve as your personal guidepost until the end of the competition - you can modify your personal details there, select your competition categories and track your bike trips. If there is anything you are unsure about, please contact us at kontakt@dopracenakole.net. 

Thank you for your interest and we look forward to seeing you in May!

Your {{ user.campaign }}organization team

---
{{ user.campaign.email_footer }}
{% endlanguage %}

{% endautoescape %}
