{% load wp_url from dpnk_tags %}{% autoescape off %}

Zpráva pro soutěžící/ho {{ user.userprofile }} z týmu {{user.team}} v soutěži {{ user.campaign }}.

Vítejte v soutěži Do práce na kole!

Registraci do týmu {{user.team}} máte za sebou, svůj profil budete mít vždy k dispozici na adrese:
{% block profile_link %}
{{ SITE_URL }}{% wp_url 'profil' %}
{% endblock %}

Vaše uživatelské jméno je {{ user.username }}. Vaše heslo zde kvůli bezpečnosti neuvádíme, ale můžete si ho kdykoli nechat zaslat znovu z webu http://dopracenakole.net

Máte už soupeře? Soutěž bude pro Vás zábavnější, když se do ní zapojí i Vaši známí. Koho byste rádi vyzvali? Kolegy z Vašeho nebo jiného oddělení? Vaše dodavatele nebo zákazníky? Nebo změříte síly a vytrvalost s konkurencí?

Neváhejte a napište jim, že:
- šlapat může každý: http://www.youtube.com/watch?v=lckme46WVtU
- registrace je snadná: http://www.dopracenakole.net/chci-slapat/
- jízdní kolo na cestě do práce prospěje každému: http://www.dopracenakole.net/proc-slapat/

Každý týden Vám zašleme zprávu s novinkami, ať už se budou týkat registrační fáze (do konce dubna) nebo soutěžní fáze (v květnu). Prosíme Vás, sledujte čas od času Váš osobní profil http://www.dopracenakole.net/profil/, který budete využívat až do konce soutěže jako Váš osobní rozcestník - můžete tam měnit Vaše osobní údaje, zvolíte si soutěžní kategorie a budete si zde evidovat jízdy na kole. Pokud si něčím nejste jistí, ozvěte se na kontakt@dopracenakole.net.

Děkujeme Vám za zájem a těšíme se na viděnou v květnu!
Váš organizační tým soutěže {{ user.campaign }}

P.S. Už jste si zkusili vylepšit profilovku na Facebooku? Je to snadné, mkrněte na svůj profil http://www.dopracenakole.net/profil/

---
{{ user.campaign.email_footer }}

{% endautoescape %}
