{% extends "email/base.html" %}
{% load i18n %}
{% load get_app_base_url from dpnk_tags %}

{% block content %}
{% language lang_code %}
<p>
Time to hit the road, {{ user_attendance.userprofile.first_name }}!
</p><p>
your team {{team_name}} is ready to go.
</p><p>
Check your <a href="{% get_app_base_url 'profile/details' %}">profile</a> and invite your coworkers to join the team.
</p>

{% get_app_base_url 'profile/details' as button_link %}
{% include "./button.html" with button_text="Pozvat kolegy do týmu" %}

{% include "./button.html" with button_text="Invite" %}

<h4>
Do you have a <a href="{% get_app_base_url 'become-coordinator' %}">company coordinator</a>?
</h4>
<p>
You can ask the employer to support your team by paying the starter fee or creating a company challenge so you can compare your skills to the whole company. Sounds like a moving teambuilding, right?
</p><p>
Became a company coordinator and get these things done for your coworkers. We let you participate in the challenge for free as a thank you note.
</p>

{% get_app_base_url 'become-coordinator' as button_link %}
{% include "./button.html" with button_text="Become s company coordinator" %}

{% endlanguage %}
{% endblock %}
