{% extends "email/base.html" %}
{% load i18n %}
{% load get_app_base_url from dpnk_tags %}

{% block content %}
{% language lang_code %}
<p>
Dobrý den, {{ user_attendance.userprofile.first_name_vokativ }}
</p><p>
tým {{team_name}} stojí na startovní čáře a čeká na váš povel.
</p>

{% get_app_base_url 'profile/details' as button_link %}
{% include "./button.html" with button_text="Pozvat kolegy do týmu" %}

<h4>
Máte <a href="{% get_app_base_url 'become-coordinator' %}">firemního koordinátora</a>?
</h4>
<p>
Zapojte do výzvy vedení společnosti a nechte si od něj uhradit startovné.
</p><p>
Když se zaměstnavatel nadchne pro vaši věc, může vyhlásit dokonce <b>vnitrofiremní výzvu</b> a vy budete mít příležitost porovnat své síly s kolegy ze všech firemních poboček. To zní lépe než malé pivo a šunkové chlebíčky na pravidelném pátečním teambuildingu, co myslíte?
</p><p>
Přihlaste se o funkci firemního koordinátora a domluvte se s vedením na podpoře vašeho týmu ve výzvě.
</p>

{% get_app_base_url 'become-coordinator' as button_link %}
{% include "./button.html" with button_text="Chci se stát firemním koordinátorem" %}
{% endlanguage %}
{% endblock %}
