{% load localeurl_tags %}
{% autoescape off %}

Zpráva pro soutěžící/ho {{ user.userprofile }} v soutěži {{ user.campaign }}.

Dobrý den,

vaše členství v týmu {{user.team.name}} bylo právě odsouhlaseno. Můžete se přihlásit ke svému profilu pomocí adresy
{% block profile_link %}
http://{{ user.campaign.slug }}.{{ SITE_URL }}{% locale_url user.userprofile.language 'login' %}
{% endblock %}

Děkujeme Vám za přízeň a těšíme se na viděnou v květnu!
Váš organizační tým soutěže {{ user.campaign }}

---
{{ user.campaign.email_footer }}


{% endautoescape %}
