{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
{% language lang_code %}
<p>
Time to hit the road, {{ user_attendance.userprofile.first_name }}!
</p><p>
your team {{team_name}} is ready to go.
</p><p>
Check your <a href="{{ absolute_uri }}{% url 'login' %}">profile</a> and invite your coworkers to join the team.
</p>

{% url 'pozvanky' as button_link %}
{% include "./button.html" with button_text="Invite" %}

<h4>
Do you have a <a href="{{ absolute_uri }}{% url 'company_admin_application' %}">company coordinator</a>?
</h4>
<p>
You can ask the employer to support your team by paying the starter fee or creating a company challenge so you can compare your skills to the whole company. Sounds like a moving teambuilding, right?
</p><p>
Became a company coordinator and get these things done for your coworkers. We let you participate in the challenge for free as a thank you note.
</p>

{% url 'company_admin_application' as button_link %}
{% include "./button.html" with button_text="Become s company coordinator" %}

{% endlanguage %}
{% endblock %}
