{% extends "email/base.html" %}
{% load i18n %}
{% load get_app_base_url from dpnk_tags %}

{% block content %}
{% language lang_code %}
<p>
Dobrý den, {{ user_attendance.userprofile.first_name_vokativ }}
</p><p>
máme smutné zprávy. Vaše členství v týmu {{ user_attendance.team.name }} bylo právě zamítnuto členem týmu {{ denier }} z důvodu: {{reason}}
</p><p>
Ale pro jeden tým slunce nesvítí. Přihlaste se do svého profilu a <a href="{% get_app_base_url 'profile/details' %}">vyberte si jiný tým</a>. Nebo si založte svůj vlastní!
</p>
{% endlanguage %}
{% endblock %}
