{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
{% language lang_code %}
<p>
Dobrý den, {{ user_attendance.userprofile.first_name_vokativ }}
</p><p>
sesedněte na chvíli z kola, máme smutné zprávy.
Vaše členství v týmu {{user_attendance.team.name}} bylo právě zamítnuto členem týmu {{ denier }} z důvodu: {{reason}}
</p><p>
Ale pro jeden tým slunce nesvítí. Přihlaste se do svého profilu a <a href="{{ absolute_uri }}{% url 'zmenit_tym' %}" >vyberte si jiný tým</a>.
Nebo pořádně šlápněte do pedálů a založte si svůj vlastní!
</p>
{% endlanguage %}
{% endblock %}
