{% load i18n %}
{% autoescape off %}

{% language user.userprofile.language %}
Zpráva pro soutěžící/ho {{ user.userprofile }} v soutěži {{ user.campaign }}.

Dobrý den,

bohužel Vaše členství v týmu {{user.team.name}} bylo právě ZAMÍTNUTO členem týmu {{ denier }} z důvodu: {{reason}}

Budete se muset přihlásit do editace profilu na adrese
{% block profile_link %}
http://{{ user.campaign.slug }}.{{ SITE_URL }}{% url 'zmenit_tym' %}
{% endblock %}
a vybrat si jiný tým, nebo si založit tým vlastní.

Tak nevěšte hlavu a pojďte do toho!

Děkujeme Vám za přízeň a těšíme se na viděnou v květnu!
Váš organizační tým soutěže {{ user.campaign }}

---
{{ user.campaign.email_footer }}
{% endlanguage %}


{% endautoescape %}
