{% extends "email/base.html" %}
{% load i18n %}
{% load get_app_base_url from dpnk_tags %}

{% block content %}
{% language lang_code %}
<p>
Don't let them win, {{user_attendance.campaign.display_name}}
</p><p>
it's been {{ days_unfilled }} days since you last updated your courses.
Your competitors are already ahead of you. Hurry up, you can fill in the rides only for {{ user_attendance.campaign.days_active }} days back.
</p><p>
Don't forget. Every day is a new challenge.
</p>

{% get_app_base_url 'routes/calendar' as button_link %}
{% include "./button.html" with button_text="Get back on track" %}
{% endlanguage %}
{% endblock %}
