{% extends "email/base.html" %}
{% load i18n %}
{% load get_app_base_url from dpnk_tags %}

{% block content %}
{% language lang_code %}
<p>
Is everything OK, {{ user_attendance.userprofile.first_name }}?
</p><p>
We haven't get your payment for the team invoice issued on {{ invoice.exposure_date }} with the due date {{invoice.payback_date}}.
</p>

{% url get_app_base_url 'coordinator/invoices' as button_link %}
{% include "./button.html" with button_text="Manage my payments" %}

<p>
You can also check all invoices in <a href="{% get_app_base_url 'coordinator/invoices' %}">your profile</a>.
</p>
{% endlanguage %}
{% endblock %}
