{% load bootstrap %}
<fieldset id="{{id}}_div" {% if selected %}disabled{% endif %}>
    {{ html }}
</fieldset>
<fieldset>
<label for = "{{ id }}_selected" class="control-label">
   {{ new_description }}
</label>
<input type="checkbox" onclick='
   document.getElementById("{{ id }}_form").style.display = !(document.getElementById("{{ id }}_selected").checked)?"none":"block";
   document.getElementById("{{ id }}_div").disabled = (document.getElementById("{{ id }}_selected").checked);
' name="{{ id }}_selected" id="{{ id }}_selected" class="controls" {% if selected %}checked{% endif %}>
</fieldset>
<fieldset id="{{ id }}_form" {% if not selected %}style='display:none'{% endif %}>
   {{ underlying_form|bootstrap }}
</fieldset>
