.leaflet-draw-toolbar a {
    background-image: url('/static/leaflet-draw/dist/images/spritesheet.png') !important;
}
.leaflet-control-zoom-out.leaflet-bar-part{ // TODO!
    background-image: url('/static/leaflet-draw/dist/images/reset-view.png') !important;
}
.leaflet-control-layers-toggle {
    background-image: url('/static/leaflet/dist/images/layers.png') !important;
}
.leaflet-draw-draw-circlemarker {
    display: none !important;
}
.leaflet-interactive, .leaflet-clickable {
    stroke:red;
    stroke-opacity: 1;
    stroke-width: 4;
}
