@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/SourceSansPro-Regular.otf') format('woff'), 
       url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Black';
  src: url('../fonts/SourceSansPro-Black.eot');
  src: url('../fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/SourceSansPro-Black.otf') format('woff'), 
       url('../fonts/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Bold';
  src: url('../fonts/SourceSansPro-Bold.eot');
  src: url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/SourceSansPro-Bold.otf') format('woff'), 
       url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sports World';
  src: url('../fonts/Sports World-Regular.otf') format('woff'),  
       url('../fonts/Sports World-Regular.ttf') format('truetype');
}
body {
  background: #E8E8E8;
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: Source Sans;
  font-size: 18px;
  color: #333333;
}
h1, h2 {
  font-family: Sports World;
  text-transform:uppercase;
}
h3, h4, h5 {
  font-family: 'Source Sans Black';
  margin-top: 0px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
a.hover, .dpnk_login a:hover, .dpnk_citymenu a:hover, .dpnk_submenu a:hover {
  color: #ffd800;
  text-decoration: none;
}
.clear {
  clear:both
}
.container {
  max-width: 970px;
}
.dpnk_menu, .dpnk_login a {
  color: #ff6c00;
}
.dpnk_stamp {
  z-index: 999;
}
.dpnk_map {
  padding: 10px 0;
  background-color: #ff6c00;
}
.dpnk_map h2 { color: #E8E8E8 }
.dpnk_vyhry { padding-top: 10px; background-color: #e1dcd7 }
.dpnk_vyhry h2 {color: #ff6c00}
.dpnk_vyhry h3 {margin: 0 10px}
.dpnk_vyhry img {margin: 10px auto}
.dpnk_aktuality {background-color: #6c6c6c; padding-top: 10px; color: #E8E8E8}
.dpnk_aktuality h3 a, .dpnk_aktuality h3 a:hover {color: #E8E8E8; text-decoration:none}
.date {color: #AAAAAA; padding-right: 10px;}
img.aktuality_titulka {margin: 0 auto; margin-bottom: 15px}
.aktuality_popis {padding: 0 15px 15px 15px}
.dpnk_registrace {padding: 10px 0 20px 0; color: #E8E8E8; background-color: #ff6c00;}
.dpnk_partneri {padding: 40px 0;background: #FFFFFF}
.dpnk_partneri_lokalni {padding: 40px 0; margin: 20px -15px -50px; background: #FFFFFF}
.dpnk_partneri img {margin: 0 auto}
.dpnk_logo {
  margin-top: 40px;
  padding-left: 0px;
  font-family: Sports World;
  text-transform:uppercase;
}
.dpnk_login {
  margin-top: 62px;
  padding-right: 0px;
  font-family: Source Sans Black;
}
.dpnk_intro {
  background: #e1dcd7;
  margin: 0 -15px;
  padding: 30px;
  font-size: 22px;
  text-align: center;
}
.dpnk_page {
  background: #e1dcd7;
  margin: 0 -15px;
  padding: 40px 15px;
}
.dpnk_page h1 {margin-top: 10px; color: #6c6c6c; font-size: 30px}
.dpnk_2line {
  background: url('../img/2line.png') repeat-x center;
  height: 25px;
  padding: 10px 0;
  margin: 0 -15px;
}
.dpnk_citymenu {  
  padding: 45px 10%;
  text-align: center;
  margin: 0 -15px;
  font-family: Source Sans Bold;
  background-color: #ff6c00
}
.dpnk_citymenu, .dpnk_citymenu a {
  color: #E8E8E8;
  font-size: 23px;
}
.dpnk_citymenu ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}
.dpnk_citymenu ul li {
  display: inline; 
  padding: 0 8px;
}
.dpnk_map ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}
.dpnk_map ul li {
  display: inline; 
  padding: 0 5px;
  font-size: 14px;
}
.dpnk_submenu {
  margin: 5px -15px 0 -15px;
  padding: 10px;
  text-align: center;  
  color: #E8E8E8;
  background-color: #ff6c00
}
.dpnk_submenu ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.dpnk_submenu ul li {
  display: inline; 
  padding: 0 10px;
}
.dpnk_submenu a {
  font-family: Sports World;
  text-transform:uppercase;
  color: #E8E8E8;                  
} 
.dpnk_citymenu ul li.current-menu-item a, .dpnk_citymenu ul li.current-page-ancestor a, .dpnk_submenu ul li.current_page_item a, ul#qtranslate-chooser li.active a {color: #ffd800}
.footer { padding: 20px 0 40px 0; font-size: 15px; background: url('../img/footer.png') repeat-x bottom #D7D7D7;}
.footer ul {list-style-type: none; padding: 0}
.dpnk_banner {
  margin: 0 -15px;
}
.orange {
  background-color: #ff6c00;
}
.carousel-control {
  width: 10%;
}
.carousel {
  margin: 0 -15px;  
}
#myCarousel2 {
   background-color: #6c6c6c; 
   padding-bottom: 10px; 
   color: #E8E8E8;
}
.btn-more-orange {
  color: #ffffff;
  background-color: #ff6c00;
  border-color: #e56301;
  border-left: none;
  border-top: none; 
}
.btn-more-grey {
  color: #ffffff;
  background-color: #E8E8E8;
  border-color: #BBBBBB;
  border-left: none;
  border-top: none;   
}
.btn-more-blue {
  color: #ffffff;
  background-color: #0167cc;
  border-color: #015cb7;
  border-left: none;
  border-top: none;   
}
.dpnk_map ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dpnk_map ul li {
    display: block;
    float: left;
    padding: 0 4px 4px 0;
}
.dpnk_map ul li a {
    color: #333333;
    background: #E8E8E8;
    padding: 1px 5px;
    border-radius: 3px;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;    
}
.alignleft {float: left}
img.alignleft {margin: 0 20px 20px 0}
.dpnk_map ul li a:hover {
    text-decoration: none;
}
ul#qtranslate-chooser {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul#qtranslate-chooser li {
  display: inline;
}
ul#qtranslate-chooser li:first-child:after {
  content: ' / ';
}
.form_content .form-group {margin: 0;}
.socialshare {margin-top: 40px}

@media (max-width: 767px) {
  .dpnk_logo { margin-top: 0px; margin-bottom: 10px; text-align: center }
  .dpnk_login { margin-top: 72px; text-align: center }
}
@media (max-width: 510px) {
  .dpnk_banner { display: none; visibility: hidden }
  #myCarousel1 { display: block !important; visibility: visible !important}
  .aktuality_popis {margin:0 10%;}
}