.waiting-for-load {
   cursor: progress;
}

// #rides-form .form-control[readonly]{
//    cursor: progress;
// }
#rides{
	.form-control{
		width:70px;
     	display: inline;
	}
	thead{
		th{
			background:transparent;
			font-size: 2rem;
		}
	}
	label{
		font-weight: 400;
		color:#999;
		
	}
	.btn-group{
		label{
			color:#000;
			background:#E0E0E0;
			border-radius: 6px;
		}
		.btn{
			border-color:white;
		}
	}
	.controls{
		margin-bottom: 0.3rem;
	}
	.pin{
		 position: relative;
	    top: -3.8rem;
	    left: 8rem;
	    font-size: 2rem;
	    opacity: 0.4;
	    &:hover{
	    	opacity:1;
	    	color:#000;
	    }
	}
	.date{
		span{
			opacity:0.5;
		}
	}
}
#rides-form{
	.form-group{
		margin-bottom: 0;
	}
}
#id_track_map{
	position: relative;
	margin-bottom: 3rem;
	// width:500px !important;
}


@links:#6279bb;
@c: #6279bb;
@c2: #FFF2E8;
@c3: #8790AB;
@h:#921038;
// #collapsing_menu{
// 	float: left;
// }
a{
	text-decoration:underline;
}
h1, h2, h3, h4, h5{
	color:@h;
	a{
		color:@links;
	}
}
h1,h2{
	font-size: 1.5em;
}
h3, h4{
	font-size:1.2em;
}
.lang_switch{
	ul{
		li{
         &.active{
            a{
               color:#4f92ce;
            }
         }
      }
   }
}
.navbar-fixed-top{
	background-color: #fff;
	border-bottom: 1px solid #000;
    padding-top: 3px;
}
.navbar{
	min-height:38px;
	ul{
		margin-bottom: 0;
		li{
			a{	
				padding:5px 10px;
				// &::after{
				// 	 content: ">";
				// }
				text-decoration: none;
				&.active, &:hover{
					text-decoration: none;
				}
			}
			
			&.fulfilled{
				
				a{
					// background:url(../img/ok.png) 100% 0% no-repeat;
				}
			}
			&.unfulfilled{	
				a{
					// background:url(../img/ko.png) 100% 0% no-repeat;
					// color:@c2;
					color:@c3;
					&:hover{
						color:#4f92ce;
					}
				}
				&.active{
					a{
						color:#4f92ce;
					}
				}
			}
			&:first-child{
				a{
					padding-left:0;
				}
			}
			ul{
				li{
					ul{
						li{
							font-size: 0.9em;
							padding-left:0.3em;
							padding-bottom:0.3em; 
						}
					}
				}
			}
		}
	}
}
.steps{
	li{
		background:url(../img/next.png) 100% 50% no-repeat;
		// border-top: 1px solid #333;
		// border-bottom: 1px solid #333;
		padding-right: 0.3em;
		&:last-child{
			background-image: none;
		}
	}

}
#the_menu .dropdown-menu, .the_submenu .dropdown-menu{
	background-color: @c2;
}
#the_menu{
	margin-top:0;
}
.the_submenu{
	float: left;
	clear: both;
}
.navbar-collapse{
	padding-left: 0;
}
.base.container{
	margin-top:110px;
	margin-bottom: 80px;
	a{
		text-decoration: underline;
	}
	h1, h2, h3, h4, h5{
		// a{
		// 	text-decoration: none;
		// }
	}
	h4{
		a{
			text-transform: initial;
		}
	}
	img{
		width:100%;
		height:auto;
	}
}
.django_administrace{
	form{
		margin:2em 0 0 0;
		// padding-right:50px;
	}
}
.company_admin_pay_for_users, .upravit_trasu{
	form{
		width:100%;
	}
}
input[type=checkbox]{
	margin-right:0.3em;
}

.controls{
	margin-bottom: 1em;
	// display:inline-block;
	// border: 1px solid #ddd;
	// border-radius: 7px;
	overflow:hidden;
	.radio{
		border: 1px solid #ddd;
		// border-right: 1px solid #ddd;
		margin-top:0;
		&.btn{
			padding:0;
		}
		input[type="radio"]{
			display:none;
		}
		label{
			display: inline-block;
    		padding: 4px 5px;
		}
		// &:first-child{
		// 	border:0;
		// }
		// &:last-child{
		// 	border:0;
		// }
		input[type="radio"]:checked+label{
			background-color: #90D890 !important;
		}
	}


}
input:disabled+label{
   color:#ccc;
}
.user_info{
	margin-top: 1em;
	padding-left: 0;
	li{
		list-style: none;
	}
	.logout_django{
		a{
		display: block;
		margin-top:0.3em;
		color:#fff;
		width:100%;
		}

	}
}
.logo{
	margin-top: 0.8rem;
	margin-bottom: 1.3rem;
    display: inline-block;
}
.lang_switch{
	float: right;
	li{
		display: inline-block;
		list-style: none;
		a{
			padding:15px 5px;
			display: inline-block;
		}
	}
}
.btn.show_rides_btn{
	margin-bottom: 0.5em;
}
.vote{
	background:url(../img/thumbsup.png) no-repeat right 40%;
	display: inline-block;
	padding-right: 18px;
	color:#4D4D4D;
	margin-left: 0.3em;
}
.cyklistesobe{
	img{
		width:100%;
		height:auto;
		margin-bottom: 1em;
	}
}
.wp_news{
	margin-bottom: 4rem;
	h4{
		line-height:2rem;
	}
}
.prizes{
	.item{
		width:25%;
		float: left;
		text-align: center;
		margin-bottom: 1rem;
		.bobble{
			border:1px solid #6279bb;
			background-color: #fff;
			overflow: hidden;
		}
		h4{
			min-height: 5rem;
		}
	}
}
.disabled{
	a{
		color:#ccc !important;
		text-decoration: none;
	}
}
.btn{
	text-decoration: none !important;
}
form{
	label{
		width:100%;
	}
}
@media (max-width: 768px){
	.logo_holder{
		float: left;
	}
	#collapsing_menu{
		width:100%;
	}
	.the_submenu{
		margin-top:0.5em;
		padding-top: 1em;
		border-top: 1px solid @c;
	}
	.navbar ul li a{
		padding-left: 0;
	}
	.lang_switch{
   	margin-top:0.8rem;
   }

   #rides{
		.btn-group{
			.btn{
				width:100%;
			}
			label{
				white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
			  max-width: 90%;
			}
		}
	}
}
@media only screen and (max-width: 400px) {
   #rides td:nth-child(6),
   #rides th:nth-child(6){
      display: none;
   }
}
@media only screen and (max-width: 340px) {
   #rides td:nth-child(4),
   #rides th:nth-child(4),
   #rides td:nth-child(5),
   #rides th:nth-child(5){
      display: none;
   }
}

@media only screen and (max-width: 400px){
	.narrow-hide-400{
      display: none;
   }
		#id_track_map{
		width:300px !important;
	}
}
// @media only screen and (max-width: 480px)
// {

// }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wp_news img{
  max-width:100%;
  width:100%;
  height:auto;
}

#payu_ img{ width:auto; }

.zmenit_triko,.questionnaire-image img{
   width:auto !important;
}

.leaflet-control-container a{
   text-decoration: none !important;
}

#id_company_on_deck .ui-icon-trash{
   display: none;
}
