.waiting-for-load {
  cursor: progress;
}
#rides-form .form-control[readonly] {
  cursor: progress;
}
#collapsing_menu {
  float: left;
}
.navbar ul {
  margin-bottom: 0;
}
.navbar ul li a {
  padding: 15px 10px;
}
.navbar ul li a.active,
.navbar ul li a:hover {
  text-decoration: underline;
}
.navbar ul li.fulfilled a {
  background: url(../img/ok.png) 92% 25% no-repeat;
}
.navbar ul li.unfulfilled a {
  background: url(../img/ko.png) 92% 25% no-repeat;
}
.navbar ul li:first-child a {
  padding-left: 0;
}
.navbar ul li ul li ul li {
  font-size: 0.9em;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
}
.base.container {
  margin-top: 80px;
  margin-bottom: 80px;
}
.homepage form,
.upravit_profil form,
.zmenit_triko form {
  width: 300px;
  margin: 2em 0 0 0;
}
.working_schedule td {
  border: 1em solid #fff;
  background: #ECECEC;
}
.working_schedule thead tr th {
  background-color: #ff6c00;
  border: 1em solid #fff;
  color: #fff;
}
input[type=checkbox] {
  margin-right: 0.3em;
}
.controls {
  margin-bottom: 1em;
}
input:disabled + label {
  color: #ccc;
}
.user_info {
  padding-left: 0;
}
.user_info li {
  list-style: none;
}
.user_info .logout_django a {
  display: block;
  margin-top: 0.3em;
  color: #fff;
  width: 100%;
}
.lang_switch {
  float: right;
}
.lang_switch li {
  display: inline-block;
  list-style: none;
}
.lang_switch li a {
  padding: 15px 5px;
  display: inline-block;
}
@media (max-width: 768px) {
  .logo_holder {
    float: left;
  }
}
