{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}{% trans "DPNK" %}{% endblock %}</title>
{% block default_head %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static "css/style.css"%}" rel="stylesheet" media="screen">
<link href="{% static "bow/bootstrap/dist/css/bootstrap.css"%}" rel="stylesheet" media="screen">
<link href="{% static "css/bootstrap_mod.css"%}" rel="stylesheet" media="screen">
<script type="text/javascript" src="{% static "bow/jquery/dist/jquery.js"%}"></script>
<script type="text/javascript" src="{% static "bow/bootstrap/dist/js/bootstrap.js"%}"></script>
<script type="text/javascript" src="{% static "js/form_functions.js"%}"></script>
{% endblock %}{% block extrahead %}{% endblock %}
</head>
<body>
<div class="row">
   <div class="col-md-1">
      levý sloupec
   </div>
   <div class="col-md-8">
      {% block content %}
      {% block error %}
         {% if fullpage_error_message %}
         <div class="text-danger">{{ fullpage_error_message }}</div>
         {% endif %}
      {% endblock %}
      {% endblock %}
   </div>
   <div class="col-md-1">
      pravý sloupec
   </div>
</div>
</body>
</html>
