{% extends "base_generic_form.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<link href="{% static "css/progress_tracker.css"%}" rel="stylesheet" media="screen">
<link href="{% static "bow/font-awesome/css/font-awesome.css"%}" rel="stylesheet">
{% endblock %}

{% block navbar %}
<li class="{% if request.resolver_match.url_name == 'company_admin_pay_for_users' %}active{% endif %}"><a href="{% url 'company_admin_pay_for_users' %}">{% trans "Zaplatit za uživatele" %}</a></li>
<li class="{% if request.resolver_match.url_name == 'company_structure' %}active{% endif %}"><a href="{% url 'company_structure' %}">{% trans "Struktura společnosti" %}</a></li>
<li class="{% if request.resolver_match.url_name == 'edit_company' %}active{% endif %}"><a href="{% url 'edit_company' %}">{% trans "Upravit společnost" %}</a></li>
<li class="{% if request.resolver_match.url_name == 'company_admin_competitions' %}active{% endif %}"><a href="{% url 'company_admin_competitions' %}">{% trans "Soutěže" %}</a></li>
<li class="{% if request.resolver_match.url_name == 'company_admin_competition' %}active{% endif %}"><a href="{% url 'company_admin_competition' %}">{% trans "Vypsat soutěž" %}</a></li>
{% if user_attendance.entered_competition %}
<li class="{% if current_view == 'profile_view' %}active{% endif %}"><a href="{% url 'profil' %}">{% trans "Profil" %}</a></li>
{% endif %}
{% endblock %}

{% block company_admin_menu %}
{% endblock %}
