{% extends "base_login.html" %}
{% load dpnk_tags %}
{% load i18n %}
{% block side_slogan %}
<p>
    {% trans "Na kole, pěšky či poklusem. Celostátní výzva v září 2020." %}
    <a href="https://dopracenakole.cz" target="_blank">Více o výzvě</a>.
</p>
{% if request.resolver_match.url_name == 'registration_access' %}
    <p>
       {% trans "Pokud s námi nejedete poprvé, zadejte stejný e-mail jako v minulém roce a pokračujte rovnou na přihlášení." %}
    </p>
{% endif %}
{% if campaign.campaign_type.slug == 'dpnk' and campaign.get_complementary_school_campaign %}
    <div class="after_form">
       <p>
           {% trans "Nejezdíš do práce, ale do školy? Přihlas se do" %}
           <a href="{% campaign_base_url campaign.get_complementary_school_campaign %}{{ request.path }}">{{ campaign.get_complementary_school_campaign.display_name }}</a>. {% trans "Je to zdarma." %}
       </p>
    </div>
{% elif campaign.campaign_type.slug == 'skoly' and campaign.get_complementary_main_campaign %}
    <div class="after_form">
       <p>
          {% trans "Už máte školní léta nějaký ten pátek za sebou? Tak s námi jezděte" %}
          <a href="{% campaign_base_url campaign.get_complementary_main_campaign %}{{ request.path }}">{{ campaign.get_complementary_main_campaign.display_name }}</a>.
       </p>
    </div>
{% endif %}
{% endblock %}
