{% extends "base_generic.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}DPNK - {{ title }}{% endblock %}

{% block content %}
{% block form_container %}

{% block container_header %}
{% endblock %}

{% block messages %}
{% include "messages_include.html" %}
{{ message }}
{% endblock %}

{% block form_intro %}
{% endblock %}

{% block form %}
{% crispy form %}
{% endblock %}
{% block error %}{{ block.super }}{% endblock %}

{% block container_footer %}
{% endblock %}

{% endblock %}
{% endblock %}
