{% extends "base_generic_form.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
<link href="{% static "css/progress_tracker.css"%}" rel="stylesheet" media="screen">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
<ol class="steps">
    <li class="{% if current_view == 'upravit_profil' %}current{% endif %} {% if not profile_complete %}un{% endif %}fulfilled"><a href="{% url 'upravit_profil' campaign_slug %}">Osobní údaje</a></li>
    <li class="{% if current_view == 'zmenit_tym' %}current{% endif %} {% if not team_complete %}un{% endif %}fulfilled"><a href="{% url 'zmenit_tym' campaign_slug %}">Tým</a></li>
    <li class="{% if current_view == 'upravit_trasu' %}current{% endif %} {% if not track_complete %}un{% endif %}fulfilled"><a href="{% url 'upravit_trasu' campaign_slug %}">Trasa</a></li>
    <li class="{% if current_view == 'zmenit_triko' %}current{% endif %} {% if not tshirt_complete %}un{% endif %}fulfilled"><a href="{% url 'zmenit_triko' campaign_slug %}">Triko</a></li>
    <li class="{% if current_view == 'typ_platby' %}current{% endif %} {% if not payment_complete %}un{% endif %}fulfilled"><a href="{% url 'typ_platby' campaign_slug %}">Startovné</a></li>
    <li class="{% if current_view == 'upravit_profil' %}current{% endif %} {% if not profile_complete %}un{% endif %}fulfilled"><a href="{% url 'upravit_profil' campaign_slug %}">Pracovní rozvrh</a></li>
</ol>
{{ block.super }}
{% endblock %}
