{% extends "base_generic_form.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<link href="{% static "css/progress_tracker.css"%}" rel="stylesheet" media="screen">
<link href="{% static "bow/font-awesome/css/font-awesome.css"%}" rel="stylesheet">
{% endblock %}

{% block second_menu %}
{{ block.super }}
<ul class="navbar nav navbar-nav steps the_submenu">

<li class="{% if registration_phase == 'upravit_profil' %}active{% endif %} {% if not user_attendance.userprofile.profile_complete %}un{% endif %}fulfilled"><a href="{% url 'upravit_profil' %}">Osobní údaje</a></li>
<li class="{% if registration_phase == 'zmenit_tym' %}active{% endif %} {% if not user_attendance.team_complete %}un{% endif %}fulfilled"><a href="{% url 'zmenit_tym' %}">{% trans "Tým" %}</a></li>
<li class="{% if registration_phase == 'upravit_trasu' %}active{% endif %} {% if not user_attendance.track_complete %}un{% endif %}fulfilled"><a href="{% url 'upravit_trasu' %}">{% trans "Trasa" %}</a></li>
<li class="{% if registration_phase == 'zmenit_triko' %}active{% endif %} {% if not user_attendance.tshirt_complete %}un{% endif %}fulfilled"><a href="{% url 'zmenit_triko' %}">{% trans "Triko" %}</a></li>
<li class="{% if registration_phase == 'typ_platby' %}active{% endif %} {% if not user_attendance.payment_complete %}un{% endif %}fulfilled"><a href="{% url 'typ_platby' %}">{% trans "Startovné" %}</a></li>
<li class="{% if registration_phase == 'working_schedule' %}active{% endif %} fulfilled"><a href="{% url 'working_schedule' %}">{% trans "Pracovní rozvrh" %}</a></li>
</ul>
{% endblock %}

{% block settings_link_class %}active{% endblock %}
