{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "datatables.net-bs4/css/dataTables.bootstrap4.css" %}">
<script type="text/javascript" charset="utf-8" src="{% static "datatables.net/js/jquery.dataTables.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "datatables.net-bs4/js/dataTables.bootstrap4.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "datatables.net-buttons/js/dataTables.buttons.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "datatables.net-buttons/js/buttons.html5.js" %}"></script>
