{% extends "base_generic_registration_form.html" %}
{% load i18n %}

{% block third_menu %}
<ul class="navbar nav navbar-nav the_submenu">
<li class="{% if request.resolver_match.url_name == 'zmenit_tym' %}active{% endif %}"><a href="{% url 'zmenit_tym' %}">{% trans "Změnit" %}</a></li>
<li class="{% if not user_attendance.team_complete %}disabled{% endif %} {% if request.resolver_match.url_name == 'team_members' %}active{% endif %}"><a href="{% url 'team_members' %}">{% trans "Členové" %}</a></li>
<li class="{% if not user_attendance.team_complete %}disabled{% endif %} {% if request.resolver_match.url_name == 'edit_team' %}active{% endif %}"><a href="{% url 'edit_team' %}">{% trans "Upravit název" %}</a></li>
<li class="{% if not user_attendance.team_complete %}disabled{% endif %} {% if request.resolver_match.url_name == 'pozvanky' %}active{% endif %}"><a href="{% url 'pozvanky' %}">{% trans "Pozvat kolegy" %}</a></li>
</ul>
{% endblock %}
