{% extends "base_generic_company_admin_form.html" %}
{% load i18n %}

{% block content %}
<table class="table table-bordered" id="company_competition_table">
<tr>
<th>{% trans "Jméno" %}</th>
<th>{% trans "Typ soutěže" %}</th>
<th>{% trans "Typ soutěžících" %}</th>
<th>{% trans "Upravit" %}</th>
<th>{% trans "Výsledky" %}</th>
</tr>
{% for competition in competitions %}
   <tr>
      <td>
         {% if competition.url %}<a href="{{ competition.url}}">{% endif %}
            {{ competition.name }}
         {% if competition.url %}</a>{% endif %}
      </td>
   <td>{{ competition.get_type_display }}</td>
   <td>{{ competition.get_competitor_type_display }}</td>
   <td><a href="{% url 'company_admin_competition' competition_slug=competition.slug %}">edit</a></td>
   <td><a href="{% url 'competition_results' competition_slug=competition.slug %}">výsledky</a></td>
   </tr>
{% endfor %}
</table>
{% endblock %}
