{% load url from future %}
{% load dpnk_tags %}
{% load i18n %}

<table class="table table-bordered" id="company_competition_table">
<tr>
<th>{% trans "Jméno" %}</th>
<th>{% trans "Typ soutěže" %}</th>
<th>{% trans "Typ soutěžících" %}</th>
<th>{% trans "Upravit" %}</th>
<th>{% trans "Výsledky" %}</th>
</tr>
{% for competition in competitions %}
   <tr>
      <td>
         {% if competition.url %}<a href="{{ competition.url}}">{% endif %}
            {{ competition.name }}
         {% if competition.url %}</a>{% endif %}
      </td>
   <td>{{ competition.get_type_display }}</td>
   <td>{{ competition.get_competitor_type_display }}</td>
   <td><a href="{% wp_url 'soutez' %}?competition_slug={{ competition.slug }}">edit</a></td>
   <td><a href="{% wp_url 'vysledky_souteze' %}?soutez={{ competition.slug }}">výsledky</a></td>
   </tr>
{% endfor %}
</table>
