{% extends "base_generic_company_admin_form.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load dpnk_tags %}

{% block content %}
{% include "messages_include.html" %}

{% if payments.count > 0 %}
<p>
{% wp_article 10816 %}
</p>
<p>
{% blocktrans count competitors_count=payments.count %}
Vytvořit fakturu pro následujícho soutěžícího:
{% plural %}
Vytvořit fakturu pro následujících {{ competitors_count }} soutěžících:
{% endblocktrans %}
</p>
<table id="pay_for" class="table table-bordered table-hover table-condensed">
   <thead>
      <tr>
         <th>{% trans "Účastník" %}</th>
         <th>{% trans "Částka" %}</th>
      </tr>
   </thead>
   {% for payment in payments %}
   <tr>
      <td>{{ payment.user_attendance.name_for_trusted }}</td>
      <td>{{ payment.amount }} Kč</td>
   </tr>
   {% endfor %}
</table>
<br/>
{{ company }}
<br/>
{{ company.address.street }}
{{ company.address.street_number }}
<br/>
{{ company.address.psc }} {{ company.address.city }}
<br/>
{% trans "IČO: " %}{{ company.ico }}
<br/>
{% trans "DIČ: " %}{{ company.dic }}
<br/>
<a class="btn btn-primary" href="{% url 'edit_company' %}">{% trans "Změnit adresu firmy" %}</a>
<hr/>
{{ block.super }}
{% else %}
<div class="alert alert-info">{% trans "Nemáte žádné soutěžící, pro které by bylo možné vytvořit fakturu" %}</div>
{% endif %}

{% endblock %}
