{% extends "base_generic_company_admin_form.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
{% include "messages_include.html" %}

{% if competitors_count > 0 %}
{% blocktrans count competitors_count=competitors_count %}
Vytvořit fakturu pro následujícho soutěžícího: {{ competitors_names }}
{% plural %}
Vytvořit fakturu pro následujících {{ competitors_count }} soutěžících: {{ competitors_names }}
{% endblocktrans %}
<br/>
<br/>
{{ company }}
<br/>
{{ company.address.street }}
{{ company.address.street_number }}
<br/>
{{ company.address.psc }} {{ company.address.city }}
<br/>
{% trans "IČO: " %}{{ company.ico }}
<br/>
{% trans "DIČ: " %}{{ company.dic }}
<br/>
<a class="btn btn-block btn-primary" href="{% url 'edit_company' %}">{% trans "Změnit údaje" %}</a>
{{ block.super }}
{% else %}
<div class="alert alert-info">{% trans "Nemáte žádné soutěžící, pro které by bylo možné vytvořit fakturu" %}</div>
{% endif %}

{% endblock %}
