{% extends "base_generic_company_admin_form.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "bow/bootstrap-select/dist/js/bootstrap-select.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "bow/bootstrap-select/dist/css/bootstrap-select.css"%}">
<script type="text/javascript" src="{% static "bow/jquery-form/jquery.form.js"%}"></script>
<script>
   $(function() {
      $('#id_administrated_company').selectpicker({
          liveSearch: "true",
      });
   });
</script>
{% endblock %}
