{% extends "base_generic_company_admin_form.html" %}
{% load dpnk_tags %}
{% load i18n %}

{% block content %}
<b>{{ company }}</b><br/>
{{ company_address }}
<ul>
{% for subsidiary in company.subsidiaries.all %}
   <li>{{ subsidiary }} (<a href="{% url 'edit_subsidiary' subsidiary.pk %}">{% trans "upravit" %}</a>)</li>
   <ul>
   {% for team in subsidiary.teams.all %}
      {% if team.campaign == campaign %}
      <li>{{ team.name }}</li>
      <ul>
      {% for user in team.users.all %}
      {% if user.userprofile.user.is_active %}
      <li>
         {{ user.userprofile.name_for_trusted }} <i>{{ user.userprofile.user.email }}</i> -
            {% if user.representative_payment %}
            {% if user.representative_payment.pay_type == 'fc' %}
               <span class="
               {% if user.representative_payment.status == Status.NEW %}
                  text-error
               {% elif user.representative_payment.status == Status.COMPANY_ACCEPTS %}
                  text-warning
               {% elif user.representative_payment.status == Status.INVOICE_MADE %}
                  text-warning
               {% elif user.representative_payment.status == Status.INVOICE_PAID %}
                  text-success
               {% endif %}
               ">
               {{ user.representative_payment.get_pay_type_display }} ({{ user.representative_payment.get_status_display }})
               </span>
            {% else %}
               {{ user.representative_payment.get_pay_type_display }} ({{ user.representative_payment.get_status_display }})
            {% endif %}
         {% else %}
            {% trans "žádná platba" %}
         {% endif %}
      </li>
      {% endif %}
      {% endfor %}
      </ul>
      {% endif %}
   {% endfor %}
   </ul>
{% endfor %}
</ul>
{% endblock %}
