{% load url from future %}
{% load dpnk_tags %}
{% load i18n %}

<ul>
{% for subsidiary in company.subsidiaries.all %}
   <li>{{ subsidiary }}</li>
   <ul>
   {% for team in subsidiary.teams.all %}
      <li>{{ team.name }}</li>
      <ul>
      {% for user in team.users.all %}
      {% if user.userprofile.user.is_active %}
      <li>
         {{ user }} - 
            {% if user.payment.payment.pay_type == 'fc' %}
               <span class="
               {% if user.payment.payment.status == user.payment.payment.Status.NEW %}
                  text-error
               {% elif user.payment.payment.status == user.payment.payment.Status.COMPANY_ACCEPTS %}
                  text-warning
               {% elif user.payment.payment.status == user.payment.payment.Status.INVOICE_MADE %}
                  text-warning
               {% elif user.payment.payment.status == user.payment.payment.Status.INVOICE_PAID %}
                  text-success
               {% endif %}
               ">
               {{ user.payment.payment.get_pay_type_display }} ({{ user.payment.payment.get_status_display }})
               </span>
            {% else %}
               {{ user.payment.status_description }} ({{ user.payment.payment.get_pay_type_display }})
            {% endif %}
      </li>
      {% endif %}
      {% endfor %}
      </ul>
   {% endfor %}
   </ul>
{% endfor %}
</ul>
