{% load i18n %}
{% load static %}
{% load gtm_tags %}
<!DOCTYPE html>
{% get_current_language as current_language_code %}
<html xml:lang="{{ current_language_code }}" lang="{{ current_language_code }}">
<head>
	<title>{% if campaign %}{{ campaign.display_name }}{% endif %}{% block title %}{% if title %} - {{ title }}{% endif %}{% endblock %}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="{{campaign.campaign_type.frontend_url}}img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{campaign.campaign_type.frontend_url}}img/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{campaign.campaign_type.frontend_url}}img/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{campaign.campaign_type.frontend_url}}img/favicon/manifest.json">
  <link rel="mask-icon" href="{{campaign.campaign_type.frontend_url}}img/favicon/safari-pinned-tab.svg" {% if campaign %}color="{{ campaign.main_color }}"{% endif %}>
	<link href="{{campaign.campaign_type.frontend_url}}css/progress_tracker.css" rel="stylesheet" media="screen">
   <meta name="theme-color" {% if campaign %}color="{{ campaign.main_color }}"{% endif %}>
	{% block default_head %}
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
    <script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.AreYouSure/1.9.0/jquery.are-you-sure.min.js" integrity="sha512-YuZemcyQ8r4w8tdxIzkJVgWfHrzSQN9PuF18I490DE8H97DOkrt+bolBf3/mve+9t8SLWODBzFCCPxH/vZYqBg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js" integrity="sha512-RlGrSmkje9EE/FXpJKWf0fvOlg4UULy/blvNsviBX9LFwMj/uewXVoanRbxTIRDXy/0A3fBQppTmJ/qOboJzmA==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
		<script src="https://cdn.ravenjs.com/3.24.0/raven.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>
    <script src="{{campaign.campaign_type.frontend_url}}js/form_functions.js"> </script>
		<script>
     window.frontend_url = "{{campaign.campaign_type.frontend_url}}";
		 Raven.config("https://4e4629eadae349b9b6430f0b6af8c9ce@o427898.ingest.sentry.io/6098076").install();
		{% if user.is_authenticated %}
			Raven.setUserContext({
				email: '{{ user.email }}',
				id: '{{ user.id }}'
			})
		{% endif %}
		</script>

    <script src="{{campaign.campaign_type.frontend_url}}js/views.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" />
		<link rel='stylesheet' id='family-css'  href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&#038;display=swap&#038;subset=latin-ext' type='text/css' media='all'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.min.css" integrity="sha512-9h7XRlUeUwcHUf9bNiWSTO9ovOWFELxTlViP801e5BbwNJ5ir9ua6L20tEroWZdm+HFBAWBLx2qH4l4QHHlRyg==" crossorigin="anonymous" />
		<link href="{{campaign.campaign_type.frontend_url}}css/style.css" type="text/css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" />
    <style>
     {% if request.source in TESTING_FAST_REGISTRATION_PASSTRHOUGH_SOURCES %}
     .social-login-buttons, .tshirt-menu-item, .payment-menu-item {
         display: none;
     }
     {% endif %}
    </style>
	{% endblock %}

	{% block extrahead %}
	{% endblock %}
</head>
<body class="django_administrace {% if campaign %}vsechno_je_to_kampan{% endif %} {% if request.resolver_match %}{{ request.resolver_match.url_name }}{% endif %} {% if user.is_authenticated %}authetificated{% else %}notAuthetificated{% endif %} {% block body-class %}{% endblock %}">
{% gtm %}
{% block body %}
{% block error %}
   {% if fullpage_error_message %}
      <div class="alert alert-{% if fullpage_error_level %}{{ fullpage_error_level }}{% else %}danger{% endif %}">
         {{ fullpage_error_message }}
      </div>
   {% else %}
         {% block content %}
            {% if opening_message %}
            {{ opening_message }}
            {% endif %}
         {% endblock %}
         {% block extracontent %}
         {% endblock %}
   {% endif %}
{% endblock %}
{% endblock %}
<script>
	jQuery(document).ready(function($) {  
		// deactivate unfulfilled links
		$('.readonly').click(function (e) {
			e.preventDefault();
		});
		$('.readonly').keydown(function (e) {
			e.preventDefault();
		});

	});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" integrity="sha512-k2GFCTbp9rQU412BStrcD/rlwv1PYec9SNrkbQlo6RZCf75l6KcC3UwDY8H5n5hl4v77IDtIPwOk9Dqjs/mMBQ==" crossorigin="anonymous"></script>
</body>
{% block afterbody %}
{% endblock %}
</html>
