{% extends "dpnk/base_generic_form.html" %}
{% load i18n %}
{% load static %}

{% block container_header %}
<script type="text/javascript">
  $(document).ready(function(){
    // Recalculate embed element height
    $("embed").attr("height", $("#page-content").height() - $(".col").height() - $(".row.mb-2").height() );
  });
</script>
{% trans "Otevřít na nové kartě" as new_tab %}
{% if unit == "individual" %}
  {% with url=base_url|add:"?jm%25C3%25A9no="|add:user.first_name|add:"&p%25C5%2599%25C3%25ADjmen%25C3%25AD_="|add:user.last_name|add:"&ro%25C4%258Dn%25C3%25ADk_dpnk=" %}
    <div class="row mb-2">
      <div class="col">
        {% if user_attendance %}
          <a class="sidenote" href="{{ url }}{{ user_attendance.campaign.year }}" target="_blank" rel="noopener noreferrer">
            {{ new_tab }}
          </a>
        {% else %}
          <a class="sidenote" href="{{ url }}" target="_blank" rel="noopener noreferrer">
            {{ new_tab }}
          </a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if user_attendance %}
          <embed type="text/html" src="{{ url }}{{ user_attendance.campaign.year }}" width="100%" height="100%">
        {% else %}
          <embed type="text/html" src="{{ url }}" width="100%" height="100%">
        {% endif %}
      </div>
    </div>
  {% endwith %}
{% elif unit == "organization" %}
  {% with url=base_url|add:"?jm%25C3%25A9no_organizaze=" %}
    <div class="row mb-2">
      <div class="col">
        {% if user_attendance and user_attendance.company %}
          <a class="sidenote" href="{{ url }}{{ user_attendance.company }}&ro%25C4%258Dn%25C3%25ADk_dpnk={{ user_attendance.campaign.year }}" target="_blank" rel="noopener noreferrer">
            {{ new_tab }}
          </a>
        {% else %}
          <a class="sidenote" href="{{ url }}&ro%25C4%258Dn%25C3%25ADk_dpnk=" target="_blank" rel="noopener noreferrer">
            {{ new_tab }}
          </a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if user_attendance %}
          <embed type="text/html" src="{{ url }}{{ user_attendance.company }}&ro%25C4%258Dn%25C3%25ADk_dpnk={{ user_attendance.campaign.year }}" width="100%" height="100%">
        {% else %}
          <embed type="text/html" src="{{ url }}&ro%25C4%258Dn%25C3%25ADk_dpnk=" width="100%" height="100%">
        {% endif %}
      </div>
    </div>
  {% endwith %}
{% else %}
{% with url=base_url|add:"?jm%25C3%25A9no_m%25C4%259Bsta=" %}
    <div class="row mb-2">
      <div class="col">
        {% if user_attendance and user_attendance.team %}
          <a class="sidenote" href="{{ url }}{{ user_attendance.team.subsidiary.city }}&ro%25C4%258Dn%25C3%25ADk_dpnk={{ user_attendance.campaign.year }}" target="_blank" rel="noopener noreferrer">
            {{ new_tab }}
          </a>
        {% else %}
          <a class="sidenote" href="{{ url }}&ro%25C4%258Dn%25C3%25ADk_dpnk=" target="_blank" rel="noopener noreferrer">
            {{ new_tab }}
          </a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if user_attendance %}
          <embed type="text/html" src="{{ url }}{{ user_attendance.team.subsidiary.city }}&ro%25C4%258Dn%25C3%25ADk_dpnk={{ user_attendance.campaign.year }}" width="100%" height="100%">
        {% else %}
          <embed type="text/html" src="{{ url }}&ro%25C4%258Dn%25C3%25ADk_dpnk=" width="100%" height="100%">
        {% endif %}
      </div>
    </div>
  {% endwith %}
{% endif %}
  {{ block.super }}
{% endblock %}
