{% extends "dpnk/base_generic_form.html" %}
{% load i18n %}
{% load static %}
{% load dpnk_tags %}

{% block container_header %}
<script type="text/javascript">
  $(document).ready(function(){
    // Recalculate embed element height
    $("embed").attr("height", $("#page-content").height() - $(".col").height() - $(".row.mb-2").height() );
  });
</script>
{% trans "Otevřít na nové kartě" as new_tab %}
{% if challenge == "may" %}
  {% concat_all base_url "?u%25C5%25BEivatelsk%25C3%25A9_jm%25C3%25A9no=" user.username "&organizace=" user_attendance.company "&m%25C4%259Bsto=" user_attendance.team.subsidiary.city "&ro%25C4%258Dn%25C3%25ADk_v%25C3%25BDzvy=" user_attendance.campaign.year as url %}
    <div class="row mb-2">
      <div class="col">
          <a class="sidenote" href="{{ url }}" target="_blank" rel="noopener noreferrer">
            {{ new_tab }}
          </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <embed type="text/html" src="{{ url }}"" width="100%" height="100%">
      </div>
    </div>
{% elif challenge == "september-january" %}
  {% concat_all base_url "?u%25C5%25BEivatelsk%25C3%25A9_jm%25C3%25A9no=" user.username "&m%25C4%259Bsto=" user_attendance.team.subsidiary.city "&ro%25C4%258Dn%25C3%25ADk_v%25C3%25BDzvy=" user_attendance.campaign.year as url %}
    <div class="row mb-2">
      <div class="col">
          <a class="sidenote" href="{{ url }}" target="_blank" rel="noopener noreferrer">
            {{ new_tab }}
          </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <embed type="text/html" src="{{ url }}" width="100%" height="100%">
      </div>
    </div>
{% endif %}
  {{ block.super }}
{% endblock %}
