{% extends "dpnk/base_generic_form.html" %}
{% load dpnk_tags %}
{% load i18n %}
{% load static %}
{% load photologue_tags %}
{% load humanize %}
{% block caption %}
<h2 class="team-name-title"><b> {{team.name}}</b> </h2>
<div class="team-breadcrumb">
<a href="{% url 'company' %}"> {{team.subsidiary.company.name}} </a> • <a href="{{team.subsidiary.city.get_wp_url}}" target="_none"> {{team.subsidiary.city.name}} </a>: {{team.subsidiary}}
</div>
{% endblock %}
{% block form_intro %}
	<div class="team_head">
		<div class="team_image">
			{% if team.lead_photo %}
				<a href="{{team.lead_photo.image.url}}"target="_blank" rel="noopener noreferrer">
				    <img src="{{team.lead_photo.image.url}}"/>
				</a>
			{% else %}
				<img src="{{campaign.campaign_type.frontend_url}}img/dpnk_logo.svg"/>
			{% endif %}
      <div id="edit-team-botton-container">
		      <p id="edit-team-button">
			        <a href="{% url 'edit_team' %}" class="btn btn-default">
				          {% trans "Upravit" %}
			        </a>
		      </p>
      </div>
		</div>
	</div>

	<h4>
		{% trans "Týmová pravidelnost" %}: {{ user_attendance.team.get_frequency_percentage|floatformat|intcomma }}&nbsp;%
	</h4>
	<a class="btn btn-primary" href="{% url "other_team_members_results" %}">
		{% trans "Výsledky členů týmu" %}
	</a>
{% endblock %}

{% block form %}
	<form method="post" class="submit-once-form form-inline" id="members-form" action="{% url 'team_members' %}" class="row">
	   {% csrf_token %}
	   {% for team_member in team_members %}
	      {% include "./team_member_card.html" with team_member=team_member include_approve_buttons=True %}
	   {% endfor %}
	</form>
	<a class="btn btn-primary" href="{% url "pozvanky" %}">
		  {% trans "Pozvat nové členy" %}
	</a>
{% endblock %}
