{% load i18n %}
{% autoescape off %}

{% language new_user.userprofile.language %}
Zpráva pro soutěžící/ho {{ team_member.userprofile }}, člena/členku týmu {{new_user.team.name}} v soutěži {{ new_user.campaign }}.

Dobrý den,

soutěžící {{ new_user.userprofile }} Vás žádá o zapojení do Vašeho týmu {{new_user.team.name}}.

Vzhledem k otevřenému charakteru soutěže se další soutěžící z Vaší organizace mohou hlásit do Vašeho týmu. Rozhodnutí, zda s nimi budete společně v jízdě do práce na kole, je ale na Vás.

Členství kandidáta/ky ve Vašem týmu můžete potvrdit nebo zamítnout pomocí tohoto odkazu:
{% block approval_link %}
https://{{ new_user.campaign.slug }}.{{ SITE_URL }}{% url 'team_members' %}
{% endblock %}

Ujištění pro Vás: Zamítnutím kandidáta/ku nediskvalifikujete ze soutěže. Pokud si do začátku soutěže vytvoří vlastní tým nebo se připojí do jiného týmu, bude vše v pořádku.

Děkujeme Vám za založení týmu a přejeme Vám hodně radosti z jízdy na kole!
Váš organizační tým soutěže {{ new_user.campaign }}

---
{{ new_user.campaign.email_footer }}
{% endlanguage %}

{% endautoescape %}
