{% extends "email/base.html" %}
{% load i18n %}
{% language new_user.userprofile.language %}
{% block content %}
<p>
Hi, {{ team_member.userprofile.first_name }}

</p><p>
fellow participant {{ new_user.userprofile }} would love to be a part of Your dream team {{new_user.team.name}}.
</p>

{% url 'team_members' as button_link %}
{% include "./button.html" with button_text="Approve" %}

<p>
Don't want any other cuckoo in your nest? You can <a href="{{ absolute_uri }}{% url 'team_members' %}">decline</a>. Do not worry. It does not mean disqualification for them. Eventually, everybody will find a bird of their own flock.
</p>
{% endblock %}
{% endlanguage %}
