{% extends "email/base.html" %}
{% load i18n %}
{% language new_user.userprofile.language %}
{% block content %}
Žádost o schválení člena týmu
{% endblock %}

{% block content %}
<p>
Hezký den, {{ team_member.userprofile.first_name_vokativ }}
</p><p>
Váš tým v soutěži {{ new_user.campaign.name }} začíná být velmi populární.
</p><p>
Právě teď {{ new_user.userprofile.name }} pošilhává po volném místečku ve Vašem pelotonu {{ new_user.team.name }}.
</p><p>
Pokud chcete, aby Váš tým měl o dvě kolečka navíc, potvrďte členství nováčka v <a href="{{ absolute_uri }}{% url 'team_members' %}">profilu</a>.
</p>
{% endblock %}
{% endlanguage %}
