{% extends "email/base.html" %}
{% load i18n %}
{% language new_user.userprofile.language %}
{% block content %}
<p>
Hezký den, {{ team_member.userprofile.first_name_vokativ }}
</p><p>
Váš tým v soutěži {{ new_user.campaign.name }} začíná být velmi populární.
</p><p>
Právě teď {{ new_user.userprofile.name }} pošilhává po volném místečku ve Vašem pelotonu {{ new_user.team.name }}.
</p>

{% url 'team_members' as button_link %}
{% include "./button.html" with button_text="Přidat člena" %}

<p>
Pokud nechcete, aby Váš tým měl o dvě kolečka navíc, můžete členství nováčka <a href="{{ absolute_uri }}{% url 'team_members' %}">zamítnout</a>.
</p>
{% endblock %}
{% endlanguage %}
