{% load url from future %}{% autoescape off %}

Dobrý den, {{ coordinator.userprofile.firstname }} {{ coordinator.userprofile.surname }},

váš kolega {{ user.userprofile.firstname }} {{ user.userprofile.surname }} vás žádá o účast v soutěži Do práce na kole ve vámi koordinovaném týmu {{user.userprofile.team.name}}.
Jeho členství můžete potvrdit nebo zamítnout pomocí odkazu
{% block approval_link %}
{{ SITE_URL }}{% url 'dpnk.views.approve_team_membership' username=user.username %}
{% endblock %}

S pozdravem,
Auto*Mat

{% endautoescape %}
