{% autoescape off %}

Zpráva pro kandidáta {{ company_admin.userprofile }} na funkci firemního koordinátora v organizaci {{ company_admin.administrated_company }} v soutěži {{ company_admin.campaign }}.

Dobrý den,
právě jste se registroval/a do systému {{ company_admin.campaign }} jako kandidát/ka na funkci firemního koordinátora/ku {{ company }}. Pokud se tak stalo bez Vašeho vědomí, dejte nám prosím neprodleně vědět.
Vzhledem k otevřenému charakteru soutěže může o tuto funkci zažádat kdokoliv z Vaší organizace/firmy. Proto prosím vyčkejte na prověření Vaší žádosti. Po schválení Vaší žádosti Vás budeme informovat e-mailem. Pro účely ověření Vaší identity se Vám mohou ozvat zástupci hlavního organizátora, iniciativy Auto*Mat.
Děkujeme Vám za podporu Vašich kolegů v soutěži {{ company_admin.campaign }} a těšíme se na další spolupráci.
Váš organizační tým soutěže {{ company_admin.campaign }}

---
{{ company_admin.campaign.email_footer }}

{% endautoescape %}
