{% load i18n %}
{% autoescape off %}

{% language company_admin.userprofile.language %}
Zpráva pro {{ company_admin.userprofile }}, firemního koordinátora v organizaci {{ company }} v soutěži {{ company_admin.campaign }}.

Dobrý den,
právě jste se stali firemním koordinátorem {{ company }}.
Nyní se můžete přihlásit do registračního systému {{ company_admin.campaign }}.

Nejprve na adrese {{ absolute_uri }}{% url 'edit_company' %} vyplňte fakturační údaje vaší organizace, které nám po skončení registrací poslouží pro vystavení faktury.
Potom budete moci schvalovat platby za soutěžící na stránce {{ absolute_uri }}{% url 'company_admin_pay_for_users' %} s tím, že je zahrnete na společnou fakturu.
V průběhu registrací budou přibývat další a další soutěžící, tuto kontrolu proto provedete několikrát.
Děkujeme Vám za podporu soutěže {{ company_admin.campaign }} a těšíme se na spolupráci.
Váš organizační tým soutěže {{ company_admin.campaign }}

---
{{ company_admin.campaign.email_footer }}
{% endlanguage %}

{% endautoescape %}
