{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
{% language lang_code %}
<p>
Congratulations, {{ user_attendance.userprofile.first_name }}
</p><p>
You are the {{ company }} company coordinator.
</p>

{% url 'company_admin_pay_for_users' as button_link %}
{% include "./button.html" with button_text="Sign up" %}

<p>
However, with great power comes great responsibility.
</p><p>
First, please fill in the organisation <a href="{{ absolute_uri }}{% url 'edit_company' %}">billing details</a> so we can send Your company an invoice after the registration.
</p><p>
Second, please <a href="{{ absolute_uri }}{% url 'company_admin_pay_for_users' %}" >accept payments</a> for participants from your organisation and include them in the joint <a href="{{ absolute_uri }}{% url 'invoices' %}" >invoice</a>.
</p><p>
These days, more and more participants will be signing in so try to check the status several times.
</p>
{% endlanguage %}
{% endblock %}
