{% load i18n %}
{% autoescape off %}

{% language company_admin.userprofile.language %}
A message for {{ company_admin.userprofile }}, a company coordinator in {{ company }} in the {{ company_admin.campaign }} competition.

Hello,

you've just become a {{ company }} company coordinator. 
You can sign in to the {{ company_admin.campaign }} registration system.

First, please fill in the organisation billing details on URL {{ absolute_uri }}{% url 'edit_company' %} These details will be used to send your company an invoice when the registration is completed.
Than you will be able to accept payments for participants from your organisation who you should include in the joint invoice. This will be done at {{ absolute_uri }}{% url 'company_admin_pay_for_users' %}
During the registration process, more and more participants will sign in so you will have to check the status several times. 

Thank you for your support of {{ company_admin.campaign }} and we look forward to further cooperation.

Your {{ company_admin.campaign }} organization team

---
{{ company_admin.campaign.email_footer }}
{% endlanguage %}
{% endautoescape %}
