{% autoescape off %}

Zpráva pro kandidáta {{ user }} na funkci firemního koordinátora v organizaci {{ company }} v soutěži {{ user.campaign }}.

Dobrý den,
právě jste zažádal/a o funkci firemního koordinátora {{ company }}. Pokud se tak stalo bez Vašeho vědomí, dejte nám prosím neprodleně vědět.
Vzhledem k otevřenému charakteru soutěže nám může žádost o funkci koordinátora přijít od kohokoli z Vaší firmy/organizace, proto prosím vyčkejte na schválení práve Vaší žádosti. Po schválení Vaší žádosti Vás budeme informovat e-mailem.

Pro účely ověření Vaší identity se Vám mohou ozvat zástupci hlavního organizátora, spolku Auto*Mat.
Děkujeme Vám za podporu Vašich kolegů v soutěži {{ user.campaign }} a těšíme se na další spolupráci.
Váš organizační tým soutěže {{ user.campaign }}

---
{{ user.campaign.email_footer }}

{% endautoescape %}
