{% load i18n %}
{% autoescape off %}

{% language lang_code %}
{% if invited %}
Zpráva pro soutěžící/ho {{ invited.userprofile }} {% if invited.team %}z týmu {{invited.team.name}} {% endif %}v soutěži {{ invited.campaign }}.
{% endif %}

Dobrý den,

Váš kolega/kolegyně {{ inviting.userprofile }} Vás zve, abyste se zúčastnil/a soutěže {{ inviting.campaign }} a stal/a se členem soutěžního týmu {{inviting.team.name}}.

Jdete do toho? Přidejte se doplněním inforamcí na odkazu
{% block register_link %}
{% if not invited %}
http://{{ inviting.campaign.slug }}.{{ SITE_URL }}{% url 'registrace' token=inviting.team.invitation_token initial_email=email %}
{% else %}
http://{{ invited.campaign.slug }}.{{ SITE_URL }}{% url 'zmenit_tym' token=inviting.team.invitation_token initial_email=email %}
{% endif %}
{% endblock %}
(Pokud Vám odkaz nefunguje, zkopírujte ho do svého webového prohlížeče.)

Chcete vědět víc? Zeptejte se {{ inviting.userprofile }} na e-mailu {{ inviting.userprofile.user.email }} nebo se podívejte na stránky http://www.dopracenakole.cz


Hodně šťastných kilometrů!
Váš tým soutěže {{ inviting.campaign }}

---
{{ inviting.campaign.email_footer }}
{% endlanguage %}

{% endautoescape %}
