{% extends "email/base.html" %}
{% load i18n %}

{% block header %}
Pozvánka do soutěže
{% endblock %}

{% block content %}
{% language lang_code %}
Hezký den,

<p>
{{ inviting.userprofile.name }} si myslí, že je dnes perfektní den pro jízdu na kole.
Proto Vám posílá pozvánku do svého týmu {{inviting.team.name}} v soutěži {{ inviting.campaign }}.
</p>

{% if not invited %}
{% url 'registrace' token=inviting.team.invitation_token initial_email=email as button_link %}
{% else %}
{% url 'change_team_invitation' token=inviting.team.invitation_token initial_email=email as button_link %}
{% endif %}
{% include "./button.html" with button_text="Chci šlápnout do pedálů" %}

<p>
Více o soutěži se dozvíte na <a href="{{ inviting.campaign.web }}">našem webu</a> nebo od svých nových týmových parťáků.
</p>
{% endlanguage %}
{% endblock %}
