{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
{% language lang_code %}
Good news!
</p><p>
Fellow colleague {{ inviting.userprofile }} wants to ride the bicycle with You in the {{inviting.team.name}} team.
</p>

{% if not invited %}
{% url 'registrace' token=inviting.team.invitation_token initial_email=email as button_link %}
{% else %}
{% url 'change_team_invitation' token=inviting.team.invitation_token initial_email=email as button_link %}
{% endif %}
{% include "./button.html" with button_text="Let's Ride" %}

<p>
Need more information? Respond directly to Your fellow colleague at <a href="mailto:{{ inviting.userprofile.user.email }}" >{{ inviting.userprofile.user.email }}</a>.
</p>
{% endlanguage %}
{% endblock %}
