{% extends "email/base.html" %}
{% load i18n %}

{% block header %}
{% language lang_code %}
<p>
Hello, {{ user_attendance.userprofile.first_name }}
</p><p>
Your (company) company invoice {{ invoice_url }} for the (soutěž) competition is ready. Please check it before the due date{{invoice.taxable_date}}.
</p>
{% url 'invoices' as button_link %}
{% include "./button.html" with button_text="Check &amp; Pay" button_link=invoice_url %}

<p>
All invoices are guarded in Your <a href="{{ absolute_uri }}{% url 'invoices' %}">profile</a>.
</p>
{% endlanguage %}
{% endblock %}
