{% extends "email/base.html" %}
{% block content %}
<p>
Dobrý den, {{ user_attendance.userprofile.first_name_vokativ }}
</p><p>
Vaše startovné v soutěži {{ user_attendance.campaign }} je oficiálně zaplaceno!
</p><p>
Je načase začít s přípravami:
</p>

<ul>
   <li>
      Nemáte v týmu plný počet jezdců? <a href="{{ absolute_uri }}{% url 'pozvanky' %}">Pozvěte své kolegy</a>.
   </li><li>
      Chcete si hlídat kilometry pomocí mobilního telefonu? Stáhněte si vhodnou <a href="{{user_attendance.campaign.web}}/aplikace">aplikaci</a>
   </li>
</ul>
{% endblock %}
