{% autoescape off %}

Zpráva pro soutěžící/ho {{ user }} {% if user.team %}z týmu {{user.team.name}}{% endif %} v soutěži {{ user.campaign }}.

Vážená/ý účastnice/íku soutěže {{ user.campaign }},

Vaše platba startovného byla potvrzena. Ať už jste hradil/a startovné sám/sama nebo jste členem/členkou Klubu přátel, považujte otázku startovného za vyřešenou.

Nyní se můžete soustředit na přípravu k soutěži.
Máme pro Vás proto pár tipů:
- stáhněte si aplikaci Urban Cyclers do Vašeho mobilního telefonu, šetrné kilometry, které se spuštěnou aplikací cestou do práce překonáte, se vám nahrajou automaticky do registračního systému.
- Jste-li soutěživí, poohlédněte se po dobrých soupeřích a přesvědčte je k účasti v soutěži.
- Podívejte se do nabídky soutěžních kategorií ve Vašem městě a na slevy, které můžete využívat.

Nyní se také můžete těšit na startovní balíček s trikem!

Vážíme si vašeho rozhodnutí účastnit se soutěže a těšíme se na viděnou v ulicích města se soutěžním trikem!
Váš organizační tým soutěže {{ user.campaign }}

---
{{ user.campaign.email_footer }}

{% endautoescape %}
