{% load i18n %}
{% autoescape off %}

{% language user.userprofile.language %}
Zpráva pro soutěžící/ho {{ user.userprofile }} v soutěži {{ user.campaign }}.

Vítejte!

Právě jste se zaregistroval/a do kampaně {{ user.campaign }}.

Váš email, kterým se budete přihlašovat do vašeho profilu je {{ user.userprofile.user.email }}. Vaše heslo zde kvůli bezpečnosti neuvádíme, ale můžete si ho kdykoli nechat zaslat znovu z webu http://{{ user.campaign.slug }}.{{ SITE_URL }}{% url 'password_change' %}

Soutěž začíná 1. května.
Než vyrazíte a začnete zaznamenávat své jízdy ve svém profilu http://{{ user.campaign.slug }}.{{ SITE_URL }}{% url 'profil' %}:
• zkontrolujte si, že máte v týmu dost kolegů, a případně pozvěte další,
• stáhněte si do svého chytrého telefonu aplikaci Urban Cyclers[LM1], která vám jízdy do naší soutěže zapíše sama,
• pokud chytrý telefon nemáte, nastavte si ve svém profilu svou typickou trasu, kterou budete jezdit. Usnadníte si tak každodenní zapisování jízd,
• sledujte novinky na našem webu [LM2]a podstránky vašeho města[LM3], pod kterým jste přihlášeni. Dozvíte se tak více o akcích ve vašem městě.

Máte už soupeře? Soutěž bude pro vás zábavnější, když se do ní zapojí i vaši známí. Koho byste rádi vyzvali? Kolegy z vašeho nebo jiného oddělení? Vaše dodavatele nebo zákazníky? Nebo změříte síly a vytrvalost s konkurencí? Oslovte je a řekněte jim o soutěži.

Pokud si něčím nejste jistí, ozvěte se na <kontakt@dopracenakole.cz>.

Děkujeme Vám za zájem a těšíme se na viděnou v květnu!
Váš organizační tým soutěže {{ user.campaign }}

---
{{ user.campaign.email_footer }}
{% endlanguage %}

{% endautoescape %}
