{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
{% language lang_code %}
<p>
Vítejte mezi námi!
</p><p>
Registrace do soutěže {{ user_attendance.campaign }} proběhla úspěšně. Jízda Vašeho života právě začíná.
</p><p>
Desatero doporučení před startem.
</p>

<ul>
   <li>
 Vypucujte kolo. Kdo řetěz maže, ten jede.
   </li><li>
 Nastartujte fyzičku. Připravte svá stehna na pravidelnou ranní jízdu.
   </li><li>
      Zapamatujte si svůj přihlašovací e-mail <b>{{ email }}</b>.
   </li><li>
 Zapamatujte si, že soutěž začíná {{ user_attendance.campaign.competition_phase.date_from }} a končí {{ user_attendance.campaign.competition_phase.date_to }}.
   </li><li>
 Své jízdy si pravidelně zaznamenávejte v <a href="{{ absolute_uri }}{% url 'profil' %}">profilu</a>.
   </li><li>
 Nastavte si v profilu svou typickou trasu a zapisování bude rychlejší než jízda Jana Kavalíra.
   </li><li>
 Nezapomeňte sledovat, jak si vede <a href="{{ absolute_uri }}{% url 'team_members' %}">Váš tým</a>.
   </li><li>
 Zapisování jízd s chytrým telefonem je úplný jahodový pudink, když si stáhnete jednu z doporučených <a href="{{user_attendance.campaign.web}}/aplikace">aplikací</a>.
   </li><li>
 Pokud jste opravdu soutěživý typ, sledujte pečlivě novinky a čerstvě vypsané soutěže z Vašeho města na našem <a href="{{user_attendance.campaign.web}}">webu</a>.
   </li>
</ul>

<p>
   Jakékoliv další otázky rádi zodpovíme na e-mailu <a href="mailto:{{user_attendance.campaign.contact_email}}">{{user_attendance.campaign.contact_email}}</a>.
</p>
{% endlanguage %}
{% endblock %}
