{% extends "email/base.html" %}
{% load i18n %}

{% language lang_code %}
{% block content %}
<p>
Welcome to the {{user_attendance.campaign.name}} competition!
</p><p>
Our ride begins at {{ user_attendance.campaign.competition_phase.date_from }} and finishes at {{ user_attendance.campaign.competition_phase.date_to }}.
</p><p>
Before you head off, there are still some stuff you need to do.
Check the profile. There You will track Your bike trips every day.
</p>

{% url 'upravit_profil' as button_link %}
{% include "./button.html" with button_text="Complete my profile" %}

<p>
That could be much more interesting if You compare Your results with fellow coworkers. Send them an invitation to Your team.
</p>

{% url 'pozvanky' as button_link %}
{% include "./button.html" with button_text="Invite people" %}

<p>
Do You have some questions? Let us know at <a href="mailto:{{user_attendance.campaign.contact_email}}" >{{user_attendance.campaign.contact_email}}</a>.
</p>
{% endblock %}
{% endlanguage %}
