{% extends "email/base.html" %}
{% load i18n %}
{% autoescape off %}

{% language lang_code %}
{% block content %}
<p>
Dobrý den, {{ user_attendance.userprofile.first_name_vokativ }}
</p><p>
tým {{team_name}} stojí na startovní čáře a čeká na Váš povel.
</p>

{{ absolute_uri }}{% url 'pozvanky' as button_link %}
{% include "./button.html" with button_text="Pozvat kolegy do týmu" %}

<p><h4>
Máte <a href="{{ absolute_uri }}{% url 'company_admin_application' %}">firemního koordinátora</a>?
</h4></p><p>
Zapojte do soutěže vedení společnosti a nechte si od něj uhradit startovné.
</p><p>
Když se zaměstnavatel nadchne pro vaši věc, může vyhlásit dokonce <b>celofiremní kampaň</b> {{ user_attendance.campaign }} a Vy budete mít příležitost porovnat své síly s kolegy ze všech firemních poboček. To zní lépe než malé pivo a šunkové chlebíčky na pravidelném pátečním teambuildingu, co myslíte?
</p><p>
Přihlaste se o funkci firemního koordinátora a domluvte se s vedením na podpoře Vašeho týmu v soutěži.
</p>

{{ absolute_uri }}{% url 'company_admin_application' as button_link %}
{% include "./button.html" with button_text="Chci se stát firemním koordinátorem" %}
{% endblock %}
{% endlanguage %}
