{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
{% language lang_code %}
<p>
Time to hit the road, {{ user_attendance.userprofile.first_name }}!
</p><p>
Your team {{team_name}} is ready to go.
</p><p>
Check Your <a href="{{ absolute_uri }}{% url 'login' %}">profile</a> and invite Your coworkers to join the team.
</p>

{% url 'pozvanky' as button_link %}
{% include "./button.html" with button_text="Invite" %}

<p>
Do you have a company coordinator?
</p><p>
You can ask the employer to support Your team by paying the starting fee or creating a company competition so You can compare Your skills to the whole company. Sounds like a moving teambuilding, right?
</p><p>
Became a company coordinator and get these things done for Your coworkers. We let You participate in the competition for free as a thank you note.
</p>

{% url 'company_admin_application' as button_link %}
{% include "./button.html" with button_text="Become s company coordinator" %}

{% endlanguage %}
{% endblock %}
