{% load i18n %}
{% autoescape off %}

{% language user.userprofile.language %}
Zpráva pro soutěžící/ho {{ user.userprofile }}, zakladatele/ku týmu {{user.team.name}} v soutěži {{ user.campaign }}.

Dobrý den,

Váš tým {{user.team.name}} byl právě vytvořen. 

Na adrese 
{% block invite_link %}
https://{{ user.campaign.slug }}.{{ SITE_URL }}{% url 'pozvanky' %}
{% endblock %}
můžete pozvat své kolegy k přihlášení do vašeho týmu.

Pokud chcete své kolegy/ně vyzvat k vytvoření jejich vlastního týmu, odkažte je na adresu {{ SITE_URL}}.

Ke svému profilu se můžete přihlásit pomocí adresy
{% block profile_link %}
https://{{ user.campaign.slug }}.{{ SITE_URL }}{% url 'login' %}
{% endblock %}

Vašemu týmu může vyjádřit podporu Váš zaměstnavatel tím, že za Vás uhradí startovné, nebo dokonce že vyhlásí celofiremní kampaň {{ user.campaign }}. Soutěžit pak budete nejen v soutěžním městě, ale také se všemi zaměstnanci Vaší organizace, ať už pracují kdekoli. Jak na to? Kontaktujte osobu, do jejíž kompetence podobné věci patří (vedoucí CSR oddělení, vedoucí vnitřní komunikace, vedoucí PR, ředitel/ka atd.) a nabídněte jí tyto možnosti nebo odkaz na stránku https://{{ user.campaign.slug }}.{{ SITE_URL }}{% url 'company_admin_application' %}

Děkujeme Vám za přízeň a těšíme se na viděnou během soutěže!
Váš organizační tým soutěže {{ user.campaign }}

P.S. Zapojit do soutěže Vašeho zaměstnavatele se fakt vyplatí - víc soutěžících, ideální teambuilding, účast hrazená zaměstnavatelem a skvělé PR!

---
{{ user.campaign.email_footer }}
{% endlanguage %}

{% endautoescape %}
