{% load i18n %}
{% autoescape off %}

{% language user.userprofile.language %}
A message for {{ user.userprofile }}, participating in the {{ user.campaign }} competition.

Hello,

unfortunately, your membership in the {{user.team.name}} team has just been DECLINED by {{ denier }} for the following reason: {{reason}}
You will have to sign in to edit your profile on
{% block profile_link %}
http://{{ user.campaign.slug }}.{{ SITE_URL }}{% url 'zmenit_tym' %}
{% endblock %}
and choose another team or set up your own. So cheer up and come on!

Thank you for your support and we look forward to seeing you in May!

Your {{ user.campaign }} organization team

---
{{ user.campaign.email_footer }}
{% endlanguage %}
{% endautoescape %}
