{% load i18n %}
{% autoescape off %}

{% language user_attendance.userprofile.language %}
A message for {{ user_attendance.userprofile }}, participating in the {{ user_attendance.campaign }} competition.

Hello,

your membership in the {{user_attendance.team.name}} team has just been approved. You can sign in to your profile using
{% block profile_link %}
{{ absolute_uri }}{% url 'login' %}
{% endblock %}

Thank you for your interest and we look forward to seeing you during the competition!

Your {{ user_attendance.campaign }} organization team

---
{{ user_attendance.campaign.email_footer }}
{% endlanguage %}
{% endautoescape %}
