{% load i18n %}
{% autoescape off %}

{% language user_attendance.userprofile.language %}
Zpráva pro soutěžící/ho {{ user_attendance.userprofile }} v soutěži {{ user_attendance.campaign }}.

Dobrý den,

vaše členství v týmu {{user_attendance.team.name}} bylo právě odsouhlaseno. Můžete se přihlásit ke svému profilu pomocí adresy
{% block profile_link %}
{{ absolute_uri }}{% url 'login' %}
{% endblock %}

Děkujeme Vám za přízeň a těšíme se na viděnou během soutěže!
Váš organizační tým soutěže {{ user_attendance.campaign }}

---
{{ user_attendance.campaign.email_footer }}
{% endlanguage %}


{% endautoescape %}
