{% extends "email/base.html" %}
{% load i18n %}
{% language lang_code %}
{% block content %}
<p>
Don't let them win, {{user_attendance.campaign.name}}
</p><p>
it's been {{ days_unfilled }} days since You last updated your rides.
Your competitors are already ahead of you. Hurry up, You can fill in the rides only for {{ user_attendance.campaign.days_active }} days back.
</p><p>
Don't forget. Every day is a new challenge.
</p>

{% url 'profil' as button_link %}
{% include "./button.html" with button_text="Get back on track" %}
{% endblock %}
{% endlanguage %}
