{% load i18n %}
{% autoescape off %}

{% language lang_code %}
Zpráva pro soutěžící/ho {{ user_attendance.userprofile }} v soutěži {{ user_attendance.campaign }}.

Dobrý den,

zjistili jsme, že za posledních {{ days_unfilled }} dní jste si nevyplnil/a jízdy ve svém profilu.
Chceme vám připomenout, že jízdy lze vyplňovat pouze {{ user_attendance.campaign.days_active }} dní zpětně.
Pokud jste si jízdy zapomněl/a vyplnit, můžete tak učinit ve svém profilu
{{ absolute_uri }}{% url 'profil' %}

Celý tým Auto*Matu zdraví a přeje šťastnou cestu.

---
{{ user_attendance.campaign.email_footer }}

{% endlanguage %}
{% endautoescape %}
