{% load i18n %}
{% autoescape off %}

{% language lang_code %}
Zpráva pro firemní koordinatora {{ user_attendance.team.subsidiary.company.name }} v soutěži {{ user_attendance.campaign }}.

Dobrý den,

zjistili jsme, jste ještě nezaplatili fakturu (splatnou do {{invoice.taxable_date}}):

Kompletní přehled faktur naleznete na adrese {{ absolute_url }}{% url 'invoices' %}

Přímý odkaz na stažení faktury je {{ invoice_url }}

Celý tým Auto*Matu zdraví a přeje šťastnou cestu.

---
{{ user_attendance.campaign.email_footer }}

{% endlanguage %}
{% endautoescape %}
