{% extends "email/base.html" %}
{% load i18n %}
{% language lang_code %}
{% block content %}

{% language lang_code %}
<p>
Dobrý den, {{ user_attendance.userprofile.first_name_vokativ }}
</p><p>
udělejte si prosím čas na zpracování faktury {{ invoice_url }}. Její splatnost je pouze do {{invoice.taxable_date}}.
</p>

{% include "./button.html" with button_text="Vyřídit fakturu" button_link=invoice_url %}

<p>
Všechny faktury můžete zkontrolovat na Vašem <a href="{{ absolute_uri }}{% url 'invoices' %}">profilu</a>.
</p>
{% endblock %}
{% endlanguage %}
