{% extends "admin/base_site.html" %}
{% load url from future %}
{% load dpnk_tags %}

{% block content %}

<p>
<strong>Otázka:</strong> <a href="{% wp_url 'admin' %}dpnk/question/{{ question.pk }}">{{ question.text }}</a><br/>
<strong>Respondentů:</strong> <a href="{% wp_url 'dotaznik' %}{{ question.competition.slug }}">{{ total_respondents }}</a><br>
<a href="{% wp_url 'admin' %}dpnk/answer/?question__competition__id__exact={{ question.competition.pk }}">Odpovědi k soutěži {{ question.competition }}</a>
</p>

{% if question.type != 'text' %}
<h2>Statistika</h2>
{% for city, city_stat in stat.items %}
<h3> {{city}} </h3>
<table>
 {% for n, c ,p  in city_stat %}
  <tr>
   <td>{{n}}</td>
   <td>{{c}}</td>
   <td>{{p|floatformat:1}} %</td>
  </tr>
  {% endfor %}
</table>
{% endfor %}
{% endif %}

<h2>Komentované odpovědi</h2>

<form name="answer-points" method="POST">
<table>
{% for a in answers %}
 {% if a.comment or a.attachment%}
  <tr>
   <td>{{a.user}}</td>
   <td>{{a.city}}</td>
   <td>{{a.str_choices}}:</td>
   <td><a href="{% wp_url 'admin' %}dpnk/answer/{{ a.id }}">{{a.comment}}</a></td>
   <td><a href="{{ media }}/{{ a.attachment }}">{{ a.attachment }}</a></td>
   <td><input type="text" name="points-{{ a.id }}" value="{{a.points_given}}"/></td>
  </tr>
 {% endif %}
{% endfor %}
</table>
<input type="submit" value="Aktualizovat hodnocení"/>
</form>
{% endblock %}
