{% extends "admin/base_site.html" %}
{% load url from future %}
{% load dpnk_tags %}
{% load i18n %}
{% load humanize %}

{% block content %}
{% if not results %}
   Tato soutěž nemá žádné týmy splňující kritéria
{% endif %}
{% for result in results %}
   <ul>
      <li>
         {{ forloop.counter }}. tah: Tým {{ result }} z firmy {{ result.team.subsidiary.company }}
         <br/>
         pravidelnost jízd {{ result.result | percentage|floatformat:-1|intcomma }}&nbsp;%
         {% if result.competition.competitor_type == 'team' %}
            <br/>
            Členové:
            {% for member in result.team.members %}
               <ul>
                  <li>
                     {% if member == result.team.coordinator %}<b>{% endif %}
                     {{ member.user.first_name }} {{ member.user.last_name }}: {{ member.telephone }}
                     {% if member == result.team.coordinator %}</b>{% endif %}
                  </li>
               </ul>
            {% endfor %}
         {% endif %}
      </li>
   </ul>
{% endfor %}
{% endblock %}
