{% extends "admin/base_site.html" %}
{% load url from future %}

{% block content %}

<p>
Závodník: {{ competitor }}<br/>

<ul>
  {% for a in answers %}
  <li><i>{{ a.question.text }}</i>
    <ul>
      {% for c in a.choices.all %}
      <li> {{ c.text }} <strong>( {{ c.points }} b )</strong></li>
      {% endfor %}
    </ul>
    <p> {% if a.comment %} {{ a.comment }} <strong>( {{ a.points }} b )</strong> {% endif %}</p>
    {% if a.question.with_attachment %}
      Příloha: <a href="{{ media }}/{{ a.attachment }}">{{ a.attachment }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>

Dohromady bodů: {{ total_points }}

{% endblock %}
