{% extends "admin/base_site.html" %}
{% load url from future %}
{% load dpnk_tags %}
{% load thumbnail %}

{% block content %}

<p>
Soutěžící: {{ competitor }}<br/>

<ul>
  {% for a in answers %}
  <li><i><a href="{% wp_url 'admin' %}odpovedi/?question={{ a.question.pk }}">{{ a.question.text }}</a></i>
    <ul>
      {% for c in a.choices.all %}
      <li> {{ c.text }} <strong>(
         {% if c.points %}
            {{ c.points }}
         {% else %}
            -
         {% endif %}
         b )</strong></li>
      {% endfor %}
    </ul>
    <p> {% if a.comment %} {{ a.comment }} <strong>(
         {% if a.points_given %}
            {{ a.points_given }}
         {% else %}
            -
         {% endif %}
         b )</strong> {% endif %}</p>
    {% if a.question.with_attachment %}
      Příloha:
      {% thumbnail a.attachment "250x250" as foto_thumb %}
      {% if foto_thumb %}
         <a href="{{ settings.SITE_URL}}{{ a.attachment.url }}" title="Fotka v plném rozlišení" target="_blank">
         <img src="{{ settings.SITE_URL}}{{ foto_thumb.url }}" width="{{ foto_thumb.width }}" height="{{ foto_thumb.height }}"></a>
      {% else %}
         <a href="{{ media }}/{{ a.attachment }}" target="_blank">{{ a.attachment }}</a>
      {% endif %}
    {% endif %}
  </li>
  {% endfor %}
</ul>

Dohromady bodů: {{ total_points }}

{% endblock %}
