{% extends "admin/base_site.html" %}
{% load url from future %}

{% block content %}

<ul>
{% for q in questions %}
{% ifchanged q.competition %}
   {% if not forloop.first %}
      </ul>
      </li>
   {% endif %}
   <li>
   {{q.competition.campaign}} - <a href="{% url 'admin_questionnaire_results' q.competition.slug %}">{{q.competition}}</a> - {{q.competition.city.all|join:", "|default:"všechna města"}}
   <ul>
{% endifchanged %}
{% if q.with_answer %}
<li>{{q.date}} ({{q.answer_set.count}}): <a href="{% url 'admin_answers' %}?question={{ q.id }}">{{q.text}}</a></li>
{% endif %}
{% endfor %}
</ul>
</li>
</ul>

{% endblock %}
