{% extends "base_login.html" %}
{% load i18n %}

{% block langchanger %}{% endblock %}

{% block title %} - stránka nenalezena - 404{% endblock %}

{% block caption %}
<h1>
{% trans "Kdopak tu loupe perníček, místo aby sportoval." %}
</h1>
{% endblock %}

{% block content %}
<p>
{% trans "Dejte pozor. Právě bloudíte hlubokým lesem v zóně 404. Vraťte se zpátky na trasu." %}
</p>
{% if exception != "Resolver404" %}
<div class='alert alert-danger'>{{ exception }}</div>
{% endif %}
<div class="holder">
   <a class="btn" href="{% url 'profil' %}">
     Chci domů
  </a>
</div>
<br/>
{% endblock %}
