{% extends "base_generic.html" %}
{% load i18n %}

{% block langchanger %}{% endblock %}

{% block title %}{% trans "DPNK" %} - stránka nenalezena - 404{% endblock %}
{% block caption %}Stránka nenalezena{% endblock %}

{% block content %}
<p>
{% trans "Omlouváme se, ale taková stránka zde neexistuje. Pokud si myslíte, že by zde být měla, prosím kontaktujte <a href='mailto:kontakt@dopracenakole.cz?subject=Neexistující stránka'>kontakt@dopracenakole.cz</a>" %}
{% if messages %}
   <ul class="messages">
      {% for message in messages %}
         <li>{{ message }}</li>
      {% endfor %}
   </ul>
{% endif %}
</p>
{% endblock %}
