{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container standalone-login-form">
   <div class="row">
   <div class="col-12 col-sm-3 sidebar">
   </div>
   <div class="col-12 col-sm-9 content">
      <div class="inner">
      <h1>
         {{ campaign.campaign_type.name }}
      </h1>
      {% include "lang_switch.html" %}
      {% block caption %}
         {% if title %}
            <h2>
               {{ title }}
            </h2>
         {% endif %}
      {% endblock %}
      {% block content %}
      {% block form %}
         {% if form %}
            {% crispy form %}
         {% endif %}
      {% endblock %}
      {% endblock %}
      </div>
   </div>
   </div>
</div>
{% endblock %}
