{% extends "base_generic.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
{% block form_container %}

{% block container_header %}
{% if introduction_message %}
{{ introduction_message }}
{% endif %}
{% endblock %}

{% block messages %}
{% include "messages_include.html" %}
{% if message %}
{{ message }}
{% endif %}
{% endblock %}

{% block form_intro %}
{% endblock %}

{% block form %}
{% if form %}
{% crispy form %}
{% endif %}
{% endblock %}
{% block error %}{{ block.super }}{% endblock %}

{% block container_footer %}
{% endblock %}

{% endblock %}
{% endblock %}
