{% load i18n %}
{% load static %}
{% load gtm_tags %}
{% load dpnk_tags %}
{% load raven %}
{% load scribbler_tags %}
{% load sitetree %}
{% load avatar_tags %}
<!DOCTYPE html>
{% get_available_languages as languages %}
{% get_current_language as current_language_code %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ current_language_code }}" lang="{{ current_language_code }}">
<head>
	<title>{% block title %}{% if campaign %}{{ campaign.name }}{% endif %}{% if title %} - {{ title }}{% endif %}{% endblock %}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" href="{% static "img/favicon/favicon-32x32.png" %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static "img/favicon/favicon-16x16.png" %}" sizes="16x16">
	<link rel="manifest" href="{% static "img/favicon/manifest.json" %}">
	<link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
	<meta name="theme-color" content="#1ea04f">
	{% block default_head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script type="text/javascript" src="{% static "bow/jquery/dist/jquery.min.js"%}"></script>
		<script type="text/javascript" src="{% static "bow/jquery-ui/jquery-ui.min.js"%}"></script>
		<script type="text/javascript" src="{% static "bow/jquery.are-you-sure/jquery.are-you-sure.js"%}"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script type="text/javascript" src="{% static "bootstrap/bootstrap.min.js"%}"></script>
		<script type="text/javascript" src="{% static "js/form_functions.js"%}"></script>
		<script type="text/javascript" src="{% static 'scribbler/js/scribbler-min.js' %}"></script>
		<script type="text/javascript" src="https://cdn.ravenjs.com/3.24.0/raven.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
		<script>

		Raven.config('http:{% sentry_public_dsn %}').install();
		{% if user.is_authenticated %}
			Raven.setUserContext({
				email: '{{ user.email }}',
				id: '{{ user.id }}'
			})
		{% endif %}
		</script>

		<link href="{% static 'scribbler/css/scribbler.css' %}" rel="stylesheet">
		<link href="{% static "bow/lightbox2/dist/css/lightbox.css"%}" rel="stylesheet">
		<link href="{% static "bootstrap/bootstrap.min.css"%}" rel="stylesheet" media="screen">
		<link href="{% static "bow/jquery-ui/themes/base/jquery-ui.min.css"%}" rel="stylesheet" media="screen">
		<link rel='stylesheet' id='family-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C300%2C600%2C400&#038;subset=latin%2Clatin-ext&#038;ver=4.1.1' type='text/css' media='all' />
		<link href="{% static "css/style.css"%}" type="text/css" rel="stylesheet" media="screen">
	{% endblock %}

	{% block extrahead %}
	{% endblock %}

</head>
<body class="django_administrace {% if request.resolver_match.url_name == 'profil' %}homepage{% endif %} {% if request.resolver_match %}{{ request.resolver_match.url_name }}{% endif %}{% if user.is_authenticated %} authetificated{% else %} notAuthetificated{% endif %}">
{% gtm %}
	<div class="container">
		<div class="row">
			{# sidebar #}
			<div class="col-12 col-md-3 sidebar">
				{% if user.is_authenticated %}
					<a class="logo" href="https://www.dopracenakole.cz">
						 <img src="{% static "img/dpnk_logo.svg" %}" alt="DPNK" />
					</a>

					<div class="lang_switch">
						<ul>
							{% block langchanger %}
								{% for lang_code, lang_name in languages %}
									{% if campaign.language_prefixes in lang_code or campaign.language_prefixes == "dpnk" and lang_code|length == 2 %}
										<li class="{% if lang_code == current_language_code %}active{% endif %}">
											<a href="{% change_lang lang_code %}" class="switch-{{ lang_code }}" title="{{ lang_name }}">{{ lang_code|cut:campaign.language_prefixes|upper }}</a>
										</li>
									{% endif %}
								{% endfor %}
							{% endblock %}
						</ul>
					</div>

					{% if user.is_authenticated and user_attendance %}
						<div class="avatar_holder" id="_{{ user_attendance.id }}">
							<a href="{% url 'landing_page' %}">{% avatar user_attendance.userprofile.user 200 %}</a>
						</div>
						{# dynamic progress circle #}
						<style>
							.avatar_holder#_{{ user_attendance.id }} a{
								background: conic-gradient(#FF6F61 0% {{ user_attendance.frequency|floatformat:"0" }}%, #fff {{ user_attendance.frequency|floatformat:"0"  }}% 100%);
							}
						</style>
						<h4 class="nick">
							<a href="{% url 'edit_profile_detailed' %}">{{ user_attendance }}</a>
						</h4>
					{% endif %}
					
					{# vysledky #}
				  	{% if request and campaign %}
                  {% block main_menu %}
                     {% sitetree_menu from campaign.sitetree_postfix_maintree include "trunk" template "sitetree/menu_bootstrap4.html" %}
                  {% endblock %}

						{% if user.is_authenticated and user_attendance.related_company_admin.is_approved %}
							 {% sitetree_menu from "company_coordinator_menu" include "trunk,topmenu" template "sitetree/menu_bootstrap4.html" %}
						{% endif %}

						{% if user.is_staff %}
							 {% sitetree_menu from "admin_menu" include "trunk,topmenu" template "sitetree/menu_bootstrap4.html" %}
						{% endif %}

						{% if user.is_authenticated and user_attendance %}
							{% sitetree_menu from "about_us" include "trunk,topmenu" template "sitetree/menu_bootstrap4_blank.html" %}
						{% endif %}
					{% endif %}

				{% endif %}
			</div>

			{# main content area #}
			<div class="col-12 col-md-9 content">
				<div class="inner">
					{% block caption %}
					 	<h2>
					 		{{ title }}
					 	</h2>
					{% endblock %}

					{% if opening_message %}
					 	{{ opening_message }}
					{% endif %}

					{% block error %}
						{% if fullpage_error_message %}
							<div class="alert alert-{% if fullpage_error_level %}{{ fullpage_error_level }}{% else %}danger{% endif %}">
								{{ fullpage_error_message }}
							</div>
						{% else %}
							{% scribble 'before_content' %}{% endscribble %}
								{% block content %}
								{% endblock %}
							{% scribble 'after_content' %}{% endscribble %}
						{% endif %}
					{% endblock %}
				</div>
			</div>
	</div>
</div>

<script>
	jQuery(document).ready(function($) {  
		// deactivate unfulfilled links
		$('.readonly').click(function (e) {
			e.preventDefault();
		});
		$('.readonly').keydown(function (e) {
			e.preventDefault();
		});

	});
</script>
<script type="text/javascript" src="{% static "bow/lightbox2/dist/js/lightbox.min.js"%}"></script>
</body>
</html>
