{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block body-class %}login-layout{% endblock %}

{% block body %}
   <div class="container standalone-login-form">
      <div class="row">
         <div class="col-12 offset-sm-3 col-sm-9 content">
            <div class="inner">
               <div class="form_head">
                  {% include "lang_switch.html" %}
                  <h1>
                     <img class="dpnk-head-logo" src="{% static "img/dpnk_logo.svg" %}" alt="DPNK" />
                     {% if campaign %}
                     {{ campaign.campaign_type.name|upper }}
                     {% else %}
                     {{ request.subdomain|upper }}
                     {% endif %}
                  </h1>
                  {% block caption %}
                     {% if title %}
                        <h3>
                           {{ title }}
                        </h3>
                     {% endif %}
                  {% endblock %}
                  {% block messages %}
                     {% include "messages_include.html" %}
                     {% if message %}
                        {{ message }}
                     {% endif %}
                  {% endblock %}
                  {% block error %}
                  {{ block.super }}
                  {% endblock %}
               </div>
               {% block form %}
                  {% if form %}
                     {% crispy form %}
                  {% endif %}
               {% endblock %}
            </div>
         </div>
      </div>
   </div>
{% endblock %}
