{% extends "base_generic_form.html" %}
{% load i18n %}

{% block second_menu %}
<ul class="navbar nav navbar-nav the_submenu">
<li class="{% if not user_attendance.team_complete %}disabled{% endif %} {% if request.resolver_match.url_name == 'competitions' %}active{% endif %}"><a href="{% url 'competitions' %}">{% trans "Pravidelnostní/výkonnostní" %}</a></li>
<li class="{% if not user_attendance.team_complete %}disabled{% endif %} {% if request.resolver_match.url_name == 'questionnaire_competitions' %}active{% endif %}"><a href="{% url 'questionnaire_competitions' %}">{% trans "Dotazníkové/kreativní" %}</a></li>
</ul>
{% endblock %}

{% block competitions_link_class %}active{% endblock %}
