{% extends "base_generic_registration_form.html" %}
{% load i18n %}
{% load dpnk_tags %}

{% block form_intro %}
<h3>{% trans "Doručovací adresa" %}</h3>
{% trans "Startovní balíček bude hromadně doručen na následující adresu pobočky vaší organizace:" %}
<br/>
<pre>
{{ user_attendance.team.subsidiary.company }}
{{ user_attendance.team.subsidiary }}
</pre>
{% trans "Před výběrem trika prosím zkontrolujte, že je adresa pobočky správně." %}
{% trans "Pokud adresa správně není, žádejte změnu:" %}
{% include "registration/request_change_company_coordinator_part.html" %}
{{ block.super }}
{% endblock %}
