{% extends "base_generic_registration_form.html" %}
{% load i18n %}
{% load dpnk_tags %}

{% block form_intro %}
<h3>{% trans "Zkontrolujte doručovací adresu společnosti" %}</h3>
{% trans "Startovní balíček, který obsahuje týmová trička a mnoho dalšího hromadně zasíláme na adresu Vaší společnosti, nebo její vybranou pobočku." %}
<br/>
<pre>
{{ user_attendance.team.subsidiary.company }}
{{ user_attendance.team.subsidiary }}
</pre>
{% blocktrans with emails=user_attendance.company_coordinator_emails %}
Zkontrolujte prosím adresu společnosti, případnou chybu nahlašte na {{ emails }}.
{% endblocktrans %}
{{ block.super }}
{% endblock %}
