{% extends "dpnk/base_generic_form.html" %}
{% load i18n %}
{% load dpnk_tags %}

{% block form_intro %}
<p>
{% trans "Jaké tričko vám bude letos dělat radost? Je čas si vybrat. Letos si můžete vybrat tričko s novou grafikou od Jana Charváta, nebo jeden ze starších modelů od Elišky Podzimkové, Toy_Box či Jaromíra 99. Upozorňujeme, že u starších modelů jsou počty kusů na skladě omezené." %}
</p><p>
{% if next_batch.deadline %}
{% blocktrans with deadline=next_batch.deadline.date delivery_from=next_batch.delivery_from.date delivery_to=next_batch.delivery_to.date %}
Účastníkům zaregistrovaným do {{ deadline }} budeme trika i nákrčníky hromadně odesílat od {{ delivery_from }} do {{ delivery_to }}. Jednoho dne pak na Vaši pracovní adresu zaklepe balík s triky pro všechny členy týmu.
{% endblocktrans %}
{% endif %}
</p><p>
{% blocktrans with emails=user_attendance.company_coordinator_emails %}
    Zkontrolujte si tedy pečlivě doručovací adresu společnosti. Případnou chybu v adrese nahlaste na e-mail {{ emails }}.
{% endblocktrans %}
</p>
<pre>
{{ user_attendance.team.subsidiary.company }}
{{ user_attendance.team.subsidiary }}
</pre>
{{ block.super }}

<script>
(function () {
        let uniqueYears = [];
        let yearAndOptions = {};
        let yearsAndTshirtUrl = {};
        let selectedYear = null;
        let currentButton = null;
        {# All T-Shirts from the view: filtered by current user_attendance campaign #}
        let allTshirts = {{ all_tshirts | safe }};
        let allTshirtsUrls = {{ tshirts_urls | safe }};
        let actualTshirt = "{{ actual_t_shirt | safe }}";
        let campaignTshirtYear = "{{ campaign_t_shirt_year | safe }}";
        noneTshirt = "{{ none_t_shirt | safe }}";

        {# Get one Tshirt for each year #}
        for (let i = 0; i < allTshirts.length; i++) {
            let tshirtName = allTshirts[i]["fields"]["name"];
            let tshirtPreview = allTshirts[i]["fields"]["t_shirt_preview"];

            let [year, _] = tshirtName.split("-");
            if (year && tshirtPreview) {
                yearsAndTshirtUrl[year] = tshirtPreview;
            }
        }

        {# wait until DOM is loaded #}
        document.addEventListener("DOMContentLoaded", function (e) {

            {# TShirt select element add/removeAll #}
            let tshirtSelectElement = document.getElementById("id_userattendance-t_shirt_size");

            function addOpt(OptionObject) {
                tshirtSelectElement.options[tshirtSelectElement.options.length] = OptionObject;
            }

            function removeAllOpts() {
                tshirtSelectElement.options.length = 0;
            }

            {# Parse OPTIONS objects #}
            let tshirtSelectElementOptions = Array.from(tshirtSelectElement.options);
            for (let i = 0; i < tshirtSelectElementOptions.length; i++) {
                // Split option name
                let optionObject = tshirtSelectElementOptions[i];
                let [year, noYearInnerText] = optionObject.innerText.split("-");
                // Get unique years Array
                if (uniqueYears.indexOf(year) === -1 && year) {
                    uniqueYears.push(year)
                }

                // remove year from OPTION's text
                optionObject.innerText = noYearInnerText;
                // parse OPTION to specific year
                yearAndOptions[year] ? yearAndOptions[year].push(optionObject) : yearAndOptions[year] = Array(optionObject)
            }

            {# Create HTML flex container #}
            const tshirtYearContainer = document.createElement("div");
            tshirtYearContainer.style.cssText = 'display: flex; flex-wrap: nowrap; padding-top: 50px; padding-bottom: 50px;'
            for (let i = 0; i < uniqueYears.length; i++) {

                // Card for Tshirt IMG and year BTN
                const tshirtYearCard = document.createElement("div");
                tshirtYearCard.style.cssText = 'display: flex; flex-direction:column; align-items:center; justify-content:space-around;   '

                // Button with Year
                const newButton = document.createElement("button");
                newButton.innerText = uniqueYears[i];
                newButton.type = "button";
                newButton.classList.add('btn');
                newButton.classList.add('btn-default');

                // TShirt image
                const newImg = document.createElement('img');
                newImg.src = allTshirtsUrls[uniqueYears[i]];

                // Put components together
                tshirtYearContainer.appendChild(tshirtYearCard);
                tshirtYearCard.appendChild(newImg);
                tshirtYearCard.appendChild(newButton);

                // Place container into existing HTML structure (before TShirt Select element)
                const currentDiv = document.getElementById("div_id_userattendance-t_shirt_size");
                currentDiv.parentNode.insertBefore(tshirtYearContainer, currentDiv);

                // Listen for button click
                newButton.addEventListener('click', function () {
                    selectedYear = newButton.innerText;
                    // Remove previous active button CSS
                    if (currentButton) {
                        currentButton.classList.remove('btn-primary')
                    }
                    // Save current button  as last clicked and add style
                    currentButton = newButton;
                    currentButton.classList.add('btn-primary');

                    // Delete all Tshirt SELECT option
                    removeAllOpts()

                    // Set new SELECT OPTIONS based on the year
                    for (let i = 0; i < yearAndOptions[selectedYear].length; i++) {
                        addOpt(yearAndOptions[selectedYear][i])
                    }

                })
            }
            const telOptDiv = document.getElementById("div_id_userprofile-telephone_opt_in");
            telOptDiv.insertAdjacentHTML(
              'afterend', '<strong>{% trans "Vyberte typ trika" %}</strong>'
            );

            /**
             * Select select element option
             *
             * param {String} selectId - select element id
             * param {String} opt - select element option text
             */
            function selectOpt(selectId, opt) {
                const tshirtSelectElement = document.getElementById(selectId);
                for (let i = 0; i < tshirtSelectElement.options.length; i++) {
                    if (tshirtSelectElement.options[i].text === opt) {
                        tshirtSelectElement.options[i].selected = true;
                        return true
                    }
                }
                return false
            }

            /**
             * Search an click on the t-shirt button widget
             *
             * @param {String} btnTxt - t-shirt button widget text
             * @return {String} tshirtSizeOpt - user choosed t-shirt option text
            */
            function searchAndClickBtn(btnTxt, tshirtSizeOpt) {
                let tshirtBtn = document.evaluate(
                    `//button[contains(text(), '${btnTxt}')]`,
                    document,
                    null,
                    XPathResult.ANY_TYPE,
                    null
                );
                tshirtBtn = tshirtBtn.iterateNext();
                const paymentDisabledTxt = (
                    '<div>{% trans "Vámi vybraná předchozí velikost" %}'
                    + ' <strong>' + btnTxt + ' - ' + tshirtSizeOpt + '</strong> '
                    + '{% trans "již není dostupná. Vyberte jinou velikost." %}'
                    + "</div>"
                )
                if (noneTshirt) return;
                if (tshirtBtn != null) {
                    tshirtBtn.click();
                    {# Select user choosed t-shirt opt #}
                    if (typeof tshirtSizeOpt !== "undefined") {
                        const findOpt = selectOpt("id_userattendance-t_shirt_size", tshirtSizeOpt)
                        if (!findOpt) {$("#div_id_userprofile-telephone_opt_in").next().after(paymentDisabledTxt);}
                    } else {
                        $("#div_id_userprofile-telephone_opt_in").next().after(paymentDisabledTxt);
                    }
                } else {
                    $("#div_id_userprofile-telephone_opt_in").next().after(paymentDisabledTxt);
                }
            }

            {# Choose None t-shirt #}
            if (noneTshirt) {
                const splitted = noneTshirt.split("-", 2);
                searchAndClickBtn(splitted[0]);
            } else {
                {# User choosed t-shirt exists #}
                if (actualTshirt) {
                    const splitted = actualTshirt.split("-", 2);
                    campaignTshirtYear =  splitted[0];
                    actualTshirt = splitted[1];
                }
                searchAndClickBtn(campaignTshirtYear, actualTshirt);
            }
        })
    }
)()
</script>

{% endblock %}
