/*pages are intended to iframes, be carefull*/
body {
    color: black;
    font-family: Arial;
    font-size: 13px;
}

#content{
    width: 500px;
}
h2, h3, h4, h2 a, h3 a, h4 a, .product-title {
    color: #FF6E00 !important;
    text-decoration: none;
}
h2 {
    font-size: 26px;
}
p {
    margin: 6px;
}
a {
   color: #666666;
}

form div input#id_distance{
    margin-bottom: 15px;
}

form fieldset{
    margin-top: 15px;
}

.errorlist {
    background-color: red;
    color: white;
}

#node-payment-result {
    margin-top: 50px;
    text-align: center;
}

#node-payment-result #payment-result{
    font-size: 16pt;
    margin-bottom: 50px;
}
/*table for rides*/
#rides .date{
    text-align: right;
    font-weight: normal;
}
#rides td{
    width: 75px; 
    text-align: center;
}
.green,.ok{
    color: green;
    font-weight: bold;
}
.red,.alert{
    color: red;
    font-weight: bold;
}
.warning{
    color: orange;
    font-weight: bold;
}

.question-text {
    font-weight: bolder;
}

label[for=id_password], label[for=id_username], .registration-form label {
    width: 200px;
    display: block;
    float: left;
}

table {
    font-size: 9pt;
    max-width: 480px;
}

#questionaire-company .comment-label {
    display: none;
}

#questionaire-company .question-text {
    color: #FF6E00 !important;
    padding-top: 15px;
}

#questionaire-company textarea {
    margin-left: 50px;
}

#questionaire-company .question-34 {
    width: 100px;
    height: 20px;
}
