@primary:#FF6F61;
@secondary:#EF3231;
@ternary:#EF423B;
@grey: #565656;
@lightgrey:#c3c3c3;
@quartus: #1e2d29;
@quintus: #00201F;
@white: #fff;
@fsize: 16px;
@wg:@fsize/16*15;
@positive:#85e233;

// Fix for company select, where users were confused if item is not selected
#hint_id_company.invalid-feedback{
	color: white !important;
}

.alert-info, .alert-warning {
   color: #721c24 !important;
   background-color: #f8d7da !important;
   border-color: #f5c6cb !important;
}

body{
  background-color: @white;
  font-size:16px;
  font-family: 'Open Sans', sans-serif;
}
img{
  width:100%;
  display:inline-block;
  height:auto;
}
#payu_ img {
	width:auto;
}
a{
  color:#000;
  text-decoration: underline;
  .anim2;
  &:hover, &:active, &:focus{
    color:@primary;
    .anim;
  }
}
b, .strong{
      letter-spacing: 0.01rem;
}
p:empty{
  display:none;
}
// ratio perfect forth / 1.33
@ratio: 1.1;
@elements: h1, h2, h3, h4, h5, h6;
@iterations: length(@elements); // lehgth of @elements

.set-font-size(@_i, @_elements, @_fsize, @_ratio) when (@_i > 0) {  
  @selector: extract(@_elements, @_i);

  @{selector} {
    font-size: @_fsize;
    margin-bottom: @_fsize * 0.606;
  }
  .set-font-size(@_i - 1, @_elements, @_fsize * @_ratio, @_ratio);
}
.set-font-size(@iterations, @elements, @fsize, @ratio);

h1, h2, h3, h5, h5{
  font-weight: 800;
}
h2:empty{
  display:none;
}
.btn, input, textarea, .form-control{
  border-radius:0;
  border:0;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select, .form-control{
  background-color:darken(#fff, 5%);
  border: 3px solid @lightgrey;
}
input[type="radio"], input[type="checkbox"]{
  margin-right:.3rem;
}
.form-control:focus{
  border-color:@quartus;
  box-shadow: 0 0 0 0 transparent;
}
.input-group{
  background:@lightgrey;
}
.form_head{
  background-color:@primary;
  color:#fff;
  margin-left:@wg;
  width: 66.66%;
  p{
    margin:0 1rem 1rem 1rem;
    padding:0 1rem 1rem 1rem;
    margin-bottom:0;
  }
  h1, h3{
    text-align:center;
    margin-bottom:0;
    padding:@wg;
  }
  h1 + h3{
    margin:0 @wg;
    padding:0 @wg @wg @wg;
  }
  .lang_switch{
    height:0;
  }
}
.after_form{
  width: 66.66%;
  margin-left:@wg;
}
.lang_switch{
  font-size:@wg*0.9;
  float: right;
  ul{
    padding:0;
    margin:@wg*.85 @wg 0 0;
    li{
      display:inline-block;
      border:0;
      a{
        text-decoration:none;
        padding:0 0 0 @wg*.4;
        color:darken(#fff, 10%);
      }
    }
  }
}
.application-layout form{
  margin-top: 1em;
}
form{
  // display: flex;
  // flex-wrap: wrap;
  input + .input-group-btn{
    border-left:1px solid #fff;
  }
  select.form-control:not([size]):not([multiple]) {
    height:auto;
  }
  .fm-create{
    border: 2px solid @lightgrey;
    border-bottom: 3px solid @lightgrey;
    .anim;
    &:hover, &:active{
      background:#fff;
      .anim;
    }
  }
}
._subsidiary{
  margin-top:@wg;
  h5{
    margin-left:@wg;
    margin-top:@wg;
  }
  ._user{
    margin-bottom:@wg/2;
    padding: @wg;
    background: darken(#fff, 5%);
    border-radius:3px;
    ._name{
      display:block;
      color:@primary;
    }
  }
}
.form-inline{
  align-items:flex-start;
}
.registration_resend_activation, .register_admin, .password_reset, .login, .registrace, .registration_access, .password_change, .zmenit_tym, .zmenit_triko, .edit_company, .company_admin_competition{
  form{
    width:66.66%;
  }
}
.modal-body{
  form{
    width:100%;
  }
}
.registerme,  .register_coordinator{
  &.btn{
    font-size: 0.9rem;
    margin: @wg 0 0 0;
    display:inline-block;
    background:@ternary;
    color:#fff;
    &:hover{
      color:#fff;
      background:spin(@ternary, 10%);
    }
  }
}
.register_coordinator{
  float:right;
}
.remindme,{
  margin:@wg*0.5 @wg 0 0;
  font-size:.9rem;
  display:inline-block;
  opacity:.5;
  text-decoration:none;
  &:hover{
    opacity:1;
    color:#000;
    text-decoration:none;
  }
}
.welcome_message{
  margin-top: 2rem;
}
.homepage.profil, .team_members_col{
  form{
    width: 100%;
  }
}
label{
  width:100%;
}
#rides-form{
  .controls{
    width:100%;
  }
  .btn-group{
    display:block;
  }
  .radio{
    width:50%;
    padding:0;
    border:1px solid #fff;
    input{
      display:none;
    }
  }
  table{
    th, td{
      border:0;
    }
  }
  label{
    font-size:.8rem;
    &:hover{
      text-decoration:underline;
    }
  }
  input:checked + label{
    background-color:@positive;
    margin-bottom:0;
    padding:@wg/4 0;
    &:hover{
      text-decoration:none;
    }
  }
  th.date{
    font-size:1.4rem;
    font-weight:300;
    margin-top:@wg/2;
    border-bottom:1px solid @lightgrey;
    padding-bottom:0;
  }
}
._primary{
  background-color:@primary;
  color:#fff;
  padding:@wg;
}
.application-layout{
  background: linear-gradient(to right, rgba(230,230,230,1) 0%,rgba(230,230,230,1) 20%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); 
  .content{
    margin-top: 4rem;
  }
  &.homepage{
    .content{
      margin-top: 0;
    }
  }
}
.login-layout{
  .inner{
    padding:0;
    width:100%;
  }
  .content{
    display:flex;
    align-items: flex-start;
    min-height: 100vh;
    flex-flow: column;
    .logoutmessage{
      ._primary;
      h2{
        width:100%;
      }
    }
  }
  h2{
    margin:@wg 0;
    text-align: center;
    // width:66.66%;
    &:empty {
       display: none;
    }
  }

  .dpnk-head-logo {
	  height: 50px !important;
	  width: 50px !important;
	  margin:0 5px 0 0;
  }
  form{
    background-color:@primary;
    margin-left: @wg;
    padding:@wg*3 @wg*3 @wg*2 @wg*3;
    color:#fff;
    label{
      font-size:@fsize*0.9;
      width: 100%;
      &.socialLabel{
        margin:@wg 0 @wg/4 0;
      }
    }
    input[type="submit"]{
      width:100%;
      background-color:@secondary;
    }
  }
}
.application-layout{
  .sidebar{
    font-weight:100;
    background-color:@quartus;
    min-height:100vh;
    color: #fff;
    line-height: @wg*2.2;
    .lang_switch{
      .lang_switch;
    }
    ul{
      li{
        list-style:none;
        border-bottom:1px solid #4f564f;
        .anim2;
        &:hover{
          background-color:darken(@quartus, 2%);
          .anim;
        }
      }
    }
    a{
      color:#fff;
      text-decoration:none;
      display:block;
      font-weight:100;
      padding:@wg/4 @wg;
      &:hover, &[aria-expanded="true"], &.active{
        color:@primary;
        background-color:transparent;
      }
    }
    .logo{
      width:@wg*2;
      margin:@wg/2 0 0 0;
      display:inline-block;
      img{
        width:@wg*2;
      }
    }
    .nick{
      text-align:center;
      margin:@wg 0;
      word-wrap: break-word;
      a{
        font-weight:800;
        color:@primary;
      }
    }
  }
  .register{
    padding:0;
    margin:0;
    li{

    }
  }
  .steps{
    .dropdown-menu;
    padding-left: @wg*3.33;
    li{
      &:before{
        content:'1';
        background:#fff;
        border-radius:50%;
        width:@wg;
        height:@wg;
        position:absolute;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:@fsize*.8;
        left: 1.2rem;
        margin-top: 0.5rem;
      }
      &.fulfilled{
         &:before{
          background-color:@primary;
        }
      }
      &:nth-child(2){
          &:before{
          content: '2';
        }
      }
      &:nth-child(3){
        &:before{
          content: '3';
        }
      }
      &:nth-child(4){
        &:before{
          content: '4';
        }
      }
      &:nth-child(5){
        &:before{
          content: '5';
        }
      }
    }
  }
}
.navbar{
  padding:0;
}
.navbar-expand-lg, .navbar-expand-md, .navbar-expand-sm{
  .navbar-collapse{
    // display:block !important;
    flex-flow: column;
    width: 100%;
    align-items: normal;
    margin:0;
    padding:0;
    border-top:1px solid #4f564f;
  }
}
// .navbar-nav + .navbar-nav{
//   border-top:0;
// }
// .collapse:not(.show)
.dropdown-menu{
  padding-top:@wg/2;
  padding-left: 0;
  margin: 0;
  background-color:@quintus;
  width:100%;
  &.show{
    display:block;
    position:static !important;
    transform: translate3d(0, 0, 0) !important;
  }
  a.active{
    background:transparent;
    color:@primary;
  }
  .dropdown-item{
    background-color:@quintus;
  }
}
.aholder{
  width:30%;
  .password_change{
    margin-top: @wg;
  }
}
.avatar_holder{
  padding:0 @wg*4.5;
  text-align:center;
  a{
    &:hover{
      opacity:.7;
    }
  }
  a, span{
    display:inline-block;
    overflow: hidden;
    border-radius:50%;
    padding:4px !important;
    background: conic-gradient(@primary 0% 35%, #fff 35% 100%);
    background-repeat: no-repeat;
    img{
      display:inline-block;
      overflow: hidden;
      border-radius:50%;
      background-color:#fff;
    }
  }
}
._subs_item{
  margin-top:@wg;
  padding:@wg;
  border-top:1px solid @quartus;
  background:darken(#fff, 5%);
  .btn{
    margin-top:@wg/2;
  }
}
.exportme{
  background-color:@lightgrey;
  padding:@wg;
}
._team{
  display:flex;
}
.member-item{
  background:darken(@white, 5%);
  display: inline-block;
  box-shadow: inset 0 0 2px #fff;
  h4{
    padding:0 @wg;
    text-align:center;
    word-wrap: break-word;
    min-height: 3rem;
  }
  .user_head{
    background-color:@quintus;
    color:#fff;
    padding:@wg*2 0 @wg 0;
    box-shadow: inset 0 0 2px #fff;
  }
  .userdata{
    border-top:1px solid @quartus;
    padding:@wg;
    font-size:.8rem;
    div{
      margin-bottom:@wg/2;
    }
  }
  .actions{
    padding:0 @wg*.62;
    label{
      align-items:start;
      justify-content: left;
      font-size:.9rem;
      padding-top:.3rem;
    }
    input, button{
      width:100%;
    }
  }
}
.inner{
  padding:@wg;
}
.noAsterisks .asteriskField{
	display: none;
}
.asteriskField{
  color:#911B3D;
  margin-left:.2rem;
}
.field-row{
  .form-group{
    width: 50%;
    float: left;
    &:nth-child(odd){
      padding-right:@wg/2;
    }
    &:nth-child(even){
      padding-left:@wg/2;
    }
  }
}
.help-block, .form-text{
  width: 100%;
  padding:@wg/2 @wg;
  margin-top: 0;
  background-color:@lightgrey;
  color:darken(@grey, 20%);
  display:inline-block;
  font-size:@fsize*.8;
  .anim2;
  &:hover{
    color:#000 !important;
    .anim2;
  }
}
.invalid-feedback{
  margin:0;
  background:darken(@primary, 10%);
  padding:@wg;
  color:#fff;
}

// https://github.com/twbs/bootstrap/issues/23454
#error_1_id_team.invalid-feedback{
  display: block;
}

.col-form-label {
  margin-left:@wg/2;
  padding-top:0;
}
.btn{
  background-color:darken(#fff, 5%);
  text-decoration:none;
  &.btn-default{
    background-color:lighten(@primary, 10%);
  }
  &.btn-primary{
    background-color:@secondary;
  }
  &.btn-primary, &.btn-default{
    .anim2;
    &:hover{
      .anim;
      color:#000;
      background-color:darken(@primary, 5%);
    }
  }
  &.google, &.facebook{
    display:inline-block;
    background-color:@ternary;
    color:#fff;
    text-decoration:none;
    width:49%;
    .anim2;
    &:hover{
      .anim;
      color:#000;
      background-color:darken(@primary, 5%);
    }
  }
  &.google{
    margin-right: 1%;
  }
  &.facebook{
    margin-left: 1%;
  }
}
.holder{
  text-align:center;
  margin-top:@wg;
}
.clever_tattle{
  font-weight:300;
  font-size:1.4rem;
  line-height:1.85rem;
  margin:@wg*1.6 @wg @wg*2 @wg;
  h1, h2, h3, h4, h5, h6{
    font-size:1.4rem;
    font-weight:500;
  }
}
.frequencybar{
  padding:@wg;
  color:#fff;
}
.sidenote{
  float:right;
  margin-top:-@wg*0.8;
  font-size:.8rem;
  opacity:.6;
  text-decoration:none;
  border-bottom:1px solid @lightgrey;
  &:hover{
    opacity:1;
    text-decoration:none;
    border-bottom:1px solid @primary;
  }
}
.team_members_col{
  margin-top:@wg*.9;
  .avatar_holder{
    padding:0 @wg;
  }
  h6{
    font-size: .8rem;
    text-align:center;
    margin:@wg/2 0 @wg*2 0;
  }
}
.col-fifth{
  width:19%;
  display:inline-block;
}




div.dataTables_length select,
div.dataTables_filter input {
  display: block !important;
}

// Start Calendar view classes
// .green-background {background-color:#00bb00;}
// .green-background:hover {background-color:#005500;}
// .green-background:active {background-color:#005500 !important; }
// .grey-background {background-color:#bbbbbb;}
// .grey-background:hover {background-color:#555555;}

.btn-separator {
    text-align:center;
    border-left: 2px solid #000000;
}

.possible-vacation-day {
  box-shadow: inset 0 50px 50px #ffe4fcc7;
}

.active-day {
    background-color: #ffffff;
}

.locked-day {
    background-color: #aaaaaa;
}


.locked-trip {
    background-color: #9f9f9f !important;
}

.one-ride-day {
    // background-color: #4f6051 !important;
}

.two-ride-day {
    // background-color: #18a025 !important;
}

.out-of-competition-day {
    background-color: #333333;
}

.non-working-day {
    // opacity: 0.5;

}

.trash-button {
}


.mode-icon-container {
    display: inline;
}

.main-loading-overlay { // https://stackoverflow.com/questions/28931791/jquery-how-to-grey-out-the-background-while-showing-the-loading-icon-over-it#28931864
    background: #e9e9e9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1000;
}

.gpx-uploader {
    display: none;
}

.leaflet-container-default {
    width: 100%;
    height: 300px;
}

.leaflet-container-large {
    width: 70vw;
    height: 90vh;
}



.fc-header-toolbar {
    margin-bottom: 0.1em !important;
    font-size: 1.5 !important;
}

.fc-button {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.cal_heading{
  margin:@wg 0 @wg/4 0;
  color:@grey;
}
.calendar_chooser{
  margin:0 0 @wg 0;
  background-color:#f5f5f5;
}
#nav-commute-modes{
  flex: 1;
  height: 100%;
  border:0;
  .nav-item{
    background-color:lighten(@lightgrey, 10%);
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    border:1px solid #fff;
    border-radius:0;
    text-decoration:none;
    padding:@wg;
    &.active{
      background-color:@primary;
      color:#fff;
    }
  }
}
.cart_note, #trip-shopping-cart{
  height: 50%;
  align-items: center;
  display: flex;
  padding:@wg;
  background-color:@grey;
  color:#fff;
}
#trip-shopping-cart{
  background-color:@primary;
  color:#fff;
  justify-content:center;
  &:empty{
    display:none;
  }
}
.tip{
  font-size:.8rem;
}
.path_switch_holder{
  border-left:1px solid #fff;
  select.form-control{
    width:100%;
  }
  .enter_km{
    border-bottom:2px solid @lightgrey;
    border-left:2px solid @lightgrey;
  }
}
.calendar{
  h2{
    color:darken(@lightgrey, 10%);
    font-size: 1.4em;
    margin: 0;
    font-weight: 300;
  }
}
#calendar{
  .fc-content{
    padding:@wg*.5;
    text-align:center;
  }
  .fc-event {
    cursor: pointer;
    border:0;
    border-radius:0;
    .anim;
    &:hover{
      .anim;
      filter: saturate(180%) contrast(120%);
    }
  }
  .locked-day{
    background-image: linear-gradient(135deg, #f3ebff 3.85%, #ffffff 3.85%, #ffffff 50%, #f3ebff 50%, #f3ebff 53.85%, #ffffff 53.85%, #ffffff 100%);
    background-size: 18.38px 18.38px;
  }
  .fc-past{
    color: @lightgrey;
  }
  .fc-today{
    background-color:transparent;
    .fc-day-number{
      color: #fff;
      background-color: #3e3e3e;
      border-radius: 50%;
      font-size: .8rem;
      padding: .2em .1rem .1rem .3rem;
      text-align: center;
    }
  }
  th, td{
    padding:@wg/4 @wg/2;
  }
  .active-trip-filled {
    background-color: @positive;
  }

  .active-trip-unfilled {
      background-color: @lightgrey;
  }
  .fc-day-grid-event.cal_event_trip_to{
    margin-right:@wg; 
    padding-right:0;
    &:before {
      left: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(194, 225, 245, 0);
      border-left-color: @lightgrey;
      border-width: 17px;
    }
    &.active-trip-filled{
       &:before {
        border-left-color: @positive;
      }
    }
  }
  .fc-day-grid-event.cal_event_trip_from {
    margin-left:@wg;
    padding-left:0;
    &:before {
      left: -53%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(194, 225, 245, 0);
      border-right-color: @lightgrey;
      border-width: 17px;
    }
    &.active-trip-filled{
       &:before {
        border-right-color: @positive;
      }
    }

  }
  .wp-event {
    background-color: #ffdcf9;
  }

  .cal-vacation {
      background-color: lightblue;
  }

}
// End calendar view classes
.date
.noanim {
  transition: all 0.0s;
}
.anim {
  transition: all 0.3s;
}
.anim2 {
  transition: all 0.8s;
}
.container{
  max-width:956px;
}
.navbar-toggler{
    position: absolute;
    top: 4.65rem;
    right: 6rem;
    zoom: 150%;
  span{
    display: block;
    position: absolute;
    height: 1px;
    width: @wg*2.5;
    background: #fff;
    opacity: 1;
    .anim;
  }
  &:focus{
    outline:0;
  }
}
// closed
.navbar-toggler.collapsed span {
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  .anim;
}
.navbar-toggler.collapsed span:nth-child(1) {
  transform: rotate(0deg);
  opacity: 1;
  top: 0px;
  transform-origin: left center;
}
.navbar-toggler.collapsed span:nth-child(2) {
  transform: rotate(0deg);
  opacity: 1;
  width: @wg*2.5;
  top: 8px;
  left:8px;
  transform-origin: left center;
}
.navbar-toggler.collapsed span:nth-child(3) {
  transform: rotate(0deg);
  opacity: 1;
  top: 16px;
  transform-origin: left center;
}

// opened
.navbar-toggler span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
  left: 8px;
}
.navbar-toggler span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.navbar-toggler span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
  left: 8px;
}
@media all and (max-width: 769px) {
  .col-fifth{
    width: 33%;
  }
  .container{
    width:100%;
  }
}
@media all and (min-width: 576px) {
  .application-layout{
    .content{
      margin-top: 4rem;
    }
  }
  .navbar-toggler{
    display:none;
  }
}
@media all and (max-width: 480px) {
  .col-fifth{
    width: 100%;
  }
  .application-layout{
    background:transparent;
  }
  .help-block, .form-text{
    color:#000 !important;
  }
  .registration_access, .login, .password_change, .zmenit_tym, .zmenit_triko, .edit_company, .company_admin_competition{
    form{
      width:100%;
      margin:0;
    }
  }
  .login form{
    min-height:100vh;
  }
  .application-layout .sidebar{
    min-height:auto;
  }
  .sidebar{
    ._head{
      background:@primary;
      .nick{
        font-size:@fsize;
        display:inline-block;
        text-align:left;
        a{
          color:#fff;
        }
      }
    }
    .avatar_holder{
      padding:0;
      width:20%;
      margin-left:@wg;
      a{
        box-shadow: 0 0 1px #fff;
      }
    }
  }
}


