{% load dpnk_tags %}
{% load i18n %}

{% if user_attendance.team %}
	<div class='text-warning'>{% trans "Před výběrem trika, prosím, zkontrolujte následující adresu pobočky, na kterou bude doručen startovní balíček. V případě, že je špatně, napište na " %}<a href="mailto:{{campaign.campaign_type.contact_email}}">{{campaign.campaign_type.contact_email}}</a></div>
	<div class="name">
		{% trans "Jméno: " %}{{ user_attendance }}
	</div>
	<div class="address">
		{% trans "Adresa: " %}{{ user_attendance.team.subsidiary }}
	</div>
{% else %}
	<div class='text-warning'>
		  {% trans "Nemáte vybraný tým a tím pádem ani přidělenou adresu pobočky, na kterou bude doručen balíček. Prosím, zkontrolujte si při výběru týmu, jestli adresa vaší pobočky odpovídá realitě. V případě, že je šapatně napište na " %}<a href="mailto:{{campaign.campaign_type.contact_email}}">{{campaign.campaign_type.contact_email}}</a>
	</div>
{% endif %}
