{% load url from future %}
{% load dpnk_tags %}
{% load i18n %}

{% if user_attendance.team %}
<div class='text-warning'>{% trans "Před výběrem trička prosím zkontrolujte následující adresu pobočky, na kterou bude doručen startovní balíček. V případě, že je špatně, napište na " %}<a href="mailto:kontakt@dopracenakole.net">kontakt@dopracenakole.net</a></div>

Jméno: {{ user_attendance }}
<br/>
Adresa: {{ user_attendance.team.subsidiary }}
{% else %}
<div class='text-warning'>{% trans "Nemáte vybraný tým a tím pádem ani přidělenou adresu pobočky, na kterou bude doručen balíček. Prosím, zkontrolujte si při výběru týmu, jestli adresa vaší pobočky odpovídá realitě. V případě, že je šapatně napište na " %}<a href="mailto:kontakt@dopracenakole.net">kontakt@dopracenakole.net</a></div>
{% endif %}
