{% load url from future %}
{% load dpnk_tags %}
{% load i18n %}

{% if competitions %}
<form name="admissions" method="POST">
<input type="hidden" id="admission_competition_id" name="admission_competition_id"/>
<input type="hidden" id="cancellation_competition_id" name="cancellation_competition_id"/>
<table class="table table-striped table-bordered">
   <tr>
      <th scope="column">{% trans "Závod" %}</th>
      <th scope="column">{% trans "Typ" %}</th>
      <th scope="column">{% trans "Akce" %}</th>
   </tr>
   {% for competition in competitions %}
      <tr>
         <td>
            {% if competition.url %}
               <a href="{{ competition.url }}" target="_blank">{{ competition }}</a>
            {% else %}
               {{ competition }}
            {% endif %}
         <td>
            {% if competition.type == 'questionnaire' %}
               dotazník
            {% elif competition.type == 'frequency' %}
               pravidelnost
            {% elif competition.type == 'length' %}
               vzdálenost
            {% endif %}
            {% if competition.competitor_type == 'single_user' %}
               jednotlivců
            {% elif competition.competitor_type == 'liberos' %}
               liberos
            {% elif competition.competitor_type == 'team' %}
               týmů
            {% elif competition.competitor_type == 'company' %}
               společností
            {% endif %}
         </td>
         <td>
            {% if competition.without_admission %}
               {% trans "Do této soutěže jsou automaticky přihlášeni všichni" %} 
            {% else %}
            {% if competition.type == 'questionnaire' %}
               <a href="{% wp_url 'otazka' %}?questionaire={{ competition.slug }}">
                  {% if competition.competitor_has_admission %}
                     změnit odpovědi
                  {% else %}
                     vyplnit dotazník
                  {% endif %}
               </a>
            {% elif competition.type == 'frequency' or competition.type == 'length' %}
               {% if competition.competitor_has_admission %}
                  <button type="button" class="submit" onclick='$("#cancellation_competition_id").val("{{ competition.id }}")'>Odhlásit</button>
               {% else %}
                  <button type="button" class="submit" onclick='$("#admission_competition_id").val("{{ competition.id }}")'>Přihlásit</button>
               {% endif %}
            {% endif %}
            {% endif %}
         </td>
      </tr>
   {% endfor %}
</table>
</form>
{% else %}
<div class="text-info">{% trans "Momentálně nejsou vypsány žádné soutěže, do kterých byste se mohl/a přihlásit" %}</div>
{% endif %}
