{% extends "base_generic_registration_form.html" %}
{% load i18n %}
{% load dpnk_tags %}

{% block form_intro %}
<div>
{% wp_article 10196 %}
</div>
{% trans "Doručení startovního balíčku s tričkem probíhá vždy na dříve zvolenou pobočku vaší organizace. Před výběrem trička prosím zkontrolujte, že je adresa pobočky správně. Pokud správně není, žádejte změnu:" %}
{% include "registration/request_change_company_coordinator_part.html" %}
<br/>
{% trans "Jméno: " %}{{ user_attendance.userprofile.user.get_full_name }}
<br/>
{% trans "Adresa: " %}{{ user_attendance.team.subsidiary.company }}, {{ user_attendance.team.subsidiary }}
<br/>
{{ block.super }}
{% endblock %}
