{% extends "base_generic_registration_form.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block extrahead %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static "js/bootstrap-select/bootstrap-select.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "js/bootstrap-select/bootstrap-select.css"%}">
{{ block.super }}
{% endblock %}


{% block form %}
<style>
   #id_company_div:disabled,
   #id_company:disabled,
   #id_subsidiary:disabled,
   #id_team:disabled {
      visibility: hidden;
   }
</style>

<script>
   function activateOnclick(){
      eval($("#id_team_selected").attr("onClick"));
      eval($("#id_subsidiary_selected").attr("onClick"));
      eval($("#id_company_selected").attr("onClick"));
   }

   function switchCompanyForm(){
      if ($('#id_company_selected').is(':checked')) {
         $("#id_team_selected").prop("checked", true);
         $("#id_subsidiary_selected").prop("checked", true);
      }
      activateOnclick();
   }

   function switchSubsidiaryForm(){
      if ($('#id_subsidiary_selected').is(':checked')) {
         $("#id_team_selected").prop("checked", true);
      } else {
         $("#id_company_selected").prop("checked", false);
      } 
      activateOnclick();
   }

   function switchTeamForm(){
      if (! $('#id_team_selected').is(':checked')) {
         $("#id_subsidiary_selected").prop("checked", false);
         $("#id_company_selected").prop("checked", false);
      }
      activateOnclick();
   }

   $("#id_company_selected").on("click", switchCompanyForm);
   $("#id_subsidiary_selected").on("click", switchSubsidiaryForm);
   $("#id_team_selected").on("click", switchTeamForm);

   $(function() {
      $('#id_company').attr("data-live-search", true);
      $('#id_company').selectpicker();
   });
</script>

{{ block.super }}
{% endblock %}
