{% extends "submenu_team.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block extrahead %}
<script type="text/javascript" src="{% static "bow/bootstrap-select/dist/js/bootstrap-select.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "bow/bootstrap-select/dist/css/bootstrap-select.css"%}">
<script type="text/javascript" src="{% static "bow/jquery-form/jquery.form.js"%}"></script>
{{ block.super }}
{% endblock %}


{% block messages %}
<div class="alert alert-info">
   {% blocktrans %}
   Pokud je název společnosti, nebo adresa pobočky chybná, nezakládejte novou, ale žádejte opravu na <a href='mailto:kontakt@dopracenakole.net?subject=Žádost o změnu adresy společnosti, pobočky nebo týmu'>kontakt@dopracenakole.net</a>.
   {% endblocktrans %}
</div>
{{ block.super }}
{% endblock %}

{% block container_header %}
<style>
   #id_company_div:disabled,
   #id_company:disabled,
   #id_subsidiary:disabled,
   #id_team:disabled {
      visibility: hidden;
   }
</style>

<script>
   function activateOnclick(){
      eval($("#id_team_selected").attr("onClick"));
      eval($("#id_subsidiary_selected").attr("onClick"));
      eval($("#id_company_selected").attr("onClick"));
   }

   function switchCompanyForm(){
      if ($('#id_company_selected').is(':checked')) {
         $("#id_team_selected").prop("checked", true);
         $("#id_subsidiary_selected").prop("checked", true);
      }
      activateOnclick();
   }

   function switchSubsidiaryForm(){
      if ($('#id_subsidiary_selected').is(':checked')) {
         $("#id_team_selected").prop("checked", true);
      } else {
         $("#id_company_selected").prop("checked", false);
      } 
      activateOnclick();
   }

   function switchTeamForm(){
      if (! $('#id_team_selected').is(':checked')) {
         $("#id_subsidiary_selected").prop("checked", false);
         $("#id_company_selected").prop("checked", false);
      }
      activateOnclick();
   }

   $(function() {
      $("#id_company_selected").on("click", switchCompanyForm);
      $("#id_subsidiary_selected").on("click", switchSubsidiaryForm);
      $("#id_team_selected").on("click", switchTeamForm);

      $('#id_company').attr("data-live-search", true);
      $('#id_company').selectpicker();
   });
</script>
{{ block.super }}
{% endblock %}
