{% extends "base_generic.html" %}
{% load static %}
{% load dpnk_tags %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="{% static "bow/jquery-form/jquery.form.js"%}"></script>
{{ block.super }}
{% endblock %}

{% block content %}
<script>
   $.get("{% url 'jizdy' %}", function(data) {
      $("#rides-form-container").append(data);
      $("#rides-form-container").change(function(){
         $("#rides-form :input").prop('readonly', true);
         $("#rides-form").addClass("waiting-for-load");
         $("#rides-form").ajaxSubmit({replaceTarget: false, target: "#rides-form", success: function(){
            $("#rides-form").removeClass("waiting-for-load");
            window.scrollTo(0, 0);
      }})});
   });
</script>
<div id="rides-form-container"></div>

{% block messages %}
{% include "messages_include.html" %}
{{ message }}
{% endblock %}


<h3>{% trans "Novinky" %}</h3>
{% wp_news %}
<h3>{% trans "Cyklisté sobě" %}</h3>
{% cyklistesobe user_attendance.team.subsidiary.city.cyklistesobe_slug %}
{% endblock %}
