{% load url from future %}
{% load dpnk_tags %}
{% load i18n %}
{% load humanize %}
{% load softhyphen_tags %}

{% for competition in competitions %}
<h3>{{ competition.name }}</h3>
{{ competition.my_results.position|ordinal }} místo z {{ competition.competitor_count|intcomma }} 
   {% if competition.competitor_type == 'single_user' %}
      jed&shy;not&shy;liv&shy;ců
   {% elif competition.competitor_type == 'liberos' %}
      li&shy;be&shy;ros
   {% elif competition.competitor_type == 'team' %}
      tý&shy;mů
   {% elif competition.competitor_type == 'company' %}
      spo&shy;le&shy;čno&shy;stí
   {% endif %}
   ( 
      {% if competition.type == 'length' %}
        {{ competition.my_results.result|floatformat:-1|intcomma }}&nbsp;km
      {% elif competition.type == 'frequency' %}
        {{ competition.my_results.get_result_percentage |floatformat:-1|intcomma }}&nbsp;%
      {% elif competition.type == 'questionnaire' %}
        {{ competition.my_results.result|floatformat:-1|intcomma }}b.
      {% endif %}
   )
   <br/>
   <a class="btn btn-primary" href="{% wp_url 'vysledky_souteze' %}?soutez={{ competition.slug }}#row-{{ competition.my_results.id }}">Pořadí</a>
{% endfor %}
