{% extends "base_generic.html" %}
{% load static %}
{% load dpnk_tags %}
{% load i18n %}
{% load thumbnail %}
{% load cache %}

{% block content %}
{% block messages %}
{% include "messages_include.html" %}
{% if message %}
{{ message }}
{% endif %}
{% endblock %}

<div id="rides-form-container">{% include "registration/rides.html" %}</div>

{% cache 3600 profile user_attendance.team.subsidiary.city.slug %}
{% comment %}
<div>
   <h3>{% trans "Vouchery" %}</h3>
   {% wp_article 11260 %}
   <table class="table">
   {% for voucher in user_attendance.voucher_set.all %}
   <tr>
      <td>
         {{ voucher.type_string }}
      </td>
      <td>
         {{ voucher.token }}
      </td>
   </tr>
   {% endfor %}
   </table>
</div>
{% endcomment%}

<div class="row base">
   <div class="col-md-6">
      <h3>{% trans "Novinky" %}</h3>
      {% wp_news %}
   </div>
   <div class="col-md-6">
      <h3>{% trans "Novinky ve městě " %}<a href="{{ BASE_WP_URL }}/locations/{{ city_slug }}">{{ user_attendance.team.subsidiary.city }}</a></h3>
      {% wp_news city_slug %}
   </div>
</div>
<div class="row base">
   <div class="col-md-6">
      <h3>{% trans "Akce ve městě " %}<a href="{{ BASE_WP_URL }}/locations/{{ city_slug }}">{{ user_attendance.team.subsidiary.city }}</a></h3>
      {% wp_actions city_slug %}
   </div>
   <div class="col-md-6">
      <h3>{% trans "Příspěvky z kreativních soutěží" %}</h3>
      {% with questionnaire_answer.first as answer %}
      {% if answer %}
      {{ answer.question.competition }}<br/>
      <a href="{% url "questionnaire" questionnaire_slug=answer.question.competition.slug %}">{% trans "Nahrát vlastní příspěvek" %}</a>
      {% thumbnail answer.attachment "360x360" as foto_thumb %}
      {% if foto_thumb %}
         <a href="{% url "questionnaire_answers_all" competition_slug=answer.question.competition.slug %}" title="Všechny fotky z této soutěže">
         <img src="{{ foto_thumb.url }}" width="{{ foto_thumb.width }}" height="{{ foto_thumb.height }}"></a>
      {% else %}
         <br/>
         <a href="{{ answer.attachment.url }}" target="_blank">{{ answer.attachment }}</a>
      {% endif %}
      <br/>
      {% if answer.comment %}
         {{ answer.comment|linebreaksbr|urlize}}
      {% endif %}
      {% endif %}
      {% endwith %}
   </div>
</div>
<div class="row base">
   <div class="col-md-6">
      <h3>{% trans "Cyklisté sobě" %}</h3>
      <a href="https://www.cyklistesobe.cz/issues/new" target="_blank">Dali jste Cyklistům sobě vědět o problémech na vaši trase?</a>
      {% cyklistesobe user_attendance.team.subsidiary.city.cyklistesobe_slug %}
   </div>
   <div class="col-md-6">
      <h3>{% trans "Cyklistická mapa" %}</h3>
      <p>
      Nevíte jakou zvolit cestu? Využijte naší cyklistické mapy a vyhledávače.
      </p>
      <a href="http://{{ map_city_slug }}.dopracenakole.net" target="_blank"><img src="{% static "img/mapa_upoutavka.png" %}"/></a>
   </div>
</div>
<div class="row base">
    <div class="col-md-12 prizes">
      <h3>{% trans "Ceny ve městě " %}<a href="{{ BASE_WP_URL }}/locations/{{ city_slug }}">{{ user_attendance.team.subsidiary.city }}</a></h3>
      {% wp_prize city_slug %}
   </div>
</div>
{% endcache %}
{% endblock %}
