{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load photologue_tags %}

{% block caption %}
<h2> {{company.name}} </h2>
{% endblock %}
{% block content %}
{% for subsidiary in company.subsidiaries.all %}
{% if subsidiary.teams.count > 0 %}
<p>
    {{subsidiary}}
    <div class="teams-container">
        {% for team in subsidiary.teams.all %}
        <div class="card team-card" >
			      {% if team.lead_photo %}
				    <a href="{{team.lead_photo.image.url}}"target="_blank" rel="noopener noreferrer">
				        <img src="{{team.lead_photo.get_display_url}}"/>
				    </a>
			      {% else %}
					  <img src="{% static 'img/dpnk_logo.svg' %}"/>
			      {% endif %}
            <p><b>{{team.name}}</b></p>
            {% trans "Pravidelnost" %} {{team.get_frequency_percentage|floatformat|intcomma}}%
        </div>
        {% endfor %}
    </div>
</p>
{% endif %}
{% endfor %}
{% endblock %}
