{% extends "base_generic.html" %}
{% load humanize %}
{% load dpnk_tags %}

{% block content %}
{% with user_attendance.get_emissions as emissions %}
<table class="table">
<tr>
   <td>Ujetá vzdálenost (neredukovaná)</td><td>{{ user_attendance.get_nonreduced_length|floatformat:1 }}&nbsp;km</td>
</tr>
<tr>
   <td>CO<sub>2</sub></td><td>{{ emissions.co2|intcomma }}&nbsp;g</td>
</tr>
<tr>
   <td>CO</td><td>{{ emissions.co|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>NO<sub>X</sub></td><td>{{ emissions.nox|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>N<sub>2</sub>O</td><td>{{ emissions.n2o|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>CH<sub>4</sub></td><td>{{ emissions.ch4|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>SO<sub>2</sub></td><td>{{ emissions.ch4|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>Pevné částice</td><td>{{ emissions.solid|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>Olovo</td><td>{{ emissions.pb|intcomma }}&nbsp;mg</td>
</tr>
</tr>
</table>
{% wp_article 11340 %}
{% endwith %}
{% endblock %}
