{% load url from future %}
{% load dpnk_tags %}
{% load i18n %}

<div></div>
{% if is_authentificated %}
   {{ user.get_full_name }}
{% if company_admin %}
   / <a href="{% wp_url 'company_admin' %}">{% trans "Společnost" %}</a >
{% endif %}
   /
   <a href="{% if entered_competition %}{% wp_url 'competition_profile' %}{% else %}{% wp_url 'profil' %}{% endif %}">{% trans "Profil" %}</a>
   /
   <a href="{% wp_url 'logout' %}">{% trans "Odhlásit" %}</a>
{% else %}
   <a href="/prihlasit">{% trans "Přihlásit" %}</a>
   {% if registration_phase_active %}
   /
   <a href="/registrace">{% trans "Registrovat" %}</a>
   {% endif %}
{% endif %}
