{% extends "base_generic_registration_form.html" %}
{% load i18n %}
{% load l10n %}
{% load scribbler_tags %}
{% load cache %}

{% block caption %}
{% endblock %}

{% block content %}
	<div id="landing_page_intro">
      {% with user_attendance.get_team_frequency_icons as frequency_icons %}
      {% if frequency_icons %}
      <img src="{{frequency_icons.main}}"/>
      {% endif %}
      {% endwith %}
		<div class="team_dash">
			<div class="team_info">
				<div class="frequencybar">
						{{ user_attendance.team.get_frequency_percentage|floatformat:"0" }}%
				</div>
				<style>
					.frequencybar{
						  background: linear-gradient(85deg, #473990 0%, #473990 {{ user_attendance.team.get_frequency_percentage|floatformat:"0" }}%, #666666 {{ user_attendance.team.get_frequency_percentage|floatformat:"0" }}%, #565656 100%);
					}
				</style>
				<div class="frequency_title">
					{% if user_attendance.campaign.competitors_choose_team %} {% trans "Týmová" %} {% else %} {% trans "Osobní" %} {% endif %} {% trans 'pravidelnost' %}
				</div>

				{% if user_attendance.campaign.competitors_choose_team %}
					<a class="sidenote" href="{% url "team_frequency" %}">jak se počítá</a>
				{% endif %}

				{# clever tattle #}
				{% if user_attendance.get_random_motivation_message.message %}
					<div class="clever_tattle">
						{% if user_attendance.get_frequency_rank_in_team == 1 and user_attendance.campaign.competitors_choose_team %}
							<i class="fas fa-sun"></i>
							{% trans "Zpráva pro nejlepšího týmového hráče:" %}
						{% endif %}
						{{ user_attendance.get_random_motivation_message.message|safe }}
						{% if user_attendance.team.get_frequency_percentage == 100 %}
							{% trans "A to na" %} 1<i class="fas fa-bicycle"></i> %.
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
		{% if user_attendance.campaign.competitors_choose_team %}
		{# team members #}
		<div class="team_members_col">
				{% for team_member in user_attendance.team.members %}
				<div class="row each">
						<div class="col-4 col-sm-6 col-md-4">
								{% include "./user_profile_image.html" %}
						</div>
						<div class="col-8 col-sm-6 col-md-8 d-flex uname">
								<div class="name">
									  {{ team_member }}
								</div>
								<div class="gain">
		                <span>{{ team_member.get_rides_count_denorm }} jízd</span>
                </div>
						</div>
				</div>
				{% endfor %}
		</div>
		{% endif %}
	</div>
  {% cache 60 "profile_voucher" user_attendance.id %}
  <hr />
  <a name="third-party-vouchers">
  <h3>
      {% trans "Vouchery" %}
  </h3>
  </a>
  {% scribble 'before_vouchers' %}
  {% endscribble %}
  <div class="row">
      {% for voucher in user_attendance.voucher_set.all %}
      <div class="col-12 col-sm-6 col-md-4 card" >
          {% if voucher.voucher_type1.teaser_img %}
          <img src="{{voucher.voucher_type1.teaser_img.url}}"/>
          {% else %}
          {% endif %}
          <p class="voucher-code"><b>Kód: </b><input readonly value="{{voucher.token}}" type="textbox" /></p>
          <p class="voucher-amount"><b>{{voucher.amount}}</b></p>
			    <a href="{{voucher.voucher_type1.eshop_url}}" target="_" class="btn btn-default">{% trans "Otevřit E-Shop" %}</a>
      </div>
      {% endfor %}
  </div>
          <div>
              {% scribble 'after_vouchers' %}{% endscribble %}
          </div>
  </div>
  {% endcache %}


	<script>
		jQuery(document).ready(function($) {
			$(function () {
				$('[data-toggle="tooltip"]').tooltip();
			})
		});
	</script>
{% endblock %}
