{% load static %}
{% include "registration/leaflet_settings.html" %}
<script src="{% static '/leaflet/leaflet.forms.js' %}" type="text/javascript"></script>
<script src="{% static '/leaflet/leaflet.extras.js' %}" type="text/javascript"></script>

<script>
 $(document).ready(function (){
ClearableGeometryField = L.GeometryField.extend({
    addTo: function (map) {
        L.GeometryField.prototype.addTo.call(this, map);
	      window["leaflet-geometry-field"] = this;
	  },
	  clear: function () {
	      lgf = this
	      lgf.drawnItems.eachLayer(function(layer){
	          lgf.drawnItems.removeLayer(layer);
	      });
	  },
	  save: function () {
	      this.store.save(this.drawnItems);
	      console.log(this.drawnItems)
	  },
});
 });
</script>
