{% load url from future %}
{% load dpnk_tags %}
{% load i18n %}

{% trans "Triko: " %}{{ user_attendance.package_shipped.t_shirt_size }}
<br/>
{% trans "Adresa: " %}{{ user_attendance.team.subsidiary }}
<br/>
{% blocktrans with tnt_href="http://www.tnt.com/webtracker/tracking.do?requestType=GEN&searchType=CON&respLang=cs&respCountry=cz&sourceID=1&sourceCountry=ww&cons={{ user_attendance.package_shipped.tracking_number_cnc }}&navigation=1&genericSiteIdent=" %}
Balíček můžete <a href="{{ tnt_href }}">sledovat pomocí TNT</a>
{% endblocktrans %}
