{% extends "base_generic_registration_form.html" %}
{% load url from future %}
{% load dpnk_tags %}
{% load i18n %}

{% block form %}
{% trans "Datum přijetí k sestavení: " %}{{ user_attendance.package_shipped.created.date }}
<br/>
{% trans "Triko: " %}{{ user_attendance.package_shipped.t_shirt_size }}
<br/>
{% trans "Adresa: " %}{{ user_attendance.team.subsidiary }}
<br/>
{% if user_attendance.package_shipped.tracking_number_cnc %}
{% blocktrans with tnt_href="http://www.tnt.com/webtracker/tracking.do?requestType=GEN&searchType=CON&respLang=cs&respCountry=cz&sourceID=1&sourceCountry=ww&cons="|add:user_attendance.package_shipped.tracking_number_cnc|add:"&navigation=1&genericSiteIdent=" %}
Balíček můžete <a href="{{ tnt_href }}">sledovat pomocí TNT</a>
{% endblocktrans %}
{% endif %}
{% endblock %}
