{% load i18n %} {% autoescape off %}

Tento email jste obdrželi proto, že někdo požádal o změnu zapomenutého
hesla pro váš účet na Do práce na kole.  Pokud jste vy o změnu hesla
nežádali, můžete tento email ignorovat.


Přihlašovací jméno: {{ user.username }}

Heslo pro toto přihlašovací jméno si můžete změnit na následující stránce:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

S pozdravem,
Auto*Mat

{% endautoescape %}
