{% load i18n %}
{% load url from future %}

{% if validlink %}

<h1>{% trans "Vložte nové heslo" %}</h1>

<p>{% trans "Zvolte si nové heslo a zapište jej pro kontrolu dvakrát pod sebe." %}</p>

<form method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans "Nové heslo:" %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans "Potvrdit nové heslo:" %}</label>{{ form.new_password2 }}</p>
<button class="submit" type="button">{% trans "Zmenit mé heslo" %}</button>
</form>

{% else %}

<h1>{% trans "Obnovení hesla nebylo úspěšné" %}</h1>

<p>{% trans "Tento odkaz na obnovení hesla není platný, možná proto, že již byl použit. Požádejte prosím o obnovení hesla znovu." %}</p>

{% endif %}
