{% load i18n %}
{% load url from future %}

{% if validlink %}

<h1>Vložte nové heslo</h1>

<p>Zvolte si nové heslo a zapište jej pro kontrolu dvakrát pod sebe.</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">Nové heslo:</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Potvrdit nové heslo:</label>{{ form.new_password2 }}</p>
</form>
<button class="submit">Zmenit mé heslo</button>

{% else %}

<h1>Obnovení hesla nebylo úspěšné</h1>

<p>Tento odkaz na obnovení hesla není platný, možná proto, že již byl použit. Požádejte prosím o obnovení hesla znovu.</p>

{% endif %}
