{% load i18n static %}
<input type="hidden" name="first_name" value="{{firstname}}">
<input type="hidden" name="last_name" value="{{surname}}">
<input type="hidden" name="email" value="{{email}}">
<input type="hidden" name="amount_kc" value="{{amount}}">
<input type="hidden" name="amount" value="{{amount_hal}}">
<input type="hidden" name="pos_id" value="{{ PAYU_POS_ID }}">
<input type="hidden" name="pos_auth_key" value="{{ PAYU_POS_AUTH_KEY }}">
<input type="hidden" name="session_id" value="{{session_id}}">
<input type="hidden" name="language" value="{{LANGUAGE_CODE}}">
<input type="hidden" name="desc" value="{{description}}">
<input type="hidden" name="client_ip" value="{{client_ip}}">
<input type="hidden" name="js" value="0">
