{% extends "base_generic_registration_form.html" %}
{% load crispy_forms_tags %}
{% load url from future %}
{% load i18n %}

{% block extrahead %}
<script language='javascript' type='text/javascript' src="https://secure.payu.com/jsgenerator/js/jquery-latest.js"></script>
<script language='javascript' type='text/javascript' src='https://secure.payu.com/paygw/UTF/js/131116/ea/template:3/paytype.js'></script>
{{ block.super }}
{% endblock %}



{% block form %}
{{ block.super }}
<script>
function switch_description(){
   $("#description_switcher>div").hide();
   $("#" + $("#id_payment_type option:selected").attr("value") + "_description").show()
}
$("#id_payment_type").change(function() {
   switch_description();
});
$(function(){
   switch_description();
});
</script>
<div id="description_switcher">
   <div id="free_description" style="display:none">
      Startovné zdarma můžete čerpat v těchto případech:
      <ul>
         <li>bydlíte ve městě Liberec</li>
         <li>pracujete ve firmě Firma</li>
         <li>jste koordinátorem ve městě Město</li>
      </ul>

      Po zadání tohoto typu platby vyčkejte, než vaši volbu potvrdíme.
   </div>
   <div id="company_description" style="display:none">
      Startovné za mě platí zaměstnavatel Společnost prostřednictvím koordinátora Firemní Koordinátor s emailem firemni.koordinator@email.cz.
   </div>
   <div id="member_description" style="display:none">
      Členové Klubu přátel mají startovné zdarma. Pokud jste členem Klubu přátel, stiskněte tlačítko „Další“ a vyčkejte než vaše členství ověříme.
      <br/>
      <br/>
      Pokud členem Klubu přátel nejste, můžete podpořit aktivity sdružení Auto*mat již za 150 Kč měsíčně:
      <iframe name="django_form" id="django_form" src="http://klub.vnitrni.auto-mat.cz/regular-wp/" frameborder="0" style="height: 1200px; width: 100%"></iframe>
   </div>
   <div id="pay_description" style="display:none">
   <form action="https://secure.payu.com/paygw/UTF/NewPayment" method="POST" name="payform">
   {% trans "Soutěžící:" %} {{firstname}} {{surname}}<br/>
   {% trans "Startovné:" %} {{amount}} Kč<br/>
   <input type="hidden" name="first_name" value="{{firstname}}">
   <input type="hidden" name="last_name" value="{{surname}}">
   <input type="hidden" name="email" value="{{email}}">
   <input type="hidden" name="amount_kc" value="{{amount}}">
   <input type="hidden" name="amount" value="{{amount_hal}}">
   <input type="hidden" name="pos_id" value="131116">
   <input type="hidden" name="pos_auth_key" value="NxFcSXh">
   <input type="hidden" name="session_id" value="{{session_id}}">
   <input type="hidden" name="language" value="{{LANGUAGE_CODE}}">
   <span id="style-of-payment-selection">{% trans "Zvolte si prosím typ platby:" %}</span><br/>
   <div id="payu-final"></div>
   <input type="hidden" name="desc" value="{{description}}">
   <input type="hidden" name="client_ip" value="{{client_ip}}">
   <input type="hidden" name="js" value="0">
   <script language="JavaScript" type="text/javascript">
   PlnPrintTemplate();
   </script>
   <input type="submit" class="btn btn-primary" value="{% trans "Zaplatit" %}"/>
   </form>
   </div>
</div>
{% endblock %}
