{% extends "base_generic_registration_form.html" %}
{% load crispy_forms_tags %}
{% load url from future %}
{% load static %}
{% load i18n %}

{% block extrahead %}
<script language='javascript' type='text/javascript' src='https://secure.payu.com/paygw/UTF/js/131116/ea/template:3/paytype.js'></script>
<script type="text/javascript" src="{% static "js/jquery.form.js"%}"></script>
{{ block.super }}
{% endblock %}



{% block container_footer %}
<script>
function switch_description(){
   $(".description_switcher_div").hide();
   selected_value = $('input[name=payment_type]:checked', '#div_id_payment_type').val()
   $("#" + selected_value + "_description").show()
   if(selected_value == 'pay' || selected_value == 'member_wannabe')
      $(".form-actions").hide();
   else
      $(".form-actions").show();
}
$("#div_id_payment_type").change(function() {
   switch_description();
});

$(function(){
   switch_description();
   $("#div_id_payment_type").append($("#description_switcher"));

   $.get("{{aklub_url}}/regular-dpnk/?firstname={{firstname}}&amp;surname={{surname}}&amp;email={{email}}&amp;telephone={{user_attendance.telephone}}", function(data) {
      $("#aklub-form-container").append(data);
      $("#aklub-form").ajaxForm({replaceTarget: false, target: "#aklub-form", success: function(){
         window.scrollTo(0, 0);
      }});
   });

   $("#pay_description form").submit(function(){
      if($("#payu-hidden-values").is(":empty")) {
         $.get("/dpnk/campaign/platba/ #payu-hidden-values", function(data) {
            $("#payu-hidden-values").html(data);
            $("#pay_description form").submit();
         });
         return false;
      }
   });
});
</script>
<div id="description_switcher">
   <div id="free_description" class="description_switcher_div description" style="display:none">
      <h3>Startovné zdarma</h3>
      Startovné zdarma můžete čerpat v těchto případech:
      <ul>
         <li>bydlíte ve městě Liberec</li>
         <li>pracujete ve firmě Firma</li>
         <li>jste koordinátorem ve městě Město</li>
      </ul>

      Po zadání tohoto typu platby vyčkejte, než vaši volbu potvrdíme.
   </div>
   <div id="company_description" class="description_switcher_div description" style="display:none">
      <h3>Startovné platí zaměstnavatel</h3>
      Startovné za mě platí zaměstnavatel Společnost prostřednictvím koordinátora Firemní Koordinátor s emailem firemni.koordinator@email.cz.
   </div>
   <div id="member_description" class="description_switcher_div description" style="display:none">
      <h3>Člen Klubu přátel</h3>
      Členové Klubu přátel mají startovné zdarma. Pokud jste členem Klubu přátel, stiskněte tlačítko „Další“ a vyčkejte než vaše členství ověříme.
   </div>
   <div id="member_wannabe_description" class="description_switcher_div description" style="display:none">
      <h3>Vstup do Klubu přátel</h3>
      <div id="aklub-form-container"></div>
   </div>
</div>
<div id="pay_description" class="description_switcher_div description">
   <h3>Platba startovného</h3>
   <form action="https://secure.payu.com/paygw/UTF/NewPayment" method="POST" name="payform">
   {% trans "Soutěžící:" %} {{firstname}} {{surname}}<br/>
   {% trans "Startovné:" %} {{amount}} Kč<br/>
   <div id="payu-hidden-values"></div>
   <script language="JavaScript" type="text/javascript">
   PlnPrintTemplate();
   </script>
   <input type="submit" class="btn btn-primary" value="{% trans "Zaplatit" %}"/>
</form>
</div>
{% endblock %}
