{% load i18n %}

<form action="https://secure.payu.com/paygw/UTF/NewPayment" method="POST" name="payform">
{% trans "Soutěžící:" %} {{firstname}} {{surname}}<br/>
{% trans "Startovné:" %} {{amount}} Kč<br/>
<input type="hidden" name="first_name" value="{{firstname}}">
<input type="hidden" name="last_name" value="{{surname}}">
<input type="hidden" name="email" value="{{email}}">
<input type="hidden" name="amount_kc" value="{{amount}}">
<input type="hidden" name="amount" value="{{amount_hal}}">
<input type="hidden" name="pos_id" value="131116">
<input type="hidden" name="pos_auth_key" value="NxFcSXh">
<input type="hidden" name="session_id" value="{{session_id}}">
<span id="style-of-payment-selection">{% trans "Zvolte si prosím typ platby:" %}</span><br/>
<div id="payu-final"></div>
<input type="hidden" name="desc" value="{{description}}">
<input type="hidden" name="client_ip" value="{{client_ip}}">
<input type="hidden" name="js" value="0">
<input type="submit submit_once" class="btn btn-primary" value="{% trans "Zaplatit" %}">
</form>
<script language="JavaScript" type="text/javascript">
<!--
document.forms['payform'].js.value=1;
-->
</script>
