{% extends "base.html" %}
{% load url from future %}

{% block body_id %}profile{% endblock %}
{% block content %}

{% if active %}
{% if own_city %}
<h3>Základní údaje</h3>
<table>
<tr><th scope="row">Jméno</th><td>{{ profile }}</td></tr>
<tr><th scope="row">Tým:</th><td>{{ team.name }}</td></tr>
<tr><th scope="row">Město:</th><td>{{ team.subsidiary.city.name }}</td></tr>
<tr><th scope="row">Pobočka:</th><td>{{ team.subsidiary }}</td></tr>
<tr><th scope="row">Firma:</th><td>{{ team.subsidiary.company.name }}</td></tr>
<tr><th scope="row">Telefon:</th><td>{{ profile.telephone }}</td></tr>
<tr><th scope="row">Email:</th><td>{{ profile.user.email }}</td></tr>
<tr><th scope="row">Velikost trička:</th><td>{{ profile.t_shirt_size }}</td></tr>
<tr><th scope="row">Koordinátor týmu:</th><td>{{ team.coordinator }}
{% if approved_for_team == 'approved' %}
({{ team.coordinator.user.email }}, tel.: {{ team.coordinator.telephone }})
{% endif %}
</td></tr>
{% if approved_for_team == 'approved' %}
<tr><th scope="row">Členové týmu:</th><td>{{ team_members }}</td></tr>
{% endif %}
{% if team_members_count <= 1 %}
<tr><th scope="row">Upozornění:</th><td class="alert"> Jste jedniný odsouhlasený člen týmu. Pro účast ve většině soutěží je potřeba, aby v týmu byly nejméně dva lidé.</td></tr>
{% endif %}
<tr><th scope="row">Členství v týmu:</th>
{% if team.coordinator == profile %}
      <td class="ok">Koordinátor.</td>
{% elif approved_for_team == 'undecided' %}
      <td class="warning">Nebylo dosud odsouhlaseno. Můžete znovu <a href="/registrace/zaslat_zadost_clenstvi">poslat žádost o ověřeření členství</a> koordinátorovi vašeho týmu.</td>
{% elif approved_for_team == 'denied' %}
      <td class="alert">Zamítnuto. Budete si muset <a href="/registrace/upravit_profil/">zvolit jiný tým</a>. </td>
{% elif approved_for_team == 'approved' %}
      <td class="ok">Odsouhlaseno.</td>
{% endif %}
</tr>
<tr><th scope="row">Startovné:</th><td>
      {% if payment_status == 'no_admission' %}
         <span class="ok"> Ve vašem městě se startovné neplatí.</span>
      {% elif payment_status == 'done' %}
         <span class="ok"> Zaplaceno </span>(slevový kód na <a href="http://www.coromoro.com/designova_trika/detail/139-do-prace-na-kole-2012" target="_top">triko</a>: {{ voucher }})
      {% elif payment_status == 'waiting' %}
         {% if payment_type == 'fc' %}
            <span class="alert"> Váš zaměstnavatel ještě poplatek nezaplatil </span>(<a href="/registrace/typ_platby/">Zadat jinou platbu</a>)
         {% elif payment_type == 'am' %}
            <span class="alert"> Vaše členství v Klubu přátel Auto*Mat se ověřuje </span>(<a href="/registrace/typ_platby/">Zadat jinou platbu</a>)
         {% else %}
            <span class="alert"> Čeká se na potvrzení platby </span>(<a href="/registrace/typ_platby/">Zadat jinou platbu</a>)
         {% endif %}
      {% elif payment_status == None %}
         <span class="alert"> Příspěvek dosud nezaplacen. </span><a href="/registrace/typ_platby/">Zaplatit</a> 
      {% endif %}
</td></tr>
</table>
<a href="/registrace/upravit_profil/">Upravit údaje</a> | 
{% if team.coordinator == profile %}
<a href="/registrace/team_admin/">Upravit tým</a> | 
{% endif %}
<a href="/registrace/zmena_hesla/">Změnit heslo</a> | 
<a href="/registrace/logout/">Odhlásit</a>

{% ifequal competition_state 'started' %}

<h3>Moje jízdy</h3>

<!-- <p>Tip: Před vyplněním jízd nejprve zodpovězte anketní otázku</p> -->

<center>
<p><strong style="color:#FF6E00; font-size: 10pt;">Soutěžní skončila, již není možné doplňovat další údaje.</strong></p>
<p>Výherci jednotlivých soutěžních kategorií a další výstupy kampaně budou zveřejněny 7.6. Jste zváni na slavnostní zakončení a vyhlášení výsledků.</p>
<p>Sledujte aktuality!</p>
</center>

<table id="rides">
<tr>
<th scope="column">Den</th>
<th scope="column">Anketa</th>
<th scope="column">Do práce</th>
<th scope="column">Z práce</th>
<th scope="column">Pravidelnost</th>
<th scope="column">Vzdálenost celkem</th>
</tr>
{% for day in calendar %}
<tr>
<form name="calendar-{{ forloop.counter }}" action="/registrace/profil/" method="POST">
<th scope="row" class="date">{{ day.name }}</th>
<td>{% if day.question_active %}<a href="/registrace/otazka/?questionaire=player&day={{ day.iso }}" onclick="window.parent.scroll(0,200);">Otázka</a>{% else %} ? {% endif %}</td>
<td><input type="checkbox" name="trip_to"  disabled="disabled"  {% if day.default_trip_to %}checked="checked"{% endif %}/></td>
<td><input type="checkbox" name="trip_from"  disabled="disabled"  {% if day.default_trip_from %}checked="checked"{% endif %}/></td>
<td {% if day.percentage > 66 %} class="green" {% else %} class="red" {% endif %}>{% if day.trips_active %}{{ day.percentage|floatformat:1 }}%{% endif %}</td>
<td>{% if day.trips_active %}{{ day.distance }} km{% endif %}</td>
</form>
</tr>
{% endfor %}
</table>

<h3>Váš přehled</h3>

<ul>
<li>Aktuálně {{ user_position }}. místo v soutěži jednotlivců</li>
<li>Aktuálně {{ team_position }}. místo v soutěži týmů</li>
<li>Překonaná vzdálenost v týmu: {{ team_distance }} km</li>
<li>Pravidelnost v týmu během kampaně: <span {% if team_percentage > 65 %} class="green" {% else %} class="red" {% endif %}>{{ team_percentage|floatformat:1 }}% </span></li>
</ul>

<table>
<tr>
<th scope="column">Jméno</th>
<th scope="column">Cest</th>
<th scope="column">Pravidelnost</th>
<th scope="column">Vzdálenost</th>
</tr>
{% for member in member_counts %}
<tr>
<td>{{ member.name }}</td>
<td>{{ member.trips }}</td>
<td>{{ member.percentage|floatformat:1 }}%</td>
<td>{{ member.distance }} km</td>
</tr>
{% endfor %}
</table>
{% endifequal %}
{% endif %}

{% ifequal competition_state 'started' %}
{% if own_city %}
<p><a href="/registrace/vysledky?mesto={{team.city}}" onclick="window.parent.scroll(0,200);">Průběžné výsledky</a></p>

<h3>Soutěž Cyklozaměstnavatel roku</h3>
{% if not company_survey_by %}
<p><a href="/registrace/cyklozamestnavatel_roku/?questionaire=company" onclick="window.parent.scroll(0,200);">Vyplnit dotazník</a></p>
{% else %}
{% if company_survey_by == 'me' %}
<p><strong>Děkujeme za vyplnění dotazníku.</strong><br/>
<a href="/registrace/cyklozamestnavatel_roku/?questionaire=company" onclick="window.parent.scroll(0,200);">Prohlédnout dotazník</a></p>
{% else %}
<p>Dotazník cyklozaměstnavatel roku za vaši firmu již vyplnil {{ company_survey_by }}.</p>
{% endif %}
{% endif %}

<p><br/><br/></p>
<p>ENGLISH INFO: To fill out your trips, answer the question first, ask your czech colegue for a help. Little dictionary: startovné = registration fee; upravit údaje = change profile; změnit heslo = change password; odhlásit = log out; anketa = poll; otázka = question; do/z práce = to/from work; odeslat = send; pravidelnost = regularity; vzdálenost = distance; </p>
<p>S dotazy a nejasnostmi se obracejte na kontakt@dopracenakole.net</p>
{% endif %}
{% endifequal %}

{% else %}
Tento profil byl zneaktivněn.</br>
<a href="/registrace/logout/">Odhlásit</a>
{% endif %}

<p>&nbsp;</p>

{% endblock %}
