{% load url from future %}
{% load dpnk_tags %}
{% load i18n %}

{% if active %}
<h3>{% trans "Základní údaje" %}</h3>
<table class="table-striped">
<tr><th scope="row">{% trans "Jméno" %}</th><td>{{ profile }}</td></tr>
<tr><th scope="row">{% trans "Tým:" %}</th><td>{{ team.name }}</td></tr>
<tr><th scope="row">{% trans "Město:" %}</th><td>{{ team.subsidiary.city.name }}</td></tr>
<tr><th scope="row">{% trans "Pobočka:" %}</th><td>{{ team.subsidiary }}</td></tr>
<tr><th scope="row">{% trans "Firma:" %}</th><td>{{ team.subsidiary.company.name }}</td></tr>
<tr><th scope="row">{% trans "Telefon:" %}</th><td>{{ profile.telephone }}</td></tr>
<tr><th scope="row">{% trans "Email:" %}</th><td>{{ profile.user.email }}</td></tr>
<tr><th scope="row">{% trans "Velikost trička:" %}</th><td>{{ profile.get_t_shirt_size_display }}</td></tr>
<tr><th scope="row">{% trans "Počet členů týmu:" %}</th><td>{{ team_members_count }}
<tr><th scope="row">{% trans "Koordinátor týmu:" %}</th><td>{{ team.coordinator }}
{% if approved_for_team == 'approved' %}
({{ team.coordinator.user.email }}, tel.: {{ team.coordinator.telephone }})
   {% if team.coordinator.payment_status == 'waiting' or team.coordinator.payment_status == None %}
      <span class="text-error"> - {% trans "nemá zaplaceno startovné" %}</span>
   {% endif %}
{% endif %}
</td></tr>
{% if approved_for_team == 'approved' %}
<tr><th scope="row">{% trans "Další členové:" %}</th><td>
      {% for member in team_members %}
         {% if not forloop.first %}
            <br/>
         {% endif %}
         {{ member }} ({{ member.user.email }})
         {% if member.payment_status == 'waiting' or member.payment_status == None %}
            <span class="text-error"> - {% trans "nemá zaplaceno startovné" %}</span>
         {% endif %}
      {% endfor %}
</td></tr>
{% endif %}
{% if team_members_count <= 1 %}
<tr><th scope="row">Upozornění:</th><td class="text-error"> {% trans "Váš tým má jediného odslouhlaseného člena. Pro účast ve většině soutěží je potřeba, aby v týmu byly nejméně dva právoplatní členové." %}</td></tr>
{% endif %}
<tr><th scope="row">{% trans "Členství v týmu:" %}</th>
{% if team.coordinator == profile %}
      <td class="text-success">{% trans "Koordinátor." %}</td>
{% elif approved_for_team == 'undecided' %}
      <td class="text-warning">{% trans "Nebylo dosud odsouhlaseno. Můžete znovu " %}<a href="{% wp_url 'zaslat_zadost_clenstvi'%}">{% trans "poslat žádost o ověřeření členství" %}</a> {% trans "koordinátorovi vašeho týmu." %}</td>
{% elif approved_for_team == 'denied' %}
      <td class="text-error">{% trans "Zamítnuto. Budete si muset " %}<a href="{% wp_url 'upravit_profil' %}">{% trans "zvolit jiný tým" %}</a>. </td>
{% elif approved_for_team == 'approved' %}
      <td class="text-success">{% trans "Odsouhlaseno." %}</td>
{% endif %}
</tr>
<tr><th scope="row">{% trans "Startovné:" %}</th><td>
      {% if payment_status == 'no_admission' %}
         <span class="text-success"> {% trans "Ve vašem městě se startovné neplatí." %}</span>
      {% elif payment_status == 'done' %}
         <span class="text-success"> {% trans "Zaplaceno" %}</span>
      {% elif payment_status == 'waiting' %}
         {% if payment_type == 'fc' %}
            <span class="text-error"> {% trans "Váš zaměstnavatel ještě poplatek nezaplatil" %} </span><a href="{% wp_url 'typ_platby' %}" class="btn btn-mini">{% trans "Zadat jinou platbu" %}</a>
         {% elif payment_type == 'am' %}
            <span class="text-error"> {% trans "Vaše členství v Klubu přátel Auto*Mat se ověřuje" %} </span><a href="{% wp_url 'typ_platby' %}" class="btn btn-mini">{% trans "Zadat jinou platbu" %}</a>
         {% else %}
            <span class="text-error"> {% trans "Čeká se na potvrzení platby" %} </span> <a href="{% wp_url 'typ_platby' %}" class="btn btn-mini">{% trans "Zadat jinou platbu" %}</a>
         {% endif %}
      {% elif payment_status == None %}
         <span class="text-error"> {% trans "Příspěvek dosud nezaplacen." %} </span><a href="{% wp_url 'typ_platby' %}" class="btn btn-primary btn-mini">{% trans "Zaplatit" %}</a>
      {% endif %}
</td></tr>
</table>

<div class="btn-group">
<a href="{% wp_url 'upravit_profil' %}" class="btn btn-small">{% trans "Upravit údaje" %}</a>
{% if team.coordinator == profile %}
<a href="{% wp_url 'team_admin' %}" class="btn btn-small">{% trans "Upravit tým" %}</a>
{% endif %}
<a href="{% wp_url 'zmena_hesla' %}" class="btn btn-small">{% trans "Změnit heslo" %}</a>
<a href="{% wp_url 'logout' %}" class="btn btn-small">{% trans "Odhlásit" %}</a>
</div>

{% ifequal competition_state 'started' %}

<h3>Váš přehled</h3>

<ul>
<li>Aktuálně {{ user_position }}. místo v soutěži jednotlivců</li>
<li>Aktuálně {{ team_position }}. místo v soutěži týmů</li>
<li>Překonaná vzdálenost v týmu: {{ team_distance }} km</li>
<li>Pravidelnost v týmu během kampaně: <span {% if team_percentage > 65 %} class="green" {% else %} class="red" {% endif %}>{{ team_percentage|floatformat:1 }}% </span></li>
</ul>

<table>
<tr>
<th scope="column">Jméno</th>
<th scope="column">Cest</th>
<th scope="column">Pravidelnost</th>
<th scope="column">Vzdálenost</th>
</tr>
{% for member in member_counts %}
<tr>
<td>{{ member.name }}</td>
<td>{{ member.trips }}</td>
<td>{{ member.percentage|floatformat:1 }}%</td>
<td>{{ member.distance }} km</td>
</tr>
{% endfor %}
</table>
{% endifequal %}

{% ifequal competition_state 'started' %}
<p><a href="{% wp_url 'vysledky'%}?mesto={{team.city}}" onclick="window.parent.scroll(0,200);">Průběžné výsledky</a></p>

<h3>Soutěž Cyklozaměstnavatel roku</h3>
{% if not company_survey_by %}
<p><a href="{% wp_url 'cyklozamestnavatel_roku'%}?questionaire=company" onclick="window.parent.scroll(0,200);">Vyplnit dotazník</a></p>
{% else %}
{% if company_survey_by == 'me' %}
<p><strong>Děkujeme za vyplnění dotazníku.</strong><br/>
<a href="{% wp_url 'cyklozamestnavatel_roku'%}questionaire=company" onclick="window.parent.scroll(0,200);">Prohlédnout dotazník</a></p>
{% else %}
<p>Dotazník cyklozaměstnavatel roku za vaši firmu již vyplnil {{ company_survey_by }}.</p>
{% endif %}

<p><br/><br/></p>
<p>S dotazy a nejasnostmi se obracejte na kontakt@dopracenakole.net</p>
{% endif %}
{% endifequal %}

{% else %}
Tento profil byl zneaktivněn.</br>
<a href="{% wp_url 'logout' %}">Odhlásit</a>
{% endif %}

<p>&nbsp;</p>
