{% extends "base_generic_form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block form %}
<h2>{{ questionaire.name }}</h2>
<a class="btn btn-block btn-info" href="{{ questionaire.url }}" target="_blank">{% trans "Další informace o soutěži" %}</a>
<br/>
<div id="questionaire-{{ questionaire.slug }}" class="questionnaire" >
<form name="question" method="POST" enctype="multipart/form-data">
{% for question in questions %}
{% if not forloop.first %}
   <hr/>
{% endif %}
{% if question.name %}
   <h3>{{ question.name }}{% if question.required %} *{% endif %}</h3>
{% endif %}
<p class="question-text">{{ question.text|safe }}</p>
{% crispy question.form %}
{% if show_points %}
   ({% if question.points_given != None %} {{question.points_given}} {% else %} - {% endif %} {% trans "b" %})
{% endif %}
{% endfor %}
{% if show_submit %}
<button class="submit submit_once btn btn-block btn-primary" type="submit">{% trans "Odeslat" %}</button>
{% endif %}
</form>
</div>
{% endblock %}
