{% load i18n %}

<div id="questionaire-{{ questionaire }}">
<form name="question" method="POST" enctype="multipart/form-data">
{% for question in questions %}
{% if not forloop.first %}
   <hr/>
{% endif %}
<p class="question-text">{{ question.text }}</p>
{% if question.error %}
   <div class="text-error">Je nutné vyplnit tuto volbu</div>
{% endif %}
{% for choice in question.choices %}
{% if question.type == 'multiple-choice' %}
<label for="choice-{{ choice.id }}"><input type="checkbox" name="choice-{{ question.id }}" id="choice-{{ question.id}}-{{ choice.id }}" value="{{ choice.id }}" {% if choice.id in question.choices_prefill %}checked="checked"{% endif %}/>{{ choice.text }}</label><br/>
{% endif %}
{% if question.type == 'choice' %}
<label for="choice-{{ choice.id }}"><input type="radio" name="choice-{{ question.id }}" id="choice-{{ question.id}}-{{ choice.id }}" value="{{ choice.id }}" {% if choice.id in question.choices_prefill %}checked="checked"{% endif %}/>{{ choice.text }}</label><br/>
{% endif %}
{% endfor %}
{% if question.with_comment %}
<label for="comment-{{ question.id }}"><span class="comment-label">Komentář</span></label>
<textarea name="comment-{{ question.id }}" cols="60" rows="5" class="question">{{ question.comment_prefill }}</textarea><br/>
{% endif %}
{% if question.with_attachment %}
   {%if question.attachment_prefill %}
      <p>Minulý nahraný soubor: <a href="{{ media }}/{{ question.attachment_prefill }}">{{ question.attachment_prefill_name }}</a></p>
   {% else %}
      <p class="text-warning">Není nahrán žádný soubor</p>
   {% endif %}
   <label for="fileupload-{{ question.id }}"><span class="fileupload-label">Zde můžete nahrát soubor</span></label>
   <input type="file" name="fileupload-{{ question.id }}" class="fileupload" id="fileupload-{{question.id}}"/><br/>
{% endif %}
{% endfor %}
{% if error %}
   <div class="text-error">Ne všechny otázky byly zodopvězeny. Prosím zodpovězte je.</div>
{% endif %}
<input type="hidden" name="questionaire" value="{{ questionaire }}">
<button class="submit" type="button">{% trans "Odeslat" %}</button>
<input type="button" onclick="history.go(-1)" value="Zpět">
</form>
</div>
