{% load i18n %}
{% load l10n %}
{% load dpnk_tags %}
{% load humanize %}
{% load crispy_forms_tags %}

<script type="text/javascript">
   $(function () {
      $('[data-toggle="tooltip"]').tooltip()
   })
</script>
<a class="btn-info btn show_rides_btn" type="button" href="{% url "rides_details" %}"><span class="toggle">{% trans "Podrobný přehled jízd" %}</span></a>
<form id="rides-form" name="calendar" method="POST">
{{ formset.management_form }}
<br>

<!-- START radios template -->
<fieldset class="controls btn-group" role="group">
      <div class="radio btn">
        <input type="radio" name="form-1-commute_mode" id="id_form-1-commute_mode_1" value="bicycle">
        <label class="" for="id_form-1-commute_mode_1">
        Na kole
        </label>
      </div>

      <div class="radio btn">
        <input type="radio" name="form-1-commute_mode" id="id_form-1-commute_mode_2" value="by_foot">
        <label class="" for="id_form-1-commute_mode_2">
        Pěšky/běh
        </label>
      </div>

      <div class="radio btn">
        <input type="radio" name="form-1-commute_mode" id="id_form-1-commute_mode_3" value="no_work">
        <label class="" for="id_form-1-commute_mode_3">
        Nepracoval
        </label>
      </div>

      <div class="radio btn">
        <input type="radio" name="form-1-commute_mode" id="id_form-1-commute_mode_4" value="by_other_vehicle">
        <label class="" for="id_form-1-commute_mode_4">
         Jiný dopravní prostředek
        </label>
      </div>
</fieldset>
<!-- END radios template -->


{% if formset.0 %}
<table id="rides" class="table table-bordered table-hover table-condensed">
<thead>
   <tr>
      <th scope="col">{% trans "Den" %}</th>
      <th scope="col">{% trans "Do práce" %}</th>
      <th scope="col">{% trans "Z práce" %}</th>
   </tr>
</thead>
{% for trip_form in formset %}
{% if forloop.counter0|divisibleby:2 %}
<tr class="info">
<th scope="row" class="date">{{ trip_form.initial.date|naturalday:"D j. M" }}</th>
{% endif %}
<td>
   {{ trip_form|crispy }}
   {% if trip_form.instance.has_gpxfile %}
   <abbr data-toggle="tooltip" data-placement="right" title="{% trans 'Zobrazit trasu nebo zadat novou' %}">
   <a href="{% url "gpx_file" id=trip_form.instance.gpxfile.id %}">
      <i class="fa fa-edit"></i>
   </a>
   </abbr>
   {% else %}
   <abbr data-toggle="tooltip" data-placement="right" title="{% trans 'Zadat trasu v mapě nebo nahráním GPX souboru' %}">
   <a href="{% url "gpx_file_create" date=trip_form.instance.date direction=trip_form.instance.direction %}">
      <i class="fa fa-map-marker"></i>
   </a>
   </abbr>
   {% endif %}
</td>
{% if forloop.counter|divisibleby:2 %}
</tr>
{% endif %}
{% endfor %}
</table>
<input type="submit" name="submit" value="{% trans "Odeslat" %}" class="btn btn-primary btn-block" id="submit-id-submit">
{% else %}
<div class="alert alert-info">
{% trans "Zde budete zadávat vaše jízdy" %}
</div>
{% endif %}
</form>
<div></div>
