{% load i18n %}
{% load dpnk_tags %}

<form name="calendar" method="POST">
<input type="hidden" id="day" name="day"/>
<table id="rides" class="table table-striped table-bordered">
<tr>
<th scope="column">Den</th>
<th scope="column">Anketa</th>
<th scope="column">Do práce</th>
<th scope="column">Vzdálenost</th>
<th scope="column">Z práce</th>
<th scope="column">Vzdálenost</th>
<th scope="column">Pravidelnost</th>
<th scope="column">Vzdálenost celkem</th>
</tr>
{% for day in calendar %}
<tr>
<th scope="row" class="date">{{ day.name }}</th>
<td>{% if day.question_active %}<a href="{% wp_url 'otazka' %}?questionaire=player&day={{ day.iso }}">Otázka</a>{% else %} ? {% endif %}</td>
<td><input type="checkbox" name="trip_to-{{ forloop.counter }}"  {% if not day.trips_active %} readonly="readonly" {% endif %}  {% if day.default_trip_to %}checked="checked"{% endif %}/></td>
<td><input type="number" name="distance_to-{{ forloop.counter }}"  {% if not day.trips_active %} readonly="readonly" {% endif %} class="span1" value="{{ day.default_distance_to }}"/></td>
<td><input type="checkbox" name="trip_from-{{ forloop.counter }}"  {% if not day.trips_active %} readonly="readonly" {% endif %}  {% if day.default_trip_from %}checked="checked"{% endif %}/></td>
<td><input type="number" name="distance_from-{{ forloop.counter }}"  {% if not day.trips_active %} readonly="readonly" {% endif %} class="span1" value="{{ day.default_distance_from }}"/></td>
<td><button type="button" class="submit" onclick='$("#day").val("{{ forloop.counter }}")' {% if day.trips_active %}{% else %} disabled="disabled"{% endif %}>OK</button></td>
<td {% if day.percentage > 66 %} class="green" {% else %} class="red" {% endif %}>{% if day.trips_active %}{{ day.percentage|floatformat:1 }}%{% endif %}</td>
<td>{% if day.trips_active %}{{ day.distance }} km{% endif %}</td>
</tr>
{% endfor %}
</table>
</form>
