{% load url from future %}
{% load dpnk_tags bootstrap %}
{% load i18n %}

<form method="post" class="form-horizontal">{% csrf_token %}
{{ form|bootstrap }}
<button class="submit" type="button">{% trans "Odeslat" %}</button>
<a href="{% wp_url 'profil'%}">{% trans "Zpět" %}</a>

<input type="hidden" id="button_action" name="button_action" />
<h3>{% trans "Členové týmu:" %}</h3>
{% if denial_message == 'no_message' %}
   <div class="alert alert-error">{% trans "Při zamítnutí člena týmu musíte vyplnit zprávu." %}</div>
{% elif denial_message == 'team_full' %}
   <div class="alert alert-error">{% trans "Tým je již plný, nemůžete potvrdit dalšího člena." %}</div>
{% endif %}
   <table class="table">
      {% for user in unapproved_users %}
      {% if forloop.first %}
      <thead><tr>
            {% for field in user %}
            {% ifnotequal field.1 None %}
            <th>{{ field.1 }}</th>
            {% endifnotequal %}
            {% endfor %}
      </tr></thead>
      {% endif %}
      <tr class="
         {% if user.0.2 == "undecided" %}
            warning
         {% elif user.0.2 == "denied" %}
            error
         {% else %}
            success
         {% endif %}
         ">
         {% for field in user %}
         {% ifnotequal field.1 None %}
         <td>
            {{ field.2 }}
         </td>
         {% endifnotequal %}
         {% endfor %}
         <td>
            <div class="control-group">
            {% if user.0.2 == 'undecided' or user.0.2 == 'denied' %}
            <div class="controls">
               <button class="submit" type="button" id="approve-{{user.1.2}}" name="approve-{{user.1.2}}">{% trans "Ověřit" %}</button>
            </div>
            {% if user.0.2 == 'undecided' %}
            <div class="controls">
               <label for="reason-{{user.1.2}}">{% trans "Důvod odmítnutí" %}</label>
               <input id="reason-{{user.1.2}}" name="reason-{{user.1.2}}" type="text"/>
               <button class="submit" type="button" id="deny-{{user.1.2}}" name="deny-{{user.1.2}}">{% trans "Zamítnout" %}</button>
            </div>
            {% endif %}
            {% endif %}
            </div>
         </td>
      </tr>
      {% endfor %}
   </table>
</form>
