{% extends "base_generic_form.html" %}
{% load bootstrap %}
{% load i18n %}

{% block form %}
{% include "messages_include.html" %}
{% if old_team %}
Přejete si být přeřazeni z týmu {{ old_team }} do týmu {{ new_team }}?
{% else %}
Přejete si být zařazeni do týmu {{ new_team }}?
{% endif %}

<form method="post" class="form-horizontal">{% csrf_token %}
   {{ form|bootstrap }}
<br/>
<button class="submit submit_once btn btn-block btn-primary" type="submit">{% trans "Odeslat" %}</button>
</form>
{% endblock %}
