{% extends "base.html" %}
{% load url from future %}
{% load dpnk_tags %}
{% block body_id %}team_admin{% endblock %}
{% block content %}
<form method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Odeslat" />
<a href="{% wp_url 'profil'%}">Zpět</a>
</form>

<h3>Členové týmu:</h3>
{% if denial_message %}
<div class="errorlist">Při zamítnutí člena týmu musíte vyplnit zprávu.</div>
{% endif %}
<form method="post">{% csrf_token %}
   <table id="formset" class="form">
      {% for user in unapproved_users %}
      {% if forloop.first %}
      <thead><tr>
            {% for field in user %}
            {% ifnotequal field.1 None %}
            <th>{{ field.1 }}</th>
            {% endifnotequal %}
            {% endfor %}
      </tr></thead>
      {% endif %}
      <tr class="{% cycle row1,row2 %}">
         {% for field in user %}
         {% ifnotequal field.1 None %}
         <td>
            {{ field.2 }}
         </td>
         {% endifnotequal %}
         {% endfor %}
         <td>
            {% if user.0.2 == 'undecided' or user.0.2 == 'denied' %}
            <input type="submit" id="approve-{{user.1.2}}" name="approve-{{user.1.2}}" value="Ověřit"/>
            {% if user.0.2 == 'undecided' %}
            <br/>
            <label for="reason">Důvod odmítnutí</label>
            <input id="reason-{{user.1.2}}" name="reason-{{user.1.2}}" type="text"/>
            <input type="submit" id="deny-{{user.1.2}}" name="deny-{{user.1.2}}" value="Zamítnout"/>
            {% endif %}
            {% endif %}
         </td>
      </tr>
      {% endfor %}
   </table>
</form>
{% endblock %}

