{% extends "base.html" %}
{% load url from future %}
{% load dpnk_tags %}

{% block body_id %}update_profile{% endblock %}
{% block content %}
<form>
{% for field in form %}
   {% if field.name == "team" %}
      <div class="warning">Upozornění: Změna týmu vyžaduje, aby koordinátor nového týmu schválil vaše členství. V případě návratu do původního týmu je taktéž vyžadováno schválení týmem.</div>
   {% endif %}
   <div id="{{field.name}}_div">
       {{ field.errors }}
       {{ field.label_tag }}
       {{ field }}
   </div>
{% endfor %}
{% if not can_change_team %}
   <div class="warning">Upozornění: Nemůžete změnit tým, pokud jste jeho koordinátorem a tým v týmu jsou další členové.</div>
{% endif %}
<a href="{% wp_url 'profil' %}">Zpět</a>
</form>
<button class="submit">Upravit</button>
{% endblock %}

