{% load url from future %}
{% load dpnk_tags bootstrap %}

<form class="form-horizontal">
{% for field in form %}
   {% if field.name == "team" %}
      <div class="text-warning">Upozornění: Změna týmu vyžaduje, aby koordinátor nového týmu schválil vaše členství. V případě návratu do původního týmu je taktéž vyžadováno schválení týmem.</div>
   {% endif %}
   {{ field|bootstrap }}
{% endfor %}
{% if not can_change_team %}
   <div class="text-warning">Upozornění: Nemůžete změnit tým, pokud jste jeho koordinátorem a v týmu jsou další členové.</div>
{% endif %}
<button class="submit" type="button">Upravit</button>
<a href="{% wp_url 'profil' %}">Zpět</a>
</form>
